<div class="text-header-sp">
    <p>{{title}}</p>
</div>
<div class="margin-right-5 width-100 margin-top-5">
	<div class="margin-top-10 required">
	    <p class="bv-title-from">Họ và tên</p>
	</div>
    <div class="input-group margin-top-5" >
        <input type="text" name="{{name}}-contactName" class="bv-input" placeholder="Họ và tên" ng-model="contactName" readonly="readonly"
               required-message="'Chựa chọn thông tin người yêu cầu bảo hiểm!'"
               required/>
        <div class="input-group-addon" ng-click="openSearchContact()">
            <i class="fa fa-plus"></i>
        </div>
    </div>
    <div class="margin-top-10 required">
	    <p class="bv-title-from">Ngày sinh</p>
	</div>

    <div class="margin-right-5 width-100">
        <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
            <div class="width-100">
                <input name="{{name}}-contactDob" type="text" class="bv-input" placeholder="dd/MM/yyyy" ng-model="contactDob"
                       validator = "vm.dobValidator('{{contactDob}}') === true"
                       invalid-message = "vm.dobValidator('{{contactDob}}')"
                       required-message="'Chưa chọn ngày sinh!'"
                       required/>
            </div>
            <div class="input-group-addon bv-date-icon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
	<div class="margin-top-10 required" ng-if="isShowExtendInfo">
	    <p class="bv-title-from">Số CMT/Hộ chiếu</p>
	</div>
	<div class="margin-top-5" ng-if="isShowExtendInfo">
        <input type="text" name="{{name}}-contactIdNumber" class="bv-input" placeholder="Số CMT/Hộ chiếu" ng-model="contactIdNumber"
            required-message="'Chưa nhập thông tin số CMT/Hộ chiếu!'"
           	required/>
    </div>
    <div class="margin-top-10 required" ng-if="isShowExtendInfo">
        <p class="bv-title-from">Quan hệ với người bảo hiểm</p>
    </div>
    <div class="margin-top-5" ng-if="isShowExtendInfo">
        <select name="{{name}}-contactRelation" class="bv-select-box form-control" ng-model="contactRelation"
        	required-message="'Chưa lựa chọn quan hệ!'"
           	required>
            <option value="" selected disabled>--- Lựa chọn quan hệ ---</option>
            <option value="30">Bản thân</option>
            <option value="31">Vợ/Chồng</option>
            <option value="32">Con</option>
            <option value="33">Bố/Mẹ</option>
            <option value="34">Bố mẹ của Vợ/Chồng</option>
        </select>
    </div>
</div>
