<div class="text-header-sp">
    <p>Thông tin người yêu cầu bảo hiểm</p>
</div>
<div class="margin-top-10">
    <p class="bv-title-from">Họ và tên người yêu cầu bảo hiểm</p>
</div>
<!--<div class="margin-top-5">-->
	<!--<div class="input-group">-->
		<!--<input type="text" class="bv-input pull-right" placeholder="Họ và tên" ng-model="vm.tvcBaseVM.name " readonly="readonly"/>-->
		<!--<span class="input-group-btn">-->
    		<!--<button class="btn btn-icon white pull-right" ng-click="vm.openSearchContact()"><i class="fa fa-plus"></i></button>-->
    	<!--</span>-->
	<!--</div>-->
<!--</div>-->
<div class="input-group date margin-top-5 display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
    <div class="width-100">
        <input type="text" class="bv-input pull-right" placeholder="Họ và tên" ng-model="vm.tvcBaseVM.name " readonly="readonly"/>
    </div>
    <div class="input-group-addon bv-date-icon">
        <span class="input-group-btn">
    		<button class="btn btn-icon white pull-right" ng-click="vm.openSearchContact()"><i class="fa fa-plus"></i></button>
    	</span>
    </div>
</div>