<div class="hidden-md hidden-lg text-center ">
    <div class="text-center display-inline-block bv-step-mobile" ng-click="vm.closeOpenStepMobile('step1')" id="mobile-step-1">
        <p class="display-inline-block">{{vm.typeNameOne}}</p>
    </div>
    <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step2')" id="mobile-step-2">
        <p class="display-inline-block">{{vm.typeNameTwo}}</p>
    </div>
    <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step3')" id="mobile-step-3">
        <p class="display-inline-block">{{vm.typeNameThree}}</p>
    </div>
</div>