<div class="row">
    <div class="col-md-12">
        <p>Chọn file để thực hiện import dữ liệu</p>
    </div>
    <div class="col-md-12">
    	<div>
    		<a ng-click="downloadTemplate()">
				<i class="fas fa-paperclip"></i><span class="color-337ab7"> Tải biểu mẫu</span> 		                	
			</a>
    	</div>
    </div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
		<div class="margin-top-5">
			<input type="file" id="importExcelId" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ng-model="fileImport"  /> 
        </div>
	</div>
</div>
