<div class="text-header-sp">
    <p>{{title}}</p>
</div>
<div class="margin-right-5 width-100 margin-top-5">
	<div class="margin-top-10 required">
	    <p class="bv-title-from">Họ và tên</p>
	</div>
    <div class="input-group display-flex margin-top-5" >
        <div class="width-100">
            <input type="text" name="nguoidbhName" id="nguoidbhName" class="bv-input" placeholder="Họ và tên" ng-model="vm.policy.nguoidbhName"
                   required-message="'Chựa chọn thông tin người yêu cầu bảo hiểm!'"
                   required/>
        </div>
    </div>
    
    <div class="margin-top-10 required">
	    <p class="bv-title-from">Ngày sinh</p>
	</div>

    <div class="margin-right-5 width-100">
        <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" readonly="readonly" disabled="disabled">
            <div class="width-100">
                <input name="nguoidbhNgaysinh" type="text" class="bv-input" placeholder="dd/MM/yyyy" ng-model="vm.policy.nguoidbhNgaysinh" readonly="readonly" disabled="disabled"
                       validator = "vm.dobValidator('{{vm.policy.nguoidbhNgaysinh}}') === true"
                       invalid-message = "vm.dobValidator('{{vm.policy.nguoidbhNgaysinh}}')"
                       required-message="'Chưa chọn ngày sinh!'"
                       required/>
            </div>
            <div class="input-group-addon bv-date-icon" readonly="readonly" disabled="disabled">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
	<div class="margin-top-10 required">
	    <p class="bv-title-from">Số CMT/Hộ chiếu</p>
	</div>
	<div class="margin-top-5">
        <input type="text" name="nguoidbhCmnd" id="nguoidbhCmnd" class="bv-input" placeholder="Số CMT/Hộ chiếu" ng-model="vm.policy.nguoidbhCmnd"
            required-message="'Chưa nhập thông tin số CMT/Hộ chiếu!'" ng-blur="vm.checkCMT()"
           	required/>
    </div>
    <div class="margin-top-10 required">
        <p class="bv-title-from">Quan hệ với người yêu cầu bảo hiểm</p>
    </div>
    <div class="margin-top-5">
        <select name="nguoidbhQuanhe" class="bv-select-box form-control" ng-model="vm.policy.nguoidbhQuanhe" ng-change="vm.checkBanthan()"
        	required-message="'Chưa lựa chọn quan hệ!'"
           	required>
            <option value="" selected disabled>--- Lựa chọn quan hệ ---</option>
            <option value="30" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">Bản thân</option>
            <option value="31" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">Vợ/Chồng</option>
            <option value="32" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">Con</option>
            <option value="33" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">Bố/Mẹ</option>
            <option value="34" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">Bố mẹ của Vợ/Chồng</option>
        </select>
    </div>
    
</div>
