<div class="table-responsive bv-home-block-left-table-responsive">
    <table class="table table-bordered table-detail" style="">
        <tbody>
        <tr>
            <th  style="text-align: center !important; background-color: #f4f4f4 !important;">Chương trình bảo hiểm</th>
            <th  style="text-align: center !important; background-color: #f4f4f4 !important;">Bạc</th>
            <th  style="text-align: center !important; background-color: #f4f4f4 !important;">Vàng</th>
            <th  style="text-align: center !important; background-color: #f4f4f4 !important;">Kim Cương</th>
        </tr>
        <tr>
            <th style="text-align: center !important; background-color: #f4f4f4 !important;">Phí bảo hiểm</th>
            <th style="text-align: center !important; background-color: #f4f4f4 !important; color: #1964af !important;">140.000 VND</th>
            <th style="text-align: center !important; background-color: #f4f4f4 !important;color: #1964af !important;">180.000 VND</th>
            <th style="text-align: center !important; background-color: #f4f4f4 !important;color: #1964af !important;">300.000 VND</th>
        </tr>
        <tr>
            <td style="text-align: center"><p style="width: 150px;">Bảo hiểm Tai nạn cá nhân</p></td>
            <td style="text-align: center"><div style="width: 150px;"><p>2 tỷ VND</p><p> 90 909 USD</p></p></div></td>
            <td style="text-align: center"><div style="width: 150px;"><p>4 tỷ VND </p><p>181 818 USD</p></div></td>
            <td style="text-align: center"><div style="width: 150px;"><p>6 tỷ VND </p><p>272 727 USD</p></div></td>
        </tr>
        <tr>
            <td style="text-align: center"><p style="width: 150px;">Bảo hiểm Chi phí y tế</p></td>
            <td style="text-align: center"><div style="width: 150px;"><p>1 tỷ VND 45</p> <p>455 USD</p></div></td>
            <td style="text-align: center"><div style="width: 150px;"><p>2 tỷ VND 90</p> <p>909 USD</p></div></td>
            <td style="text-align: center"><div style="width: 150px;"><p>3 tỷ VND 136</p> <p>364 USD</p></div></td>
        </tr>
        <tr>
            <td style="text-align: center"><p style="width: 150px;">Chi phí vận chuyển y tế cấp cứu</p></td>
            <td style="text-align: center"><p style="width: 150px;">Chi trả toàn bộ Full cover</p></td>
            <td style="text-align: center"><p style="width: 150px;">Chi trả toàn bộ Full cover</p></td>
            <td style="text-align: center"><p style="width: 150px;">Chi trả toàn bộ Full cover</p></td>
        </tr>
        <tr>
            <td style="text-align: center"><p style="width: 150px;">Chi phí khác</p></td>
            <td style="text-align: center"><p style="width: 150px;">Không áp dụng Not covered</p></td>
            <td style="text-align: center"><p style="width: 150px;">Áp dụng Covered</p></td>
            <td style="text-align: center"><p style="width: 150px;">Áp dụng Covered</p></td>
        </tr>
        </tbody>
    </table>
    <p>(Chi tiết hơn và riêng với trẻ em dưới 17 tuổi, người từ 76 tuổi trở lên quyền lợi bảo hiểm có quy định riêng. Quý khách vui lòng xem tại <a href="../View?id=74" target="_blank" style="color: #337ab7;">Bảng quyền lợi bảo hiểm</a>)</p>
</div>