<!-- Chương trình 1 -->
<div ng-show="vm.isShowBill1">
	<div>
	   	<p class="bv-title-from">Bảng tóm tắt quyền lợi bảo hiểm theo chương trình bạn đã chọn (loại tiền VND)</p>
	</div>
	
	<div>
		<table class="table table-bordered table-detail" style="">
			<tbody>
			<tr>
				<th colspan="6" style="text-align: center !important; background-color: #f4f4f4 !important; padding-right: 10px !important;">Chương trình 1 - Số tiền bảo hiểm: 292,500,000</th>
			</tr>
			<tr>
				<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Bảo hiểm bệnh ung thư</th>
				<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Trợ cấp nằm viện</th>
				<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do bệnh ung thư</th>
				<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do tai nạn</th>
			</tr>
			<tr>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
			</tr>
			<tr>
				<td style="width: 100px">62,500,000</td>
				<td style="width: 100px">250,000,000</td>
				<td>500,000/ngày, tối đa 30 ngày/cả đời</td>
				<td>500,000/ngày, tối đa 60 ngày/cả đời</td>
				<td>12,500,000</td>
				<td>12,500,000</td>
			</tr>
			</tbody>
	</table>
	</div>
</div>

<!-- Chương trình 2 -->
<div ng-show="vm.isShowBill2">
	<div>
	   	<p class="bv-title-from">Bảng tóm tắt quyền lợi bảo hiểm theo chương trình bạn đã chọn (loại tiền VND)</p>
	</div>
	
	<div>
		<table class="table table-bordered table-detail" style="">
			<tbody>
				<tr>
					<th colspan="6" style="text-align: center !important; background-color: #f4f4f4 !important; padding-right: 10px !important;">Chương trình 2 - Số tiền bảo hiểm: 585,000,000</th>
				</tr>
				<tr>
					<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Bảo hiểm bệnh ung thư</th>
					<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Trợ cấp nằm viện</th>
					<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do bệnh ung thư</th>
					<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do tai nạn</th>
				</tr>
				<tr>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
				<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
			</tr>
				<tr>
					<td style="width: 100px">125,000,000</td>
					<td style="width: 100px">500,000,000</td>
					<td>1,000,000/ngày, tối đa 30 ngày/cả đời</td>
					<td>1,000,000/ngày, tối đa 60 ngày/cả đời</td>
					<td>25,000,000</td>
					<td>25,000,000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Chương trình 3 -->
<div ng-show="vm.isShowBill3">
	<div>
	   	<p class="bv-title-from">Bảng tóm tắt quyền lợi bảo hiểm theo chương trình bạn đã chọn (loại tiền VND)</p>
	</div>
	
	<div>
		<table class="table table-bordered table-detail" style="">
			<tbody>
				<tr>
					<th colspan="6" style="text-align: center !important; background-color: #f4f4f4 !important; padding-right: 10px !important;">Chương trình 3 - Số tiền bảo hiểm: 1,170,000,000</th>
				</tr>
				<tr>
					<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Bảo hiểm bệnh ung thư</th>
					<th colspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Trợ cấp nằm viện</th>
					<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do bệnh ung thư</th>
					<th rowspan="2" style="text-align: center !important; background-color: #f4f4f4 !important;">Tử vong do tai nạn</th>
				</tr>
				<tr>
					<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
					<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
					<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn sớm</th>
					<th style="text-align: center !important; background-color: #f4f4f4 !important;">Giai đoạn trễ</th>
				</tr>
				<tr>
					<td style="width: 100px">250,000,000</td>
					<td style="width: 100px">1,000,000,000</td>
					<td>2,000,000/ngày, tối đa 30 ngày/cả đời</td>
					<td>2,000,000/ngày, tối đa 60 ngày/cả đời</td>
					<td>50,000,000</td>
					<td>50,000,000</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>