<div class="table-responsive bv-home-block-left-table-responsive">
    <table class="table table-bordered table-detail" style="">
    	<tbody>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">I. Với số tiền bảo hiểm đến 30 triệu đồng/người/vụ</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>1. Trường hợp người được bảo hiểm tử vong do tai nạn thuộc phạm vi bảo hiểm, Bảo hiểm Bảo Việt trả toàn bộ số tiền bảo hiểm.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>2. Trường hợp người được bảo hiểm bị thương tật thân thể do tai nạn thuộc phạm vi bảo hiểm: Bảo hiểm Bảo Việt trả theo bảng tỷ lệ trả tiền bảo hiểm thương tật.</p></div></td>
	        </tr>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">II. Với số tiền bảo hiểm trên 30 triệu đồng/người/vụ</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>1. Trường hợp người được bảo hiểm chết do tai nạn thuộc phạm vi bảo hiểm, Bảo hiểm Bảo Việt trả toàn bộ số tiền bảo hiểm.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>2. Trường hợp người được bảo hiểm bị thương tật thân thể do tai nạn thuộc phạm vi bảo hiểm:</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p> - Bảo hiểm Bảo Việt thanh toán toàn bộ chi phí y tế thực tế phát sinh + tiền bồi dưỡng trong thời gian nằm viện mức 0,1% STBH/ngày, tối đa 180 ngày/năm. Mức bồi thường tối đa không vượt quá tỷ lệ áp dụng cho trường hợp thương tật đó.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p> - Trường hợp chi phí y tế liên quan tới cùng thương tật được bảo hiểm theo Đơn bảo hiểm này được bồi thường hoặc chi trả một phần hoặc toàn bộ từ những loại hình bảo hiểm y tế khác, Bảo hiểm Bảo Việt sẽ thanh toán toàn bộ số tiền chênh lệch mà Người được bảo hiểm phải chi trả + tiền bồi dưỡng trong thời gian nằm viện 0,1% STBH/ngày hoặc 100% tỷ lệ thương tật đó áp dụng cho Số tiền bảo hiểm 30.000.000 đồng/người/vụ, số tiền nào lớn hơn sẽ được áp dụng.</p></div></td>
	        </tr>
        </tbody>
    </table>
    <p>(*) Để biết thêm quyền lợi bảo hiểm chi tiết, Quý khách vui lòng xem tại <a href="https://baovietonline.com.vn/Uploads/product/AccidentCare/AccidentCare%20-%20Policy.pdf" target="_blank" style="color: #337ab7;">Quy tắc/điều khoản bảo hiểm</a></p>
</div>


