<div class="text-header-sp">
    <p>Thông tin người yêu cầu bảo hiểm</p>
</div>
<div class="margin-top-10">
    <p class="bv-title-from">Họ và tên người yêu cầu bảo hiểm</p>
</div>
<!--<div class="margin-top-5">-->
	<!--<div class="input-group">-->
		<!--<input type="text" class="bv-input pull-right" placeholder="Họ và tên" ng-model="vm.contactName" readonly="readonly"/>-->
		<!--<span class="input-group-btn">-->
    		<!--<button class="btn btn-icon white pull-right" ng-click="vm.openSearchContact()"><i class="fa fa-plus"></i></button>-->
    	<!--</span>-->
	<!--</div>-->
    <!---->
<!--</div>-->
<div class="margin-right-5 width-100">
    <div class="input-group " >
        <input type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.contactName" readonly="readonly"/>
        <div class="input-group-addon" ng-click="vm.openSearchContact()">
            <i class="fa fa-plus"></i>
        </div>
    </div>
</div>