<div class="table-responsive bv-home-block-left-table-responsive"
	ng-show="vm.isShowUSD">
	<table class="table table-bordered table-detail" style="">
		<tbody>
			<tr>
				<th
					style="text-align: left !important; width: 200px; background-color: #f4f4f4 !important;">Chương
					trình bảo hiểm</th>
				<th
					style="text-align: left !important; background-color: #f4f4f4 !important;"
					ng-show="vm.policy.planId == 1">Đồng</th>
				<th
					style="text-align: left !important; background-color: #f4f4f4 !important;"
					ng-show="vm.policy.planId == 2">Bạc</th>
				<th
					style="text-align: left !important; background-color: #f4f4f4 !important;"
					ng-show="vm.policy.planId == 3">Vàng</th>
				<th
					style="text-align: left !important; background-color: #f4f4f4 !important;"
					ng-show="vm.policy.planId == 4">Kim Cương</th>
			</tr>
			<tr>
				<td style="text-align: left; width: 200px;"><p>Bảo hiểm
						Tai nạn cá nhân</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 1"><p>4 trăm triệu VND</p>
					<p>18 182 USD</p>
					<p>16 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 2"><p>2 tỷ VND</p>
					<p>90 909 USD</p>
					<p>80 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 3"><p>4 tỷ VND</p>
					<p>181 818 USD</p>
					<p>160 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 4"><p>6 tỷ VND</p>
					<p>272 727 USD</p>
					<p>240 000 EUR</p></td>
			</tr>
			<tr>
				<td style="text-align: left; width: 200px;"><p>Bảo hiểm
						Chi phí y tế</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 1"><p>4 trăm triệu VND</p>
					<p>18 182 USD</p>
					<p>16 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 2"><p>1 tỷ VND</p>
					<p>45 455 USD</p>
					<p>40 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 3"><p>2 tỷ VND</p>
					<p>90 909 USD</p>
					<p>80 000 EUR</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 4"><p>3 tỷ VND</p>
					<p>136 364 USD</p>
					<p>120 000 EUR</p></td>
			</tr>
			<tr>
				<td style="text-align: left; width: 200px;"><p>Chi phí vận
						chuyển y tế cấp cứu</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 1"><p>Chi trả toàn bộ Full
						cover</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 2"><p>Chi trả toàn bộ Full
						cover</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 3"><p>Chi trả toàn bộ Full
						cover</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 4"><p>Chi trả toàn bộ Full
						cover</p></td>
			</tr>
			<tr>
				<td style="text-align: left; width: 200px;"><p>Chi phí khác</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 1"><p>Không áp dụng Not
						covered</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 2"><p>Không áp dụng Not
						covered</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 3"><p>Áp dụng Covered</p></td>
				<td style="text-align: left; width: 200px;"
					ng-show="vm.policy.planId == 4"><p>Áp dụng Covered</p></td>
			</tr>
		</tbody>
	</table>
	<p>
		(Chi tiết hơn và riêng với trẻ em dưới 17 tuổi, người từ 76 tuổi trở
		lên quyền lợi bảo hiểm có quy định riêng. Quý khách vui lòng xem tại <a
			href="https://baovietonline.com.vn/Uploads/product/Bang%20quyen%20loi%20Flexi.pdf"
			target="_blank" style="color: #337ab7;">Bảng quyền lợi bảo hiểm</a>)
	</p>
</div>