<div class="table-responsive bv-home-block-left-table-responsive">
    <table class="table table-bordered table-detail" style="">
    	<tbody>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">1. Phạm vi bảo hiểm</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>Bảo hiểm trường hợp tử vong không phải do tai nạn trừ những điểm loại trừ quy định tại phần 5 dưới đây.</p></div></td>
	        </tr>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">2. Hiệu lực bảo hiểm</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Hợp đồng bảo hiểm có hiệu lực sau 30 ngày kể từ ngày đóng phí bảo hiểm đối với trường hợp ốm đau, bệnh tật thông thường</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Đối với trường hợp tử vong do bệnh đặc biệt/ bệnh có sẵn bảo hiểm chỉ có hiệu lực sau 12 tháng liên tục tham gia theo Điều khoản bảo hiểm này.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Đối với hợp đồng bảo hiểm tái tục liên tục mặc nhiên có hiệu lực ngay sau khi người tham gia bảo hiểm đóng phí cho kỳ tiếp theo.</p></div></td>
	        </tr>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">3. Quyền lợi bảo hiểm</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>Trường hợp người được bảo hiểm chết thuộc phạm vi bảo hiểm, Bảo hiểm Bảo Việt trả toàn bộ số tiền bảo hiểm ghi trên Giấy chứng nhận bảo hiểm hoặc Hợp đồng bảo hiểm.</p></div></td>
	        </tr>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">4. Số tiền bảo hiểm</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>Quý khách lựa chọn tham gia số tiền bảo hiểm: 20, 30, 40 hoặc 50 triệu đồng</p></div></td>
	        </tr>
	        <tr>
	            <th  style="text-align: left !important; background-color: #f4f4f4 !important;">5. Những điểm loại trừ áp dụng chung của điều khoản</th>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>Bảo hiểm Bảo Việt không chịu trách nhiệm với những rủi ro xảy ra với người được bảo hiểm do những nguyên nhân sau:</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Hành động cố ý của người được bảo hiểm hoặc người thừa kế hợp pháp.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Người được bảo hiểm vi phạm nghiêm trọng pháp luật, nội quy, quy định của chính quyền địa phương hoặc các tổ chức xã hội, vi phạm nghiêm trọng luật lệ an toàn giao thông.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Người được bảo hiểm bị ảnh hưởng của ma tuý hoặc các chất kích thích tương tự khác, sử dụng rượu, bia vượt quá nồng độ cho phép theo quy định.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Người được bảo hiểm tham gia các hoạt động hàng không (trừ khi với tư cách là hành khách), tham gia các cuộc diễn tập, huấn luyện quân sự, tham gia chiến đấu của các lực lượng vũ trang.</p></div></td>
	        </tr>
	        <tr>
	        	<td style="text-align: left"><div><p>- Động đất, núi lửa, nhiễm phóng xạ, chiến tranh, nội chiến, đình công.</p></div></td>
	        </tr>
        </tbody>
    </table>
</div>


