<div class="margin-right-5">
    <select class="bv-select-box form-control" ng-options="selected.lineId as selected.lineName for selected in vm.products" ng-model="vm.selProduct">
	</select>
</div>
<div class="margin-right-5">
    <input type="text" class="bv-input-tp" placeholder="placehoder 1"/>
</div>
<div class="margin-right-5">
    <select class="bv-select-box form-control" ng-options="selected.lineId as selected.lineName for selected in vm.products" ng-model="vm.selProduct">
	</select>
</div>
