<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
    <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="bv-title-from">
            <p>Số ấn chỉ</p>
        </div>
        <div class="margin-top-5">
            <input type="text" class="bv-input" placeholder="Nhập số ấn chỉ" ng-model="vm.searchCriterial.number"/>
        </div>
    </div>
    <div class="col-lg-3   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="bv-title-from">
            <p>Số đơn bảo hiểm</p>
        </div>
        <div class="margin-top-5">
            <input type="text" class="bv-input" placeholder="Nhập số ấn chỉ" ng-model="vm.searchCriterial.gycbhNumber"/>
        </div>
    </div>
    <div class="col-lg-3   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="bv-title-from">
            <p>Mã thanh toán</p>
        </div>
        <div class="margin-top-5">
            <input type="text" class="bv-input" placeholder="Nhập mã vạch" ng-model="vm.searchCriterial.urn"/>
        </div>
    </div>

    <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top30">
        <button class="bv-btn-step2" button-spinner="vm.isLoading" button-prepend="fa fa-search" ng-disabled="vm.isLoading" ng-click="vm.search()"> 
        	Tìm kiếm
        </button>
    </div>
</div>
        

