<aside class="main-sidebar">
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview ">
                <a href="#" class="bv-left-menu">
                    <i class="fas fa-tachometer-alt"></i> <span>Trang chủ</span>
                </a>
            </li>
            <li class="treeview">
                <a   class="bv-left-menu">
                    <i class="fas fa-users"></i>
                    <span>Khách hàng</span>
                </a>
            </li>
            <li class="active treeview">
                <a href="pages/widgets.html"  class="bv-left-menu">
                    <i class="fas fa-users"></i>
                     <span>Sản phẩm</span>
                </a>
                <ul class="treeview-menu">
                    <li><a ui-sref="product.car" >Bảo hiểm ô tô</a></li>
                    <li><a href="#">Bảo hiểm An Gia</a></li>
                    <li><a href="#">Bảo hiểm bệnh ung thư</a></li>
                    <li><a href="#">Bảo hiểm du lich quốc tế</a></li>
                    <li><a href="#">Bảo hiểm xe máy</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"  class="bv-left-menu">
                    <i class="fa fa-laptop"></i>
                    <span>Tài liệu</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#"  class="bv-left-menu">
                    <i class="fa fa-edit"></i> <span>Khuyến mãi</span>
                </a>

            </li>
            <li class="treeview">
                <a href="#"  class="bv-left-menu">
                    <i class="fa fa-table"></i> <span>Ấn chỉ</span>
                </a>

            </li>
            <li>
                <a href="pages/calendar.html"  class="bv-left-menu">
                    <i class="fa fa-calendar"></i> <span>Báo cáo</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>