<div class="container">
    <aside>
        <div class="row">
            <div class="col-md-8 col-sm-6 main-post">

                <a href="AgencyView.aspx?id=223">
                    <img src="/Images/SCB1.png" class="img-responsive center-block" style="height: 470px; width: 100%">
                </a>
                <div class="caption">
                    Hợp tác với Bảo hiểm Bảo Việt
                </div>

            </div>

            <!--           // RECENT POST===========-->
            <div class="col-md-4 col-sm-6 recent-post-panel">
                <div class="widget-sidebar">
                    <h2 class="title-widget-sidebar">TIN NỔI BẬT</h2>
                    <div class="content-widget-sidebar">
                        <ul>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=230">
                                        <img src="/Uploads/product/Khuyen_mai_T4_2018.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=230">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>4/3/2018 2:24:14 PM</small></p>
                            </li>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=227">
                                        <img src="/Images/Goal2.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=227">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>8/25/2017 2:23:07 PM</small></p>
                            </li>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=226">
                                        <img src="/Images/Goal1.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=226">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>8/25/2017 2:22:17 PM</small></p>
                            </li>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=225">
                                        <img src="/Images/SCB2.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=225">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>8/25/2017 2:20:31 PM</small></p>
                            </li>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=224">
                                        <img src="/Images/SCB1.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=224">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>8/25/2017 2:19:38 PM</small></p>
                            </li>

                            <li class="recent-post">
                                <div class="post-img">
                                    <a href="AgencyView.aspx?id=223">
                                        <img src="/Images/SCB1.png" class="img-responsive img-thumbnail center-block"></a>
                                </div>
                                <a href="AgencyView.aspx?id=223">
                                    <h5></h5>
                                </a>
                                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i>8/25/2017 1:56:38 PM</small></p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>