<div class="container  margin-top-195">
    <div class=" padding0">
        <p class="bv-tile-templateSummary">
            Đơn hàng chờ giải quyết
        </p>
    </div>
    <div class="display-flex padding0">
        <div class=" padding0 bv-home-block-left">
            <div class="padding030">
                <p class="bv-home-block-left-title">Danh sách đơn hàng chờ đại lý giải quyết</p>
            </div>
            <div class="padding030">
                <p class="bv-home-block-left-number" style="display: inline-block">6</p>
                <i class="fas fa-chevron-right bv-table-arrow-icon"></i>
            </div>
            <div>
                <table style="width:100%" class="bv-home-block-left-table">
                    <tr>
                        <td>
                            <p class="bv-home-table-stt margin-0">1</p>
                        </td>
                        <td>
                            <p class="bv-table-text-colorBlue">BVP.HN.01</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="bv-table-text-colorBlack">Vũ Hoàng Chiến</p>
                            <p class="margin-0">095516446546</p>
                        </td>
                        <td>
                            <i class="fas fa-phone-volume bv-table-icon"></i>
                            <i class="fas fa-exclamation-circle bv-table-icon"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="bv-home-table-stt margin-0">2</td>
                        <td>
                            <p class="bv-table-text-colorBlue">BVP.HN.02</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="bv-table-text-colorBlack">Vũ Nam Phong</p>
                            <p class="margin-0">095516446546</p>
                        </td>
                        <td>
                            <i class="fas fa-phone-volume bv-table-icon"></i>
                            <i class="fas fa-exclamation-circle bv-table-icon"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="bv-home-table-stt margin-0">3</td>
                        <td>
                            <p class="bv-table-text-colorBlue">BVP.HN.03</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="bv-table-text-colorBlack">Nguyễn Thị Nhung</p>
                            <p class="margin-0">095516446546</p>
                        </td>
                        <td>
                            <i class="fas fa-phone-volume bv-table-icon"></i>
                            <i class="fas fa-exclamation-circle bv-table-icon"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class=" padding0 bv-home-block-right" >
            <div class="padding030">
                <p class="bv-home-block-left-title">Danh sách đơn hàng chờ Bảo Việt giải quyết</p>
            </div>
            <div class="padding030">
                <p class="bv-home-block-left-number" style="display: inline-block">12</p>
                <i class="fas fa-chevron-right bv-table-arrow-icon"></i>
            </div>
            <div>
                <table style="width:100%" class="bv-home-block-left-table">
                    <tr>
                        <td>
                            <p class="bv-home-table-stt margin-0">Chờ</p>
                        </td>
                        <td>
                            <p class="margin-0">BVP.HN.01</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="margin-0">Vũ Hoàng Chiến</p>
                            <p class="bv-table-text-colorBlack">Đang giám định</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="bv-home-table-stt margin-0">Chờ</td>
                        <td>
                            <p class="margin-0">BVP.HN.02</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="margin-0">Vũ Nam Phong</p>
                            <p class="bv-table-text-colorBlack">Đang giám định</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="bv-home-table-stt margin-0">Chờ</td>
                        <td>
                            <p class="margin-0">BVP.HN.03</p>
                            <p class="margin-0">20/02/2018</p>
                        </td>
                        <td>
                            <p class="margin-0">Nguyễn Thị Nhung</p>
                            <p class="bv-table-text-colorBlack">Đã nhập GYCBH</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="display-flex margin-top-10">
        <div class="bv-blockTwo-left">
            <p class="bv-tile-templateSummary">
                Đơn hàng chờ giải quyết
            </p>
            <div>
                <img src="../../content/images/chart.png"/>
            </div>
        </div>
        <div class="bv-blockTwo-right">
            <p class="bv-tile-templateSummary">
                Chương trình khuyến mãi
            </p>
            <div class="bv-blockTwo-right-img">
                <img src="../../content/images/ctkm.png"/>
            </div>
        </div>
    </div>
</div>