<div>
    <div class="form-group">
        <label class="control-label">Số tiền nợ phí<span class="bv-req-red">&nbsp(*)</span></label>
        <input autofocus ng-change="textChange()" type="number" ng-model="sotiennophi" id="input-nophi" placeholder="Nhập số tiền nợ phí" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">Ghi chú</label>
        <input type="text" ng-model="note" id="input-nophi" placeholder="Nhập ghi chú" class="form-control">
    </div>
    <span class="text">
        Nhập số tiền nợ phí của khách hàng.
    </span>
</div>