<div class="navbar">
    <!-- Open side - Naviation on mobile -->
    <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg">
      <i class="material-icons">&#xe5d2;</i>
    </a>
    <!-- / -->

    <!-- / -->
    <!-- Page title - Bind to $state's title -->
    <div class="navbar-item pull-left" id="pageTitle" >
        <a class="bv-logo">
            <img src="../../../content/assets/images/logo.png">
        </a>
    </div>
    <div class="navbar-custom-menu pull-right background-fff" >
        <ul class="nav navbar-nav" >
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown">
                <a class="dropdown-toggle bv-menu-tab-user" data-toggle="dropdown">
                    <span class=""> Bạn đang đăng nhâp dưới tên <strong>{{account.ten}}</strong>  </span>
                    <div>
                        <i class="fas fa-gem"></i>
                    </div>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" >
                    <li>
                        <a class="btn dropdown-toggle bv-dropdown-header" type="button" ui-sref="password">Thay đổi mật khẩu</a>
                    </li>
                    <li>
                        <a class="btn dropdown-toggle bv-dropdown-header" type="button" ng-click="logout()">Đăng xuất</a>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
        </ul>
    </div>
</div>
