<ul class="nav background-fff" ui-nav >
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="bv-left-menu">
            <i class="fas fa-tachometer-alt"></i>
            <span class="nav-text">Trang chủ</span>
        </a>
    </li>
    <!-- Khách hàng -->
    <li ui-sref-active="active">
        <a ui-sref="app.contact"  class="bv-left-menu">
            <i class="fas fa-users"></i>
            <span class="nav-text">Khách hàng</span>
        </a>
    </li>

    <!-- Sản phẩm -->
    <li ng-class="{active:$state.includes('app.product')}">
        <a class="bv-left-menu">
	        <span class="nav-caret">
	          	<i class="fa fa-caret-down"></i>
	        </span>
            <i class="fas fa-users"></i>
            <span class="nav-text">Sản phẩm</span>
        </a>
        <ul class="nav-sub treeview">
            <!-- Product CAR -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm ô tô</span>
                </a>
                <ul class="nav-sub treeview">
                    <li ui-sref-active="active">
                        <a ui-sref="product.car">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product BVP -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm An Gia</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.bvp">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product KCare -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm bệnh ung thư</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.kcare">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TVC -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm du lịch quốc tế</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.tvc">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TVI -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm du lịch Việt Nam</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.tvi">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product MOTO -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm xe máy</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.moto">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product HOME -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm nhà tư nhân</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.moto">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product KHC -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm kết hợp con người</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.khc">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TNC -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm tai nạn con người</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.tnc">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product HHVC -->
            <li ui-sref-active="active">
                <a>
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <span class="nav-text">Bảo hiểm Hàng hóa vận chuyển nội địa</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active">
                        <a ui-sref="product.hhvc">
                            <span class="nav-text">Cấp đơn Online</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Offline</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.layout.aside">
                            <span class="nav-text">Cấp đơn Ấn chỉ</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <!-- Ấn chỉ -->
    <li ng-class="{active:$state.includes('app.layout')}">
        <a ui-sref="app.contact"  class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="fas fa-users"></i>
            <span class="nav-text">Ấn chỉ</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a ui-sref="app.layout.header">
                    <span class="nav-text">Ấn chỉ chưa sử dụng</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.layout.aside">
                    <span class="nav-text">Ấn chỉ đã sử dụng</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Giỏ hàng -->
    <li ui-sref-active="active">
        <a ui-sref="app.cart"  class="bv-left-menu">
            <i class="fas fa-cart-plus"></i>
            <span class="nav-text">Giỏ hàng</span>
        </a>
    </li>

	<!-- Đơn hàng -->
    <li ui-sref-active="active">
        <a ui-sref="app.order"  class="bv-left-menu">
            <i class="fas fa-cart-plus"></i>
            <span class="nav-text">Đơn hàng</span>
        </a>
    </li>
    
    <!-- Báo cáo -->
    <li ui-sref-active="active">
        <a ui-sref="app.order"  class="bv-left-menu">
            <i class="fas fa-cart-plus"></i>
            <span class="nav-text">Báo cáo</span>
        </a>
    </li>

    <!-- Tài liệu -->
    <li ui-sref-active="active">
        <a ui-sref="app.echarts.scatter" class="bv-left-menu">
            <i class="fa fa-laptop"></i>
            <span class="nav-text">Tài liệu</span>
        </a>
    </li>
    <!-- Khuyến mại -->
    <li ui-sref-active="active">
        <a ui-sref="app.page.profile" class="bv-left-menu">
            <i class="fas fa-users"></i>
            <span class="nav-text">Khuyến mại</span>
        </a>
    </li>
</ul>
