<ul class="nav background-fff" ui-nav >
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="bv-left-menu">
            <i class="icon-dashboard"></i>
            <span class="nav-text">Trang chủ</span>
        </a>
    </li>
    <!-- Khách hàng -->
    <li ui-sref-active="active" has-authority="PERM_CONTACT_VIEW">
        <a ui-sref="app.contact"  class="bv-left-menu">
            <i class="icon-employees"></i>
            <span class="nav-text">Khách hàng</span>
        </a>
    </li>

    <!-- Sản phẩm -->
    <li ng-class="{active:$state.includes('product')}" has-any-authority="PERM_PRODUCT_BVP_CREATE,PERM_PRODUCT_CAR_CREATE,PERM_PRODUCT_HOM_CREATE,PERM_PRODUCT_KCR_CREATE,PERM_PRODUCT_MOT_CREATE,PERM_PRODUCT_KHC_CREATE,PERM_PRODUCT_TNC_CREATE,PERM_PRODUCT_TVC_CREATE,PERM_PRODUCT_TVI_CREATE,PERM_PRODUCT_HHV_CREATE">
        <a class="bv-left-menu">
	        <span class="nav-caret">
	          	<i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-suitcase"></i>
            <span class="nav-text">Sản phẩm</span>
        </a>
        <ul class="nav-sub treeview">
            <!-- Product CAR -->
            <li has-any-authority="PERM_PRODUCT_CAR_CREATE, PERM_AGREEMENT_OFFLINE_CAR, PERM_AGREEMENT_ANCHI_CAR">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-car"></i>
                    <span class="nav-text">Bảo hiểm ô tô</span>
                </a>
                <ul class="nav-sub treeview">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_CAR_CREATE">
                        <a ui-sref="product.car">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_CAR">
                        <a ui-sref="product.ycbh-offline({productCode:'CAR'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_CAR">
                        <a ui-sref="product.printed-paper({productCode:'CAR'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product MOTO -->
            <li has-any-authority="PERM_PRODUCT_MOT_CREATE, PERM_AGREEMENT_OFFLINE_MOT, PERM_AGREEMENT_ANCHI_MOT">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-motorbike"></i>
                    <span class="nav-text">Bảo hiểm xe máy</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_MOT_CREATE">
                        <a ui-sref="product.moto">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_MOT">
                        <a ui-sref="product.ycbh-offline({productCode:'MOT'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_MOT">
                        <a ui-sref="product.printed-paper({productCode:'MOT'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product BVP -->
            <li has-any-authority="PERM_PRODUCT_BVP_CREATE, PERM_AGREEMENT_OFFLINE_BVP, PERM_AGREEMENT_ANCHI_BVP">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-insurance2"></i>
                    <span class="nav-text">Bảo hiểm An Gia</span>
                </a>
                <ul class="nav-sub treeview">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_BVP_CREATE">
                        <a ui-sref="product.bvp">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_BVP">
                        <a ui-sref="product.ycbh-offline({productCode:'BVP'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_BVP">
                        <a ui-sref="product.printed-paper({productCode:'BVP'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product KCare -->
            <li has-any-authority="PERM_PRODUCT_KCR_CREATE, PERM_AGREEMENT_OFFLINE_KCR, PERM_AGREEMENT_ANCHI_KCR">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-cardiogram bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm bệnh ung thư</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_KCR_CREATE">
                        <a ui-sref="product.kcare">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_KCR">
                        <a ui-sref="product.ycbh-offline({productCode:'KCR'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_KCR">
                        <a ui-sref="product.printed-paper({productCode:'KCR'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TVC -->
            <li has-any-authority="PERM_PRODUCT_TVC_CREATE, PERM_AGREEMENT_OFFLINE_TVC, PERM_AGREEMENT_ANCHI_TVC">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-airplane bv-menu-length"></i>
                    <span class="nav-text width125px ">Bảo hiểm du lịch Flexi</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_TVC_CREATE">
                        <a ui-sref="product.tvc">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_TVC">
                        <a ui-sref="product.ycbh-offline({productCode:'TVC'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_TVC">
                        <a ui-sref="product.printed-paper({productCode:'TVC'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TVI -->
            <li has-any-authority="PERM_PRODUCT_TVI_CREATE, PERM_AGREEMENT_OFFLINE_TVI, PERM_AGREEMENT_ANCHI_TVI">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-vn bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm du lịch Việt Nam</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_TVI_CREATE">
                        <a ui-sref="product.tvi">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_TVI">
                        <a ui-sref="product.ycbh-offline({productCode:'TVI'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_TVI">
                        <a ui-sref="product.printed-paper({productCode:'TVI'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product HOME -->
            <li has-any-authority="PERM_PRODUCT_HOM_CREATE, PERM_AGREEMENT_OFFLINE_HOM, PERM_AGREEMENT_ANCHI_HOM">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-mortgage bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm nhà tư nhân</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_HOM_CREATE">
                        <a ui-sref="product.home">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_HOM">
                        <a ui-sref="product.ycbh-offline({productCode:'HOM'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_HOM">
                        <a ui-sref="product.printed-paper({productCode:'HOM'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product KHC -->
            <li has-any-authority="PERM_PRODUCT_KHC_CREATE, PERM_AGREEMENT_OFFLINE_KHC, PERM_AGREEMENT_ANCHI_KHC">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-insurance bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm kết hợp con người</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_KHC_CREATE">
                        <a ui-sref="product.khc">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_KHC">
                        <a ui-sref="product.ycbh-offline({productCode:'KHC'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_KHC">
                        <a ui-sref="product.printed-paper({productCode:'KHC'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product TNC -->
            <li has-any-authority="PERM_PRODUCT_TNC_CREATE,PERM_AGREEMENT_OFFLINE_TNC,PERM_AGREEMENT_ANCHI_TNC">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-broken-arm bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm tai nạn con người</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_TNC_CREATE">
                        <a ui-sref="product.tnc">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_TNC">
                        <a ui-sref="product.ycbh-offline({productCode:'TNC'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_TNC">
                        <a ui-sref="product.printed-paper({productCode:'TNC'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Product HHVC -->
            <!-- <li has-any-authority="PERM_PRODUCT_HHV_CREATE, PERM_AGREEMENT_OFFLINE_HHV, PERM_AGREEMENT_ANCHI_HHV">
                <a class="bv-left-menu-sp">
		            <span class="nav-caret-child">
			          	<i class="fa fa-caret-down"></i>
			        </span>
                    <i class="icon-truck bv-menu-length"></i>
                    <span class="nav-text width125px">Bảo hiểm Hàng hóa vận chuyển nội địa</span>
                </a>
                <ul class="nav-sub">
                    <li ui-sref-active="active" has-authority="PERM_PRODUCT_HHV_CREATE">
                        <a ui-sref="product.hhvc">
                            Cấp đơn Online
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_OFFLINE_HHV">
                        <a ui-sref="product.ycbh-offline({productCode:'HHV'})">
                            Cấp đơn Offline
                        </a>
                    </li>
                    <li ui-sref-active="active" has-authority="PERM_AGREEMENT_ANCHI_HHV">
                        <a ui-sref="product.printed-paper({productCode:'HHV'})">
                            Cấp đơn Ấn chỉ
                        </a>
                    </li>
                </ul>
            </li> -->
        </ul>
    </li>

    <!-- Ấn chỉ -->
    <li ng-class="{active:$state.includes('printed-paper')}" has-authority="PERM_AGREEMENT_ANCHI_VIEW">
        <a class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-stamp"></i>
            <span class="nav-text">Ấn chỉ</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active">
                <a ui-sref="printed-paper.new">
                    <span class="nav-text">Ấn chỉ chưa sử dụng</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="printed-paper.used">
                    <span class="nav-text">Ấn chỉ đã sử dụng</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Giỏ hàng -->
    <li ui-sref-active="active" has-authority="PERM_CART_VIEW">
        <a ui-sref="app.cart"  class="bv-left-menu">
            <i class="icon-cart"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countCart}}</span></i>
            <span class="nav-text">Giỏ hàng</span>
        </a>
    </li>
    
	<!-- Đơn hàng -->
	<li ng-class="{active:$state.includes('order')}" has-authority="PERM_AGREEMENT_VIEW">
        <a class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-stamp"></i>
            <span class="nav-text">Đơn hàng</span>
        </a>
        <ul class="nav-sub">
        	<li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="app.cart">
                    <i class="icon-cart "><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countCart}}</span></i>
                    <span class="nav-text">Chưa thanh toán</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.me">
                    <i class="fas fa-suitcase"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderMe}}</span></i>
                    <span class="nav-text">Đơn hàng đã cấp</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.later">
                    <i class="fas fa-anchor "><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderLater}}</span></i>
                    <span class="nav-text">Thanh toán sau</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.baoviet">
                    <i class="fas fa-clock "><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countBvWaiting}}</span></i>
                    <span class="nav-text">Chờ Bảo Việt giải quyết</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.agency">
                    <i class="fas fa-clock"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countAgencyWaiting}}</span></i>
                    <span class="nav-text">Chờ đại lý giải quyết</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.expire">
                    <i class="fas fa-spinner"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderExpire}}</span></i>
                    <span class="nav-text">Đơn hàng quá hạn</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
                <a class="bv-left-menu-sp icon-order" ui-sref="order.other">
                    <i class="fas fa-spinner"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderOther}}</span></i>
                    <span class="nav-text">Đơn hàng hết hiệu lực</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_AGREEMENT_VIEW">
            	<a class="bv-left-menu-sp icon-order" ui-sref="order.nophi">
                    <i class="fas fa-dollar-sign"><span class="label rounded red bv-menu-label-sum">{{vm.countInfo.countOrderDebit}}</span></i>
                    <span class="nav-text">Đơn hàng KH nợ phí</span>
                </a>
            </li>
        </ul>
    </li>
    
    <!-- Báo cáo -->
    <li ng-class="{active:$state.includes('report')}" has-any-authority="PERM_REPORT_INCOME_VIEW, PERM_REPORT_COMMISSION_VIEW, PERM_REPORT_TRANSFER_VIEW">
        <a class="bv-left-menu">
            <span class="nav-caret">
	          <i class="fa fa-caret-down"></i>
	        </span>
            <i class="icon-line-graph"></i>
            <span class="nav-text">Báo cáo</span>
        </a>
        <ul class="nav-sub">
            <li ui-sref-active="active" has-authority="PERM_REPORT_INCOME_VIEW">
                <a ui-sref="report.income">
                    <span class="nav-text">Báo cáo doanh thu</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_REPORT_COMMISSION_VIEW">
                <a ui-sref="report.commission">
                    <span class="nav-text">Báo cáo hoa hồng</span>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="PERM_REPORT_TRANSFER_VIEW">
                <a ui-sref="report.transfer">
                    <span class="nav-text">Giao dịch chuyển tiền</span>
                </a>
            </li>
        </ul>
    </li>

    <!-- Tài liệu -->
    <li ui-sref-active="active" has-authority="PERM_DOCUMENT_VIEW">
        <a ui-sref="app.document" class="bv-left-menu">
            <i class="icon-paper"></i>
            <span class="nav-text">Tài liệu</span>
        </a>
    </li>
    <!-- Khuyến mại -->
    <li ui-sref-active="active" has-authority="PERM_PROMOTION_VIEW">
        <a ui-sref="app.promotion" class="bv-left-menu">
            <i class="icon-speaker"></i>
            <span class="nav-text">Khuyến mại</span>
        </a>
    </li>
</ul>
