<!-- <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 ">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0">
        <p class="bv-title-home" data-translate="app.product.title.{{$state.current.data.title}}">Sản phẩm bảo hiểm</p>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
        <div class="bv-btn-groud-header">
        	<div class="bv-btn-header-title nav-item dropdown">
	            <div data-toggle="dropdown">
	              <i class="fas fa-file-alt"></i>
                	<span>Tạo đơn hàng mới</span>
	            </div>
	            <div ui-include="'views/theme/blocks/widget.products.html'"></div>
         	</div>
          
            <div class="bv-btn-header-title" ng-click="vm.openAddContact()">
                <i class="fas fa-user"></i>
                <span>Tạo khách hàng mới</span>
            </div>
        </div>
    </div>
</div>
 -->
 <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-border-bottom-b4cfe4 ">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0">
        <p class="bv-title-home" data-translate="global.page.title.{{$state.current.data.title}}">Trang chủ</p>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
        <div class="bv-btn-groud-header">
            <div class="nav-item dropdown display-inline-block">
	            <div  class="bv-btn-header-title"  data-toggle="dropdown">
	              <i class="icon-documentation"></i>
                	<span>Tạo đơn hàng mới</span>
	            </div>
	            <div ui-include="'views/theme/blocks/widget.products.html'"></div>
         	</div>
            <div class="bv-btn-header-title" ng-click="openAddContact()">
                <i class="icon-employees-01"></i>
                <span>Tạo khách hàng mới</span>
            </div>
            <div class="bv-btn-header-title" data-toggle="collapse" data-target="#demo">
                <i class="icon-calculator"></i>
                <span>Tính phí nhanh</span>
            </div>
        </div>
    </div>
    
    <!-- Tính phí nhanh -->
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 padding0 collapse margin-bottom-15" id="demo">
        <div class="bv-collapse-tp">
            <div class="bv-collapse-tp-icon margin-top-10 margin-right-5 m-w-150">
                <i class="icon-calculator"></i>
                <span>Tính phí nhanh</span>
            </div>
            <!-- Input -->
            <div class="margin-right-5 margin-bottom-5">
                <select class="bv-select-box form-control" ng-options="selected.lineId as selected.lineName for selected in vm.products" ng-model="vm.selProduct">
                </select>
            </div>
            
    		<div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-CAR.html'" ng-show="vm.selProduct == 'CAR'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-BVP.html'" ng-show="vm.selProduct == 'BVP'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-KCARE.html'" ng-show="vm.selProduct == 'KCARE'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-TVC.html'" ng-show="vm.selProduct == 'TVC'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-TVI.html'" ng-show="vm.selProduct == 'TVI'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-MOTO.html'" ng-show="vm.selProduct == 'MOTO'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-HOME.html'" ng-show="vm.selProduct == 'HOME'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-KHC.html'" ng-show="vm.selProduct == 'KHC'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-TNC.html'" ng-show="vm.selProduct == 'TNC'"></div>
            <div class="bv-collapse-tp" ng-include="'views/theme/blocks/premium/partial.premium-HHVC.html'" ng-show="vm.selProduct == 'HHVC'"></div>
            <!-- <div class="margin-right-5">
                <input type="text" class="bv-input-tp" placeholder="placehoder 1"/>
            </div>
            <div class="margin-right-5">
                <input type="text" class="bv-input-tp" placeholder="placehoder 1"/>
            </div>
            <div class="margin-right-5">
                <input type="text" class="bv-input-tp" placeholder="placehoder 1"/>
            </div>
            <div class="margin-right-5">
                <input type="text" class="bv-input-tp" placeholder="placehoder 1"/>
            </div> -->
            <!-- Button -->
            <div class="margin-top-10 m-w-150">
                <div class=" bv-kh-padding-left">
                    <button class="bv-btn-step2 bv-padding-tp"
                            uib-popover
                            uib-popover-template="'premium-tpl.html'"
                            popover-placement="top"
                            popover-trigger="focus">
                        Tính phí nhanh
                    </button>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="premium-tpl.html">
      		<div class="popover-content" ng-switch="vm.isCanPremium">
        		<div ng-switch-when="false" class="bv-background-premium">
          			Không đủ dữ liệu tính phí
        		</div>
				<div ng-switch-when="true">
					<div>PHÍ BẢO HIỂM DỰ KIẾN</div>
					<div>450,000 VND</div>
					<div><button>TIẾP TỤC MUA</button></div>
        		</div>
      		</div> 
    	</script>
   	</div>
</div>