<!-- <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 ">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0">
        <p class="bv-title-home" data-translate="app.product.title.{{$state.current.data.title}}">Sản phẩm bảo hiểm</p>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
        <div class="bv-btn-groud-header">
        	<div class="bv-btn-header-title nav-item dropdown">
	            <div data-toggle="dropdown">
	              <i class="fas fa-file-alt"></i>
                	<span>Tạo đơn hàng mới</span>
	            </div>
	            <div ui-include="'views/theme/blocks/widget.products.html'"></div>
         	</div>
          
            <div class="bv-btn-header-title" ng-click="vm.openAddContact()">
                <i class="fas fa-user"></i>
                <span>Tạo khách hàng mới</span>
            </div>
        </div>
    </div>
</div>
 -->
 <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-border-bottom-b4cfe4">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0 padding0">
        <p class="bv-title-home" data-translate="global.page.title.{{$state.current.data.title}}">Trang chủ</p>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
        <div class="bv-btn-groud-header">
            <div class="bv-btn-header-title">
                <i class="icon-documentation"></i>
                <span>Tạo đơn hàng mới</span>
            </div>
            <div class="bv-btn-header-title" ng-click="openAddContact()">
                <i class="icon-employees-01"></i>
                <span>Tạo khách hàng mới</span>
            </div>
            <div class="bv-btn-header-title">
                <i class="icon-calculator"></i>
                <span>Tính phí nhanh</span>
            </div>
        </div>
    </div>
</div>