<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
		</div>
		<div class="col-sm-6 text-sm-right">
			<!-- search form -->
			  <div class="form-group l-h m-a-0">
			    <div class="input-group">
			      <input type="text" class="form-control b-a form-control-sm" placeholder="Tìm kiếm...">
			      <span class="input-group-btn">
			        <button type="submit" class="btn btn-sm btn-default b-a no-shadow"><i class="fa fa-search"></i></button>
			      </span>
			    </div>
			  </div>
			<!-- / search form -->
		</div>
	</div>
</div>