<div class="dropdown-menu w-xl text-color pull-right p-a-0 animated flipInX">
      <div class="row no-gutter text-{{app.setting.theme.primary}}-hover">
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.car">
      <!-- <i class="material-icons md-24 text-muted m-v-sm">&#xe190;</i> -->
      <i class="fa fa-car bv-product-icon"></i>
      <span class="block">Ô tô</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.bvp">
      <i class="fa fa-plus-square bv-product-icon"></i>
      <span class="block">An gia</span>
    </a>
  </div>
  <div class="col-xs-4 b-b">
    <a class="p-a block text-center" ui-sref="product.kcare">
      <i class="fa fa-heartbeat bv-product-icon"></i>
      <span class="block">Bệnh ung thư</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.tvc">
      <i class="fa fa-paper-plane bv-product-icon"></i>
      <span class="block">Du lịch quốc tế</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.tvi">
      <i class="fa fa-paper-plane bv-product-icon"></i>
      <span class="block">Du lịch trong nước</span>
    </a>
  </div>
  <div class="col-xs-4 b-b">
    <a class="p-a block text-center" ui-sref="product.moto" >
      <i class="fa fa-motorcycle bv-product-icon"></i>
      <span class="block">Xe máy</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.home">
      <i class="fa fa-home bv-product-icon"></i>
      <span class="block">Nhà tư nhân</span>
    </a>
  </div>
  <div class="col-xs-4 b-r b-b">
    <a class="p-a block text-center" ui-sref="product.khc">
      <i class="fa fa-users bv-product-icon"></i>
      <span class="block">Kết hợp con người</span>
    </a>
  </div>
  <div class="col-xs-4 b-b">
    <a class="p-a block text-center" ui-sref="product.tnc">
      <i class="fa fa-user-md bv-product-icon"></i>
      <span class="block">Tai nạn con người</span>
    </a>
  </div>
  <div class="col-xs-4 b-r">
    <a class="p-a block text-center" ui-sref="product.hhvc">
      <i class="fa fa-ship bv-product-icon"></i>
      <span class="block">Hàng hóa vận chuyển</span>
    </a>
  </div>
</div>
</div>


