<div class="dropdown-menu text-color pull-right p-a-0 animated flipInX dropdown-w">
      <div class="row no-gutter text-{{app.setting.theme.primary}}-hover">
  <div class="col-xs-4 b-r  bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.car">
      <!-- <i class="material-icons md-24 text-muted m-v-sm">&#xe190;</i> -->
      <i class="icon-CAR bv-product-icon icon-bv-color"></i>
      <span class="block">Ô tô</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.bvp">
      <i class="icon-BVP bv-product-icon icon-bv-color"></i>
      <span class="block">An gia</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.kcare">
      <i class="icon-KCARE bv-product-icon icon-bv-color"></i>
      <span class="block">Bệnh ung thư</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.tvc">
      <i class="icon-TVC bv-product-icon icon-bv-color"></i>
      <span class="block">Du lịch quốc tế</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.tvi">
      <i class="icon-TVI bv-product-icon icon-bv-color"></i>
      <span class="block">Du lịch trong nước</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.moto" >
      <i class="icon-MOTO bv-product-icon icon-bv-color"></i>
      <span class="block">Xe máy</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.home">
      <i class="icon-HOME bv-product-icon icon-bv-color"></i>
      <span class="block">Nhà tư nhân</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.khc">
      <i class="icon-KHC bv-product-icon icon-bv-color"></i>
      <span class="block">Kết hợp con người</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-b">
    <a class="p-a block text-center" ui-sref="product.tnc">
      <i class="icon-TNC bv-product-icon icon-bv-color"></i>
      <span class="block">Tai nạn con người</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-r">
    <a class="p-a block text-center" ui-sref="product.hhvc">
      <i class="icon-HHVC bv-product-icon icon-bv-color"></i>
      <span class="block">Hàng hóa vận chuyển</span>
    </a>
  </div>
</div>
</div>


