<div class="dropdown-menu text-color pull-right p-a-0 animated flipInX dropdown-w">
      <div class="row no-gutter text-{{app.setting.theme.primary}}-hover">
  <div class="col-xs-4 b-r  bv-b-b b-b" has-authority="PERM_PRODUCT_CAR_CREATE">
    <a class="p-a block text-center" ui-sref="product.car" has-authority="PERM_PRODUCT_CAR_CREATE">
      <!-- <i class="material-icons md-24 text-muted m-v-sm">&#xe190;</i> -->
      <i class="icon-CAR bv-product-icon"></i>
      <span class="block">Ô tô</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-b" has-authority="PERM_PRODUCT_MOT_CREATE">
    <a class="p-a block text-center" ui-sref="product.moto" has-authority="PERM_PRODUCT_MOT_CREATE">
      <i class="icon-MOTO bv-product-icon "></i>
      <span class="block">Xe máy</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b" has-authority="PERM_PRODUCT_BVP_CREATE">
    <a class="p-a block text-center" ui-sref="product.bvp" has-authority="PERM_PRODUCT_BVP_CREATE">
      <i class="icon-BVP bv-product-icon "></i>
      <span class="block">An gia</span>
    </a>
  </div>
  <!-- <div class="col-xs-4 bv-b-b b-b" has-authority="PERM_PRODUCT_KCR_CREATE">
    <a class="p-a block text-center" ui-sref="product.kcare" has-authority="PERM_PRODUCT_KCR_CREATE">
      <i class="icon-KCARE bv-product-icon "></i>
      <span class="block">Bệnh ung thư</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b" has-authority="PERM_PRODUCT_TVC_CREATE">
    <a class="p-a block text-center" ui-sref="product.tvc" has-authority="PERM_PRODUCT_TVC_CREATE">
      <i class="icon-TVC bv-product-icon "></i>
      <span class="block">Du lịch quốc tế</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b" has-authority="PERM_PRODUCT_TVI_CREATE">
    <a class="p-a block text-center" ui-sref="product.tvi" has-authority="PERM_PRODUCT_TVI_CREATE">
      <i class="icon-TVI bv-product-icon "></i>
      <span class="block">Du lịch trong nước</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b" has-authority="PERM_PRODUCT_HOM_CREATE">
    <a class="p-a block text-center" ui-sref="product.home" has-authority="PERM_PRODUCT_HOM_CREATE">
      <i class="icon-HOME bv-product-icon "></i>
      <span class="block">Nhà tư nhân</span>
    </a>
  </div>
  <div class="col-xs-4 b-r bv-b-b b-b" has-authority="PERM_PRODUCT_KHC_CREATE">
    <a class="p-a block text-center" ui-sref="product.khc" has-authority="PERM_PRODUCT_KHC_CREATE">
      <i class="icon-KHC bv-product-icon "></i>
      <span class="block">Kết hợp con người</span>
    </a>
  </div>
  <div class="col-xs-4 bv-b-b b-b" has-authority="PERM_PRODUCT_TNC_CREATE">
    <a class="p-a block text-center" ui-sref="product.tnc" has-authority="PERM_PRODUCT_TNC_CREATE">
      <i class="icon-TNC bv-product-icon "></i>
      <span class="block">Tai nạn con người</span>
    </a>
  </div> -->
  <!-- <div class="col-xs-4 bv-b-b b-r" has-authority="PERM_PRODUCT_HHV_CREATE">
    <a class="p-a block text-center" ui-sref="product.hhvc" has-authority="PERM_PRODUCT_HHV_CREATE">
      <i class="icon-HHVC bv-product-icon "></i>
      <span class="block">Hàng hóa vận chuyển</span>
    </a>
  </div> -->
</div>
</div>


