<form class="bv-from-changepassword" angular-validator-submit="vm.actionChangePassword()" name="myForm1" novalidate angular-validator>
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5 text-center">
    <div class="bv-title-from">
        <p>Mật khẩu cũ</p>
    </div>
    <div class="margin-top-5">
        <input type="password" class="bv-input" placeholder="Nhập mật khẩu cũ"
               ng-model="vm.changePassword.oldPassword"
               required-message="'Chưa nhập mật khẩu cũ!'"
               required/>
    </div>
</div>
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5 text-center">
    <div class="bv-title-from">
        <p>Mật khẩu mới</p>
    </div>
    <div class="margin-top-5">
        <input type="password" class="bv-input" placeholder="Nhập mật mới"
               ng-model="vm.changePassword.newPassword"
               required-message="'Chưa nhập mật khẩu mới!'"
               required
        />
    </div>
</div>
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5 text-center">
    <div class="bv-title-from">
        <p>Nhập lại mật khẩu</p>
    </div>
    <div class="margin-top-5">
        <input type="password" class="bv-input" ng-blur="vm.checkPasswordNew()" placeholder="Nhập lại mật khẩu"
               ng-model="vm.passWordCheck"
               required-message="'Chưa nhập mật khẩu xác nhận!'"
               required
        />
    </div>
    <div ng-show="vm.showReqCheckPassword">
        <p class="bv-req-red">Nhập không khớp với mật khẩu mới</p>
    </div>
</div>

<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10 text-center">
	<div>
        <button class="bv-btn-changepassword"  type="submit" ng-disabled="form.$invalid">
            Đổi mật khẩu
        </button>
        <button class="bv-btn-default"  type="button" ui-sref="app.dashboard">
            Hủy
        </button>
    </div>
</div>
</form>