<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 bv-background-sp">
    <!-- Header -->
	<div ng-include="'apps/product/partial/partial.product.header.html'"></div>
	
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-display-step">
        <div class="hidden-md hidden-lg text-center">
            <div class=" text-center display-inline-block bv-step-mobile" ng-click="vm.closeOpenStep('step1')">
                <p class="display-inline-block">1</p>
                <p class="display-inline-block">Tính phí</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStep('step2')">
                <p class="display-inline-block">2</p>
                <p class="display-inline-block">Thông tin bảo hiểm</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStep('step3')">
                <p>3</p>
            </div>
        </div>
   <!-- Tab1: TÍNH PHÍ -->
        <div class="bv-step-1 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex widthStep98" id="bv-step-1">
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step1')">
                <p class="fas {{vm.typeArrowOne}}"></p>
                <p>1</p>
                <span>TÍNH PHÍ - THÔNG TIN BẢO HIỂM</span>
            </div>
            <div class="bv-step-content" id="bv-step-1-content"  >
                <div class="text-header-sp">
                    <p>Thông tin gói</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Thời hạn bảo hiểm</p>
                </div>
                
                <div class=" display-flex margin-top-5">
                    <div class="margin-right-5 width-100">
                    	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
						    <input type="text" class="bv-input" placeholder="Từ ngày" ng-model="vm.premium.ngayBatDau" ng-change="vm.changeToDate()">
						    <div class="input-group-addon">
						        <span class="glyphicon glyphicon-th"></span>
						    </div>
						</div>
                    </div>
                    <div class="width-100">
                    	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
						    <input type="text" class="bv-input" disabled="disabled" placeholder="Đến ngày" ng-model="vm.ngayKetThuc">
						    <div class="input-group-addon">
						        <span class="glyphicon glyphicon-th"></span>
						    </div>
						</div>
                    </div>
                </div>
                
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class=" display-flex margin-top-5">
                    <div class="margin-right-5 width-100">
                    	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
						    <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.premium.ngaySinh" ng-change="vm.onDobChange()">
						    <div class="input-group-addon">
						        <span class="glyphicon glyphicon-th"></span>
						    </div>
						</div>
                    </div>
                    <div class="width-100">
						    <input type="text" style="width: 60px" disabled="disabled" class="bv-input" ng-model="vm.tuoi"> tuổi
                    </div>
                </div>
                
                <div class="margin-top-10">
                    <p class="bv-title-from">Giới tính</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx1" class="label-cbx">
                            <input id="cbx1" name="gioiTinh" type="radio" class="invisible" ng-model="vm.premium.gioiTinh" value="1" ng-change="vm.getPremium()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Nam</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx2" class="label-cbx">
                            <input id="cbx2" name="gioiTinh" type="radio" class="invisible" ng-model="vm.premium.gioiTinh" value="2" ng-change="vm.getPremium()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Nữ</span>
                        </label>
                    </div>
                </div>
                
                <div class="margin-top-10">
                    <p class="bv-title-from">Chương trình bảo hiểm</p>
                    <select class="bv-select-box form-control" ng-model="vm.premium.typeOfKcare" ng-change="vm.checkedChangeBill()">
                   		<option value="">Lựa chọn Giới hạn bồi thường</option>	
                        <option value="PGM1">Chương trình 1</option>
                        <option value="PGM2">Chương trình 2</option>
                        <option value="PGM3">Chương trình 3</option>
                    </select>
                </div>
                
                <div class="margin-top-5">
                	<p class="bv-title-from">Giảm phí (%)</p>
                    <input type="number" min="1" max="30" ng-show="vm.isShowPremium" class="bv-input" placeholder="Giảm phí (%)" ng-model="vm.premium.premiumDiscount" ng-blur="vm.getPremium()"/>
                </div>
                <div ng-show="vm.isShowPremium">
	                <div class="bv-title-from margin-top-10">
	                    <p>Tổng phí bảo hiểm</p>
	                </div>
	                <div>
	                    <p class="bv-tile-templateSummary">{{vm.premium.premiumNet | number}} VND</p>
	                </div>
	                <div class="bv-title-from">
	                    <p>Tổng phí thanh toán</p>
	                </div>
	                <div>
	                    <p class="bv-tile-templateSummary">{{vm.premium.premiumKCare | number}} VND</p>
	                </div>
                </div>
                <br/>
                <!-- BẢNG TÓM TẮT QUYỀN LỢI BẢO HIỂM -->
                <div ng-include="'apps/product/partial/partial.kcareBill.html'"></div>
                
            </div>
            
            <!-- Page 2: Thông tin người yêu cầu bảo hiểm-->
            <div class="bv-step-content">
                <div class="text-header-sp">
                    <p>Thông tin người yêu cầu bảo hiểm</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người yêu cầu bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Họ tên người yêu cầu bảo hiểm" ng-model="vm.policy.contactName" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class="margin-right-5 width-100">
                   	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
					    <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.policy.contactDob">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
                </div>
                
                <div class="text-header-sp margin-top-20">
                    <p>Thông tin người được bảo hiểm</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người được bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Họ tên người được bảo hiểm" ng-model="vm.policy.insuredName" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class="margin-right-5 width-100">
                   	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
					    <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.policy.insuredNgaysinh">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Giới tính</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx3" class="label-cbx">
                            <input id="cbx3" name="insuredSex" type="radio" class="invisible" ng-model="vm.policy.insuredSex" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Nam</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx4" class="label-cbx">
                            <input id="cbx4" name="insuredSex" type="radio" class="invisible" ng-model="vm.policy.insuredSex" value="2">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Nữ</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Số CMND/Hộ chiếu</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Số CMND/Hộ chiếu" ng-model="vm.policy.insuredIdNumber"/>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Quan hệ với người yêu cầu bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <select class="bv-select-box form-control" ng-model="vm.policy.insuredRelationship">
                   		<option value=""></option>	
                        <option value="30">Bản thân</option>
                        <option value="31">Vợ/Chồng</option>
                        <option value="32">Con</option>
                        <option value="33">Bố/Mẹ</option>
                        <option value="34">Bố mẹ của vợ/chồng</option>
                    </select>
                </div>
                
                <div class="margin-top-20 text-header-sp">
                    <p>Thông tin tình trạng sức khỏe</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Người được bảo hiểm đã từng mắc phải, hoặc được thông báo rằng Người được bảo hiểm mắc phải, hoặc đang trong quá trình kiểm tra bệnh viêm gan siêu vi B/C, ung thư, khối u, u nang, phát triển ung thư biểu mô tại chỗ của bất kỳ loại ung thư nào không? (*)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx5" class="label-cbx">
                            <input id="cbx5" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx6" class="label-cbx">
                            <input id="cbx6" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Người được bảo hiểm có hút hơn 20 điếu thuốc một ngày không? (*)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx7" class="label-cbx">
                            <input id="cbx7" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx8" class="label-cbx">
                            <input id="cbx8" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Người được bảo hiểm có mắc triệu chứng nào sau đây trong thời gian 3 tháng gần đây nhất và kéo dài liên tục hơn 1 tuần hay không: (*)</p>
                </div>
                <div class="cntr margin-top-5">
                    <label for="cbx9" class="label-cbx">
                        <input id="cbx9" type="checkbox" class="invisible" ng-model="vm.policy.qtreatment" ng-change="vm.checkQtreatment()">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Mệt mỏi</span>
                    </label>
                </div>
                <div class="cntr margin-right-15">
                    <label for="cbx10" class="label-cbx">
                        <input id="cbx10" type="checkbox" class="invisible" ng-model="vm.policy.qresultTre" ng-change="vm.checkQresultTre()">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Giảm cân không rõ nguyên nhân</span>
                    </label>
                </div>
                <div class="cntr margin-right-15">
                    <label for="cbx11" class="label-cbx">
                        <input id="cbx11" type="checkbox" class="invisible" ng-model="vm.policy.qtypeCancer" ng-change="vm.checkQtypeCancer()">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Nổi hạch lớn</span>
                    </label>
                </div>
                <div class="cntr margin-right-15">
                    <label for="cbx12" class="label-cbx">
                    	<input id="cbx12" type="checkbox" class="invisible" ng-model="vm.policy.qresultCan" ng-change="vm.checkQresultCan()">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Xuất hiện mảng da không giống với khu vực da xung quanh</span>
                    </label>
                </div>
                <div class="cntr margin-right-15">
                    <label for="cbq3i" class="label-cbx">
                    	<input id="cbq3i" type="checkbox" class="invisible" ng-model="vm.policy.q3" ng-change="vm.checkQ3()">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Không mắc triệu chứng nào nêu trên</span>
                    </label>
                </div>
              	<div class="margin-top-10">
                    <p class="bv-title-from">Người được bảo hiểm đã từng hoặc được đề xuất nên phẫu thuật, kiểm tra hoặc điều trị* hoặc đã nằm viện trong 7 ngày trở lên trong vòng 12 tháng qua hay không? (*)</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">*(điều trị trong những trường hợp sau đây có thể được bỏ qua: cảm lạnh thông thường hoặc cảm cúm, mang thai và sinh mổ không biến chứng, ngừa thai, cao huyết áp, tăng mỡ máu, tiểu đường, tiêm chủng hoặc chấn thương mà Người được bảo hiểm đã hoàn toàn hồi phục.)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx13" class="label-cbx">
                            <input id="cbx13" name="q4" type="radio" class="invisible" ng-model="vm.policy.q4" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx14" class="label-cbx">
                            <input id="cbx14" name="q4" type="radio" class="invisible" ng-model="vm.policy.q4" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Người được bảo hiểm có 2 hoặc nhiều hơn các thành viên trực hệ trong gia đình (cha mẹ hoặc anh, chị, em), đã được chẩn đoán bị ung thư trước tuổi 60 hay không? (*)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbx15" class="label-cbx">
                            <input id="cbx15" name="q5" type="radio" class="invisible" ng-model="vm.policy.q5" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbx16" class="label-cbx">
                            <input id="cbx16" name="q5" type="radio" class="invisible" ng-model="vm.policy.q5" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                
                <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
                    <p>Thông tin về người thụ hưởng bảo hiểm</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ và tên</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" id="beneficiaryName" name="beneficiaryName" class="bv-input" placeholder="Họ và tên về người thụ hưởng bảo hiểm" ng-model="vm.policy.beneficiaryName" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class="margin-right-5 width-100">
                   	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
					    <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.policy.beneficiaryNgaysinh">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Số CMND/Hộ chiếu/Số giấy khai sinh</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Số CMND/Hộ chiếu/Số giấy khai sinh" ng-model="vm.policy.beneficiaryIdNumber"/>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Quan hệ với người được bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <select class="bv-select-box form-control" ng-model="vm.policy.beneficiaryRelationship">
                   		<option value=""></option>	
                        <option value="31">Vợ/Chồng</option>
                        <option value="32">Con</option>
                        <option value="33">Bố/Mẹ</option>
                    </select>
                </div>
                
                <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
                    <p>Thông tin về người được chỉ định nhận tiền bảo hiểm</p>
                </div>
                <div class="cntr margin-top-5">
                    <label for="cbx17" class="label-cbx">
                        <input id=""cbx17"" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Người thụ hưởng có là người được chỉ định nhận tiền bảo hiểm</span>
                    </label>
                    <p class="bv-title-from">(Bỏ chọn để xóa thông tin người được chỉ định nhận tiền đã điền sẵn)</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ và tên</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Họ và tên người được chỉ định" ng-model="vm.policy.beneficiaryNameD" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class="margin-right-5 width-100">
                   	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
					    <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.policy.beneficiaryNgaysinhD">
					    <div class="input-group-addon">
					        <span class="glyphicon glyphicon-th"></span>
					    </div>
					</div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Số CMND/Hộ chiếu</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Số CMND/Hộ chiếu" ng-model="vm.policy.beneficiaryIdNumberD"/>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Quan hệ với người được bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <select class="bv-select-box form-control" ng-model="vm.policy.beneficiaryRelationshipD">
                   		<option value=""></option>	
                        <option value="31">Vợ/Chồng</option>
                        <option value="32">Con</option>
                        <option value="33">Bố/Mẹ</option>
                    </select>
                </div>
                <div class="margin-top-5">
                    <button class="bv-btn-step3" ng-click="vm.closeOpenStep('step2')">Tiếp theo</button>
                </div>
            </div>
        </div>
        
   <!-- Tab2: THÔNG TIN GIAO HÀNG -->
        <div class="bv-step-2 closeStepTwo padding0 display-flex " id="bv-step-2" >
        	<div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step2')">
                <p class="fas {{ vm.typeArrowTwo }}"></p>
                <p>2</p>
                <span>THÔNG TIN GIAO HÀNG</span>
            </div>
				
			<div class="bv-step-content">
				<!-- THÔNG TIN HÓA ĐƠN GIÁ TRỊ GIA TĂNG - THÔNG TIN NHẬN ĐƠN BẢO HIỂM -->
            	<div ng-include="'apps/product/partial/partial.invoice-receiverUser.html'"></div>
				
                <div class="margin-top-10">
                    <p class="bv-tile-templateSummary display-inline-block"></p>
                    <button class="bv-btn-step3" ng-click="vm.closeOpenStep('step3')">
                        Tiếp theo
                    </button>
                </div>
            </div>
        </div>
        
   <!-- Tab3: TÓM TẮT ĐƠN HÀNG -->
        <div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
                <p class="fas {{ vm.typeArrowThree }}"></p>
                <p>3</p>
                <span>TÓM TẮT ĐƠN HÀNG</span>
            </div>
            <div class="bv-step-content">
                <div class="display-flex">
                    <div class="border-right-ccc bv-pading-30 width-100">
                        <div class="text-header-sp" style="margin-bottom: 10px">
                            <p>Thông tin người yêu cầu bảo hiểm</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Họ và tên</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.contactName}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Ngày sinh</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.contactDob}}</p>
                        </div>
                    </div>
                    
                    <div class="border-right-ccc bv-pading-30 width-100">
                        <div class="text-header-sp" style="margin-bottom: 10px">
                            <p>Thông tin người được bảo hiểm</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Họ và tên</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.insuredName}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Ngày sinh</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.insuredNgaysinh}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Số CMND/Hộ chiếu</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.insuredIdNumber}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Giới tính</p>
                        </div>
                        <div ng-switch="vm.policy.insuredSex">
						  <div ng-switch-when="1">
						     <p class="bv-tile-templateSummary">Nam</p>
						  </div>
						  <div ng-switch-when="2">
						     <p class="bv-tile-templateSummary">Nữ</p>
						  </div>
						</div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Quan hệ với người yêu cầu bảo hiểm</p>
                        </div>
                        <div ng-switch="vm.policy.insuredRelationship">
						  <div ng-switch-when="30">
						     <p class="bv-tile-templateSummary">Bản thân</p>
						  </div>
						  <div ng-switch-when="31">
						     <p class="bv-tile-templateSummary">Vợ/Chồng</p>
						  </div>
						  <div ng-switch-when="32">
						     <p class="bv-tile-templateSummary">Con</p>
						  </div>
						  <div ng-switch-when="33">
						     <p class="bv-tile-templateSummary">Bố/Mẹ</p>
						  </div>
						  <div ng-switch-when="34">
						     <p class="bv-tile-templateSummary">Bố mẹ của vợ/chồng</p>
						  </div>
					  	</div>
                    </div>
                    <div class="width-100 bv-pading-30">
                        <div class="text-header-sp">
                            <p>Thông tin phí bảo hiểm</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Phí bảo hiểm /năm</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.netPremium | number}} VND</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Tổng phí thanh toán năm thứ nhất</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.policy.totalPremium | number}} VND</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">(Phí bảo hiểm /năm không thay đổi trong suốt thời hạn hợp đồng bảo hiểm)</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">Ngày thanh toán định kì các năm tiếp theo: ngày 15 tháng 06 hàng năm</p>
                        </div>
                    </div>
                </div>
                <div class="bv-pading-30">
	                <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
	                    <p>Thông tin bảo hiểm</p>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Thời hạn bảo hiểm</p>
	                </div>
	                <div class="display-flex">
	                	<div>
	                		<p class="bv-tile-templateSummary">Từ &nbsp {{vm.policy.thoihantu}}</p> 
	                	</div>
	                	<div>
	                		<p class="bv-tile-templateSummary">&nbsp Đến &nbsp {{vm.policy.thoihanden}}</p>
	                	</div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Loại hình bảo hiểm</p>
	                </div>
	                <div>
	                    <p class="bv-tile-templateSummary">Bảo hiểm bệnh ung thư</p>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Chương trình bảo hiểm</p>
	                </div>
	                <div ng-switch="vm.policy.planId">
					  <div ng-switch-when="PGM1">
					     <p class="bv-tile-templateSummary">Chương trình 1</p>
					  </div>
					  <div ng-switch-when="PGM2">
					     <p class="bv-tile-templateSummary">Chương trình 2</p>
					  </div>
					  <div ng-switch-when="PGM3">
					     <p class="bv-tile-templateSummary">Chương trình 3</p>
					  </div>
					</div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Số tiền bảo hiểm</p>
	                </div>
	                <div>
	                    <p class="bv-tile-templateSummary">292,500,000 VND</p>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Điều khoản, điều kiện</p>
	                </div>
	                <div>
	                    <p class="bv-tile-templateSummary">Theo điều khoản bảo hiểm Kết hợp con người của Bảo hiểm Bảo Việt. Quý khách vui lòng xem <b>Điều khoản, điều kiện</b></p>
	                </div>
	                <br/>
	                <!-- BẢNG TÓM TẮT QUYỀN LỢI BẢO HIỂM -->
	                <div style="width: 800px" ng-include="'apps/product/partial/partial.kcareBill.html'"></div>
                </div>
                <!-- THÔNG TIN VỀ TÌNH TRẠNG SỨC KHỎE -->
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>Thông tin tình trạng sức khỏe</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">1. Người được bảo hiểm đã từng mắc phải, hoặc được thông báo rằng Người được bảo hiểm mắc phải, hoặc đang trong quá trình kiểm tra bệnh viêm gan siêu vi B/C, ung thư, khối u, u nang, phát triển ung thư biểu mô tại chỗ của bất kỳ loại ung thư nào không?</p>
                    </div>
                    <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbxd5" class="label-cbx">
                            <input id="cbxd5" name="dq1" type="radio" class="invisible" disabled ng-model="vm.policy.q1" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
	                     <label for="cbxd6" class="label-cbx">
                            <input id="cbxd6" name="dq1" type="radio" class="invisible" disabled ng-model="vm.policy.q1" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
	                     </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
                        <p class="bv-title-from">2. Người được bảo hiểm có hút hơn 20 điếu thuốc một ngày không?</p>
                    </div>
	                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbxd7" class="label-cbx">
                            <input id="cbxd7" name="dq2" type="radio" class="invisible" disabled ng-model="vm.policy.q2" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
	                        <label for="cbxd8" class="label-cbx">
	                            <input id="cbxd8" name="dq2" type="radio" class="invisible" disabled ng-model="vm.policy.q2" value="0">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
                        <p class="bv-title-from">3. Người được bảo hiểm có mắc triệu chứng nào sau đây trong thời gian 3 tháng gần đây nhất và kéo dài liên tục hơn 1 tuần hay không?</p>
                    </div>
	                <div class="cntr margin-top-5">
	                    <label for="cbxd9" class="label-cbx">
	                        <input id="cbxd9" type="checkbox" class="invisible" disabled ng-model="vm.policy.qtreatment">
	                        <div class="checkbox">
	                            <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                <polyline points="4 11 8 15 16 6"></polyline>
	                            </svg>
	                        </div>
	                        <span>Mệt mỏi</span>
	                    </label>
	                </div>
	                <div class="cntr margin-right-15">
	                    <label for="cbxd10" class="label-cbx">
	                        <input id="cbxd10" type="checkbox" class="invisible" disabled ng-model="vm.policy.qresultTre">
	                        <div class="checkbox">
	                            <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                <polyline points="4 11 8 15 16 6"></polyline>
	                            </svg>
	                        </div>
	                        <span>Giảm cân không rõ nguyên nhân</span>
	                    </label>
	                </div>
	                <div class="cntr margin-right-15">
	                    <label for="cbxd11" class="label-cbx">
	                        <input id="cbxd11" type="checkbox" class="invisible" disabled ng-model="vm.policy.qtypeCancer">
	                        <div class="checkbox">
	                            <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                <polyline points="4 11 8 15 16 6"></polyline>
	                            </svg>
	                        </div>
	                        <span>Nổi hạch lớn</span>
	                    </label>
	                </div>
	                <div class="cntr margin-right-15">
	                    <label for="cbxd12" class="label-cbx">
	                    	<input id="cbxd12" type="checkbox" class="invisible" disabled ng-model="vm.policy.qresultCan">
	                        <div class="checkbox">
	                            <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                <polyline points="4 11 8 15 16 6"></polyline>
	                            </svg>
	                        </div>
	                        <span>Xuất hiện mảng da không giống với khu vực da xung quanh</span>
	                    </label>
	                </div>
	                <div class="cntr margin-right-15">
	                    <label for="cbxq3" class="label-cbx">
	                    	<input id="cbxq3" type="checkbox" class="invisible" disabled ng-model="vm.policy.q3">
	                        <div class="checkbox">
	                            <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                <polyline points="4 11 8 15 16 6"></polyline>
	                            </svg>
	                        </div>
	                        <span>Không mắc triệu chứng nào nêu trên</span>
	                    </label>
	                </div>
	                <div class="margin-top-10">
                    <p class="bv-title-from">4. Người được bảo hiểm đã từng hoặc được đề xuất nên phẫu thuật, kiểm tra hoặc điều trị* hoặc đã nằm viện trong 7 ngày trở lên trong vòng 12 tháng qua hay không? (*)</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">*(điều trị trong những trường hợp sau đây có thể được bỏ qua: cảm lạnh thông thường hoặc cảm cúm, mang thai và sinh mổ không biến chứng, ngừa thai, cao huyết áp, tăng mỡ máu, tiểu đường, tiêm chủng hoặc chấn thương mà Người được bảo hiểm đã hoàn toàn hồi phục.)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbxd13" class="label-cbx">
                            <input id="cbxd13" name="dq4" type="radio" disabled class="invisible" ng-model="vm.policy.q4" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbxd14" class="label-cbx">
                            <input id="cbxd14" name="dq4" type="radio" disabled class="invisible" ng-model="vm.policy.q4" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">5. Người được bảo hiểm có 2 hoặc nhiều hơn các thành viên trực hệ trong gia đình (cha mẹ hoặc anh, chị, em), đã được chẩn đoán bị ung thư trước tuổi 60 hay không? (*)</p>
                </div>
                <div class=" display-flex">
                    <div class="cntr margin-right-5">
                        <label for="cbxd15" class="label-cbx">
                            <input id="cbxd15" name="dq5" type="radio" disabled class="invisible" ng-model="vm.policy.q5" value="1">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Có</span>
                        </label>
                    </div>
                    <div class="cntr">
                        <label for="cbxd16" class="label-cbx">
                            <input id="cbxd16" name="dq5" type="radio" disabled class="invisible" ng-model="vm.policy.q5" value="0">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Không</span>
                        </label>
                    </div>
                </div>
                </div>
              
              <!-- THÔNG TIN NGƯỜI THỤ HƯỞNG & NGƯỜI CHỈ ĐỊNH NHẬN -->
              <div class="display-flex margin-top-20">  
	              <div class="border-right-ccc bv-pading-30 width-100">
	                  <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
	                      <p>Thông tin người thụ hưởng bảo hiểm</p>
	                  </div>
	                  <div class="margin-top-10">
	                  <p class="bv-title-from">Họ và tên</p>
		              </div>
		              <div class="margin-top-5">
		              	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryName}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Ngày sinh</p>
		              </div>
		              <div class="margin-top-5">
		                 	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryNgaysinh}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Số CMND/Hộ chiếu/Số giấy khai sinh</p>
		              </div>
		              <div class="margin-top-5">
		              	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryIdNumber}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Quan hệ với người được bảo hiểm</p>
		              </div>
		              <div ng-switch="vm.policy.beneficiaryRelationship">
						  <div ng-switch-when="31">
						     <p class="bv-tile-templateSummary">Vợ/Chồng</p>
						  </div>
						  <div ng-switch-when="32">
						     <p class="bv-tile-templateSummary">Con</p>
						  </div>
						  <div ng-switch-when="33">
						     <p class="bv-tile-templateSummary">Bố/Mẹ</p>
						  </div>
					  </div>
	              </div>
	              
	              <div class="border-right-ccc bv-pading-30 width-100">
	                  <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
	                      <p>Thông tin về người được chỉ định nhận tiền bảo hiểm</p>
	                  </div>
	                  <div class="margin-top-10">
		                  <p class="bv-title-from">Họ và tên</p>
		              </div>
		              <div class="margin-top-5">
		              	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryNameD}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Ngày sinh</p>
		              </div>
		              <div class="margin-top-5">
		                 	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryNgaysinhD}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Số CMND/Hộ chiếu/Số giấy khai sinh</p>
		              </div>
		              <div class="margin-top-5">
		              	<p class="bv-tile-templateSummary">{{vm.policy.beneficiaryIdNumberD}}</p>
		              </div>
		              <div class="margin-top-10">
		                  <p class="bv-title-from">Quan hệ với người được bảo hiểm</p>
		              </div>
		              <div ng-switch="vm.policy.beneficiaryRelationshipD">
						  <div ng-switch-when="31">
						     <p class="bv-tile-templateSummary">Vợ/Chồng</p>
						  </div>
						  <div ng-switch-when="32">
						     <p class="bv-tile-templateSummary">Con</p>
						  </div>
						  <div ng-switch-when="33">
						     <p class="bv-tile-templateSummary">Bố/Mẹ</p>
						  </div>
					  </div>      
	                </div>
                </div>
                
                <div class="bv-pading-30">
                  <div class="margin-top-20 text-header-sp" style="margin-bottom: 10px">
                      <p>Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
                  </div>
                  <div class="margin-top-10">
	                  <p class="bv-title-from">Họ và tên</p>
	              </div>
	              <div class="margin-top-5">
	              	<p class="bv-tile-templateSummary">{{vm.policy.receiverUser.name}}</p>
	              </div>
	              <div class="margin-top-10">
	                  <p class="bv-title-from">Địa chỉ</p>
	              </div>
	              <div class="margin-top-5">
	                 	<p class="bv-tile-templateSummary">{{vm.policy.receiverUser.address}}</p>
	              </div>
	              <div class="margin-top-10">
	                  <p class="bv-title-from">Số điện thoại liên hệ</p>
	              </div>
	              <div class="margin-top-5">
	              	<p class="bv-tile-templateSummary">{{vm.policy.receiverUser.mobile}}</p>
	              </div>
	              <div class="margin-top-10">
	                  <p class="bv-title-from">Địa chỉ email</p>
	              </div>
	              <div class="margin-top-5">
	              	<p class="bv-tile-templateSummary">{{vm.policy.receiverUser.email}}</p>
	              </div>
	              <div class="margin-top-10">
	                  <p class="bv-title-from">Hình thức giao nhận</p>
	              </div>      
	              <div class="margin-top-5">
	              	<p class="bv-tile-templateSummary">Ngay sau khi Quý khách thanh toán phí bảo hiểm thành công, Bảo Việt sẽ gửi bản mềm Giấy chứng nhận bảo hiểm tới địa chỉ email Quý khách đăng ký.</p>
	              </div>
                </div>
                
	            <div>
                    <button class="bv-btn-step3" ng-click="vm.getPolicyNumber()">
                        Tạo đơn hàng
                    </button>
                </div>
        </div>
    </div>
</div>
