    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-display-step margin-top-10">
        <div class="hidden-md hidden-lg text-center ">
            <div class="text-center display-inline-block bv-step-mobile" ng-click="vm.closeOpenStepMobile('step1')" id="mobile-step-1">
                <p class="display-inline-block">{{vm.typeNameOne}}</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step2')" id="mobile-step-2">
                <p class="display-inline-block">{{vm.typeNameTwo}}</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step3')" id="mobile-step-3">
                <p class="display-inline-block">{{vm.typeNameThree}}</p>
            </div>
        </div>
        <!-- Tab 1 -->
        <div class="bv-step-1 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex widthStep98" id="bv-step-1">
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step1')">
                <p class="fas {{vm.typeArrowOne}}"></p>
                <p>1</p>
                <span>Tính phí ,thông tin bảo hiểm</span>
            </div>
            <form class="bv-from" angular-validator-submit="vm.closeOpenStep('step2', true)" name="myForm" novalidate angular-validator>
	            <div class="bv-step-content" id="bv-step-1-content"  >
	                <div class="text-header-sp">
	                    <p>Tính phí bảo hiểm</p>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Phạm vi bảo hiểm</p>
	                </div>
	                <div>
	                	<p>A. Cháy, Sét</p>
	                	<p>B. Nổ</p>
	                	<p>C. Giông, Bão, Lũ lụt</p>
	                	<p>D. Vỡ hoặc Tràn nước</p>
	                	<p>E. Va chạm với ngôi nhà</p>
	                	<p>F. Trộm cướp</p>
	                </div>
	                
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Điều khoản mở rộng</p>
	                </div>
	                <div>
	                	<p>Thuê nhà sau tổn thất</p>
	                </div>
	                
	                <div class="">
	                    <p class="bv-title-from">Thời hạn bảo hiểm áp dụng<span class="bv-req-red">&nbsp(*)</span></p>
	                    <select class="bv-select-box form-control" name="yearBuildCode" ng-model="vm.product.yearBuildCode" ng-change="vm.getPremium()">
	                        <option value="1">1 năm</option>
	                        <option value="2">2 năm</option>
	                    </select>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Giới hạn bồi thường phần ngôi nhà<span class="bv-req-red">&nbsp<span class="bv-req-red">&nbsp(*)</span></span></p>
	                </div>
	                <div class="margin-top-5">
					<input type="number" class="bv-input"
						placeholder="Giới hạn bồi thường phần ngôi nhà với số tiền tối thiểu 300 triệu đồng đến tối đa 5 tỷ đồng" ng-model="vm.product.si"
						ng-blur="vm.getPremium()" name="numberperson"
						validate-on="blur"
						validator="vm.siValidator(vm.product.si) === true"
						invalid-message="vm.siValidator(vm.product.si)"
						required-message="'Chưa nhập Giới hạn bồi thường phần ngôi nhà!'" required />
				</div>
	                
	                <div class="margin-top-5">
	                    <p class="bv-title-from">Giới hạn bồi thường phần Tài sản bên trong</p>
	                    <select class="bv-select-box form-control" name="siin" ng-model="vm.product.siin" ng-change="vm.getPremium()">
	                   		<option value="">Lựa chọn Giới hạn bồi thường</option>	
	                        <option value="100000000">100,000,000 VND</option>
	                        <option value="300000000">300,000,000 VND</option>
	                        <option value="500000000">500,000,000 VND</option>
	                        <option value="750000000">750,000,000 VND</option>
	                        <option value="1000000000">1,000,000,000 VND</option>
	                    </select>
	                </div>
                    <div class="">
                        <p class="bv-title-from">Nhập mã giảm giá (nếu có)</p>
                        <input type="text" class="bv-input" ng-model="vm.product.premiumDiscount" name="premiumDiscount" id="premiumDiscount" placeholder="Mã giảm giá (nếu có)" />
                    </div>
                    <div class="margin-top-10">
                        <div class="width-100">
                            <div class="table-responsive bv-home-block-left-table-responsive">
                                <table class="table table-sum-product" >
                                    <!--<col width="60%">-->
                                    <!--<col width="40%">-->
                                    <tr>
                                        <td>
                                            <p class="bv-gh-text-sum-product">Phí bảo hiểm phần ngôi nhà:</p>
                                        </td>
                                        <td class="text-right">
                                            <p class="">{{vm.product.premiumSi | number}} VND</p>
                                        </td>
                                    </tr>
                                    <tr >
                                        <td>
                                            <p class="bv-gh-text-sum-product">Phí bảo hiểm phần tài sản bên trong:</p>
                                        </td>
                                        <td class="text-right">
                                            <p class="">{{vm.product.premiumSiin | number}} VND</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="bv-gh-text-sum-product">Tổng phí bảo hiểm:</p>
                                        </td>
                                        <td class="text-right">
                                            <p class="">{{vm.product.premiumNet | number}} VND</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="bv-gh-text-sum-product">Tổng phí thanh toán:</p>
                                        </td>
                                        <td class="text-right">
                                            <p class="bv-gh-number-sum-product">{{vm.product.premiumHome | number}} VND</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
	            </div>
	        
	            <div id="contact-info" class="bv-step-content disable-all" disable-all="vm.product.premiumHome == 0">
	            	<div class="lock-all" ng-show="vm.product.premiumHome == 0"></div>
	            	<!-- Thông tin người yêu cầu bảo hiểm - Contact -->
	            	<div ng-include="'apps/product/partial/partial.contact.html'"></div>
	            	<br/>
	                <div class="text-header-sp">
	                    <p>Thông tin bảo hiểm</p>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Họ và tên người được bảo hiểm <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="insuranceName" id="insuranceName" ng-model="vm.homePolicy.insuranceName" class="bv-input" placeholder="Họ và tên người được bảo hiểm" required-message="'Chưa nhập Họ và tên người được bảo hiểm!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Số CMND/Hộ chiếu <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="invoceNumber" id="invoceNumber" ng-model="vm.homePolicy.invoceNumber" class="bv-input" placeholder="Số CMND/Hộ chiếu" required-message="'Chưa nhập số CMND/Hộ chiếu!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Địa chỉ liên lạc <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="insuranceAddress" id="insuranceAddress" ng-model="vm.homePolicy.insuranceAddress" class="bv-input" placeholder="VD: 35 Hai Bà Trưng" required-message="'Chưa nhập địa chỉ liên lạc!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Tên phường/ xã <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="txt1" class="bv-input" placeholder="VD: Phường Tràng Tiền, Quận Hoàn Kiếm, Hà Nội" required-message="'Chưa nhập tên phường/xã!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Số điện thoại <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="tel" class="bv-input" name="byNight" id="byNight" ng-model="vm.homePolicy.byNight" placeholder="Số điện thoại" required-message="'Chưa nhập số điện thoại!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Địa chỉ ngôi nhà mua bảo hiểm<span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="insuredLocation" id="insuredLocation" ng-model="vm.homePolicy.insuredLocation" class="bv-input" placeholder="VD: 35 Hai Bà Trưng" required-message="'Chưa nhập địa chỉ ngôi nhà mua bảo hiểm!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Tên phường/ xã <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="text" name="txt1" class="bv-input" placeholder="VD: Phường Tràng Tiền, Quận Hoàn Kiếm, Hà Nội" required-message="'Chưa nhập tên phường/xã!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Quyền sở hữu ngôi nhà <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	
	                    <div class="cntr margin-right-15 margin-top-5">
	                        <label for="cbxd12" class="label-cbx">
	                            <input id="cbxd12" type="radio" class="invisible" ng-model="vm.homePolicy.bankId" value="0">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Chủ sở hữu </span>
	                        </label>
	                    </div>
	                    <div class="cntr margin-right-15 margin-top-5">
	                        <label for="cbxd13" class="label-cbx">
	                            <input id="cbxd13" type="radio" class="invisible" ng-model="vm.homePolicy.bankId" value="1">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Chủ sở hữu cho thuê nhà</span>
	                        </label>
	                    </div>
	                    <div class="cntr margin-right-15 margin-top-5">
	                        <label for="cbxd14" class="label-cbx">
	                            <input id="cbxd14" type="radio" class="invisible" ng-model="vm.homePolicy.bankId" value="2">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span> Người thuê nhà</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Tổng diện tích sử dụng <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class="margin-top-5">
	                    <input type="number" min = "10" max = "1000" maxlength="4" required ng-model="vm.homePolicy.totalUsedArea" id="totalUsedArea" name="totalUsedArea" class="bv-input" placeholder="Tổng diện tích sử dụng trong khoảng từ 10m2 đến 1000m2" required-message="'Chưa nhập tổng diện tích sử dụng!'" required/>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Loại hình ngôi nhà <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbxd15" class="label-cbx">
	                            <input id="cbxd15" name="dq6" type="radio"  class="invisible" ng-model="vm.homePolicy.loaiHinh" value="0" ng-change="vm.checkLoaiHinh()">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbxd16" class="label-cbx">
	                            <input id="cbxd16" name="dq5" type="radio"  class="invisible" ng-model="vm.homePolicy.loaiHinh" value="1" ng-change="vm.checkLoaiHinh()">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Thời hạn bảo hiểm từ ngày <span class="bv-req-red">&nbsp(*)</span></p>
	                </div>
	                
	                <div class=" display-flex margin-top-5">
	                    <div class="margin-right-5 width-100">
	                    	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
							    <input type="text" name="inceptionDate" class="bv-input" placeholder="Từ ngày" ng-model="vm.homePolicy.inceptionDate" ng-change="vm.changeToDate()">
							    <div class="input-group-addon">
							        <span class="glyphicon glyphicon-th"></span>
							    </div>
							</div>
	                    </div>
	                    <div class="width-100">
	                    	<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
							    <input type="text" name="expiredDate" class="bv-input" disabled="disabled" placeholder="Đến ngày" ng-model="vm.homePolicy.expiredDate">
							    <div class="input-group-addon">
							        <span class="glyphicon glyphicon-th"></span>
							    </div>
							</div>
	                    </div>
	                </div>
	                
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Ngôi nhà được bảo hiểm là công trình xây dựng với mục đích để ở và phục vụ sinh hoạt gia đình?</p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbxd17" class="label-cbx">
	                            <input id="cbxd17" name="dq8" type="radio"  class="invisible" ng-model="vm.homePolicy.windowLocks" value="0">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbxd18" class="label-cbx">
	                            <input id="cbxd18" name="dq9" type="radio"  class="invisible" ng-model="vm.homePolicy.windowLocks" value="1">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">Ngôi nhà được bảo hiểm được xây dựng bằng gạch, đá, xi măng?</p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbxd22" class="label-cbx">
	                            <input id="cbxd22" name="dq22" type="radio"  class="invisible" ng-model="vm.homePolicy.bars" value="0" >
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbxd23" class="label-cbx">
	                            <input id="cbxd23" name="dq23" type="radio"  class="invisible"  ng-model="vm.homePolicy.bars"  value="1">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                
	                <div class="margin-top-5 padding-bottom-35">
	                    <button class="bv-btn-step3" ng-click="vm.closeOpenStep('step2')">Tiếp theo</button>
	                </div>
	            </div>
	        </form>
        </div>
        
<!---------- Tab 2 -->
        <div class="bv-step-2 closeStepTwo padding0 display-flex " id="bv-step-2" >
        	<div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step2')">
                <p class="fas {{ vm.typeArrowTwo }}"></p>
                <p>2</p>
                <span>Thông tin giao hàng</span>
            </div>
				
			<div class="bv-step-content">
				<!-- THÔNG TIN HÓA ĐƠN GIÁ TRỊ GIA TĂNG - THÔNG TIN NHẬN ĐƠN BẢO HIỂM -->
            	<div ng-include="'apps/product/partial/partial.invoice-receiverUser.html'"></div>
				
                <div class="margin-top-10">
                    <p class="bv-tile-templateSummary display-inline-block"></p>
                    <button class="bv-btn-step3" ng-click="vm.closeOpenStep('step3')">
                        Tiếp theo
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Tab 3 -->
        <div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
                <p class="fas {{ vm.typeArrowThree }}"></p>
                <p>3</p>
                <span>TÓM TẮT ĐƠN HÀNG</span>
            </div>
            <div class="bv-step-content">
                <div class="display-flex">
                    <div class="border-right-ccc bv-pading-30 width-100">
                        <div class="text-header-sp" style="margin-bottom: 10px">
                            <p>Thông tin người được bảo hiểm</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Tên chủ xe</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.insuranceName}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Số CMND/Hộ chiếu</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoceNumber}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Địa chỉ liên lạc</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.insuranceAddress}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Điện thoại</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">098545465</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Quyền sở hữu</p>
                        </div>
                        <div ng-switch="vm.homePolicy.bankId">
						  <div ng-switch-when="0">
						     <p class="bv-tile-templateSummary">Chủ sở hữu</p>
						  </div>
						  <div ng-switch-when="1">
						    <p class="bv-tile-templateSummary">Chủ sở hữu cho thuê nhà</p>
						  </div>
						  <div ng-switch-when="2">
						    <p class="bv-tile-templateSummary">Người thuê nhà</p>
						  </div>
						</div>
                    </div>
                    <div class="border-right-ccc bv-pading-30 width-100">
                        <div class="text-header-sp">
                            <p>PHÍ BẢO HIỂM (BAO GỒM 10% THUẾ GTGT)</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Tổng tiền thanh toán</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.premiumHome | number}} VND</p>
                        </div>
                        
                        <div class="text-header-sp" style="margin-bottom: 10px">
                            <p>THÔNG TIN GIAO NHẬN GIẤY CHỨNG NHẬN BẢO HIỂM</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Họ và tên người nhận</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.receiverUser.name}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Địa chỉ người nhận</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.receiverUser.address}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Số điện thoại liên hệ</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.receiverUser.mobile}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Địa chỉ email</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.receiverUser.email}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Hình thức giao nhận</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">Ngay sau khi Quý khách thanh toán phí bảo hiểm thành công, Bảo Việt sẽ gửi bản mềm Giấy chứng nhận bảo hiểm tới địa chỉ email Quý khách đăng ký</p>
                        </div>
                    </div>
                    <div class="width-100 bv-pading-30">
                        <div class="text-header-sp">
                            <p>THÔNG TIN HÓA ĐƠN GIÁ TRỊ GIA TĂNG</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Họ và tên người mua</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoiceInfo.name}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Tên công ty</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoiceInfo.company}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Mã số thuế</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoiceInfo.taxNo}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Địa chỉ công ty</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoiceInfo.address}}</p>
                        </div>
                        <div class="margin-top-10">
                            <p class="bv-title-from">Số tài khoản</p>
                        </div>
                        <div>
                            <p class="bv-tile-templateSummary">{{vm.homePolicy.invoiceInfo.accountNo}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bv-pading-30 margin-top-20 text-header-sp" style="margin-bottom: 5px">
                        <p>THÔNG TIN NGÔI NHÀ</p>
                    </div>
                    <div style="background: #fafafa">
                        <div class="bv-pading-table-templateSummary">
                            <div class="margin-top-5">
	                            <p class="bv-title-from">Địa điểm được bảo hiểm</p>
	                        </div>
	                        <div>
	                            <p class="bv-tile-templateSummary">{{vm.homePolicy.insuredLocation}}</p>
	                        </div>
	                        <div class="margin-top-10">
	                            <p class="bv-title-from">Loại hình ngôi nhà</p>
	                        </div>
	                        <div ng-switch="vm.homePolicy.loaiHinh">
							  <div ng-switch-when="1">
							     <p class="bv-tile-templateSummary">Nhà liền kề/biệt thự</p>
							  </div>
							  <div ng-switch-when="0">
							    <p class="bv-tile-templateSummary">Chung cư</p>
							  </div>
							</div>
	                        <div>
	                        	<p class="bv-title-from">Câu hỏi về tình trạng ngôi nhà:</p>
	                        </div>
	                        <div>
	                        	<p class="bv-title-from">- Ngôi nhà được bảo hiểm là công trình xây dựng với mục đích để ở và phục vụ sinh hoạt gia đình?</p>
	                        </div>
	                        <div class="margin-top-5">
			                     <input type="radio" ng-model="vm.homePolicy.windowLocks" value="0" disabled="disabled"/> Có
			                     <input type="radio" ng-model="vm.homePolicy.windowLocks" value="1" style="margin-left: 50px" disabled="disabled"/> Không
			                </div>
			                <div class="margin-top-10">
			                    <p class="bv-title-from">Ngôi nhà được bảo hiểm được xây dựng bằng gạch, đá, xi măng?</p>
			                </div>
			                <div class="margin-top-5">
			                     <input type="radio" ng-model="vm.homePolicy.bars" value="0" disabled="disabled"/> Có
			                     <input type="radio" ng-model="vm.homePolicy.bars" value="1" style="margin-left: 50px" disabled="disabled"/> Không
			                </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bv-pading-30 margin-top-20 text-header-sp" style="margin-bottom: 5px">
                        <p>THÔNG TIN BẢO HIỂM</p>
                    </div>
                    <div style="background: #fafafa">
                        <div class="bv-pading-table-templateSummary">
                            <div>
                            	<p class="bv-title-from">Thời hạn bảo hiểm</p>
                            </div>
                            <div class="display-flex">
                            	<div>
                            		<p class="bv-tile-templateSummary">Từ &nbsp {{vm.homePolicy.inceptionDate}}</p> 
                            	</div>
                            	<div>
                            		<p class="bv-tile-templateSummary">&nbsp Đến &nbsp {{vm.homePolicy.expiredDate}}</p>
                            	</div>
                            </div>
                            <div>
                            	<p class="bv-title-from">Đối tượng bảo hiểm</p>
                            </div>
                            <div>
                           		<p class="bv-tile-templateSummary">Phần I: Ngôi nhà</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Bồi thường tổn thất, thiệt hại vật chất bất ngờ với Ngôi nhà được bảo hiểm do các rủi ro được bảo hiểm theo qui định của đơn</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Phần II: Tài sản bên trong</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Bồi thường tổn thất, thiệt hại vật chất bất ngờ đối với Tài sản bên trong của Ngôi nhà được bảo hiểm do các rủi ro được bảo hiểm theo quy định của đơn</p> 
                           	</div>
	                        <div>
                            	<p class="bv-title-from">Giới hạn bồi thường</p>
                            </div>
                            <div>
                           		<p class="bv-tile-templateSummary">Phần I: Ngôi nhà {{vm.homePolicy.premiumsi | number}} VND/cả thời gian bảo hiểm</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Phần II- Tài sản bên trong {{vm.homePolicy.premiumsiin | number}} VND/cả thời gian bảo hiểm</p> 
                           	</div>
			                <div>
                           		<p class="bv-tile-templateSummary">Giới hạn bồi thường: 50,000,000 VND/mỗi đồ vật được bảo hiểm</p> 
                           	</div>
                           	<div>
                            	<p class="bv-title-from">Phạm vi bảo hiểm</p>
                            </div>
                            <div>
                           		<p class="bv-tile-templateSummary">Theo Quy tắc bảo hiểm Nhà tư nhân của Bảo Hiểm Bảo Việt</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">A. Cháy, Sét đánh</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">B. Nổ</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">C. Giông, Bão, Lũ lụt</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">D. Vỡ hoặc Tràn nước</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">E. Va chạm với ngôi nhà</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">F. Trộm cướp</p> 
                           	</div>
                           	<div class="display-flex">
	                           	<div>
	                           		<p class="bv-tile-templateSummary">Điều khoản mở rộng:</p> 
	                           	</div>
	                           	<div>
	                           		<p class="bv-tile-templateSummary">&nbspThuê nhà sau tổn thất (5% giới hạn bồi thường Phần I)</p> 
	                           	</div>
                           	</div>
                       		<div>
                           		<p class="bv-title-from">Mức khấu trừ&nbsp&nbsp&nbsp</p>
                            </div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Phần I-Ngôi nhà: 5,000,000 VND/mỗi vụ tổn thất</p> 
                           	</div>
                           	<div>
                           		<p class="bv-tile-templateSummary">Phần II-Tài sản bên trong: 2,000,000 VND/mỗi vụ tổn thất</p> 
                           	</div>
                           	
			                <div>
		                        <p class="bv-tile-templateSummary display-inline-block"></p>
		                        <button class="bv-btn-step3" ng-click="vm.getPolicyNumber()">
		                            Tạo đơn hàng
		                        </button>
		                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
