<div class="app-footer white">
  <div ui-include="'../views/theme/blocks/footer.html'"></div>
</div>
<div class="app-body blue-A100 bg-auto w-full">
  <div class="text-center pos-rlt p-y-md">
    <h1 class="text-shadow m-a-0 text-white text-4x">
      <span class="text-2x font-bold block m-t-lg">403</span>
    </h1>
    <h2 class="h1 m-y-lg text-black">OOPS!</h2>
    <p class="h5 m-y-lg text-u-c font-bold text-black">Bạn không có quyền truy cập.</p>
    <a ui-sref="app.dashboard" class="md-btn amber-700 md-raised p-x-md">
      <span class="text-white">Trở về trang chủ</span>
    </a>
  </div>
</div>
