<div class="app-footer white">
	<div ui-include="'../views/theme/blocks/footer.html'"></div>
</div>
<div class="app-body indigo bg-auto w-full">
	<div class="text-center pos-rlt p-y-md">
		<h1 class="text-shadow text-white text-4x">
			<span class="text-2x font-bold block m-t-lg">Hoàn thành</span>
		</h1>
		<p class="h3 m-y-lg text-u-c font-bold" ng-show="vm.paymentShow">Thanh toán thành công</p>
		<p class="h3 m-y-lg text-u-c font-bold" style="color: red;" ng-hide="vm.paymentShow">Thanh toán thất bại</p>
		<p class="h5 m-y-lg text-u-c font-bold">Mã giao dịch: {{vm.paymentPay}}</p>
		<p class="h5 m-y-lg text-u-c font-bold">Ds đơn hàng: {{vm.paymentPolicy}}</p>
		<p>Cảm ơn!</p>
		<a ui-sref="app.dashboard" class="md-btn amber-700 md-raised p-x-md">
			<span class="text-white">Trở về trang chủ</span>
		</a>
		<p>
			<a ui-sref="app.cart"
				class="md-btn deep-purple-A400 md-raised p-x-md"> <span
				class="text-white">Quay lại giỏ hàng</span>
			</a>
		</p>
	</div>
</div>
