<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  bv-background-home" >
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0"  style="min-height: 100vh">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0 padding0">
                <p class="bv-title-home">Tài liệu</p>
            </div>
            <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
                <div class="bv-btn-groud-header">
                    <div class="bv-btn-header-title">
                        <i class="fas fa-file-alt"></i>
                        <span>Tạo đơn hàng mới</span>
                    </div>
                    <div class="bv-btn-header-title">
                        <i class="fas fa-user"></i>
                        <span>Tạo khách hàng mới</span>
                    </div>
                    <div class="bv-btn-header-title">
                        <i class="fas fa-calculator"></i>
                        <span>Tính phí nhanh</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Table content -->
        <table st-table="vm.docsInit" st-safe-src="vm.docs" class="table table-striped bv-home-block-left-table bv-table-kh">
		      	<thead>
			      	<tr>
			      		<th colspan="7">
				      		<div class="bv-input-icon-wrap">
				                <span class="bv-input-icon"><span class="fas fa-search"></span></span>
				                <input st-search="" type="text" placeholder="Tìm kiếm" class="bv-input-with-icon" id="form-name">
				            </div>
			            </th>
					</tr>
			        <tr>
			          	<th st-sort="id">#</th>
			          	<th st-sort="code">Mã tài liệu</th>
			          	<th st-sort="name">Tên tài liệu</th>
			          	<th st-sort="usernameUpload">Người tải lên</th>
			          	<th st-sort="numberDownload">Số lượt download</th>
			          	<th st-sort="note">Ghi chú</th>
			          	<th></th>
			        </tr>
				</thead>
		      	<tbody>
			        <tr ng-repeat="doc in vm.docsInit track by $index">
	                    <td>
	                        <p class="bv-home-table-stt margin-0">{{$index + 1}}</p>
	                    </td>
	                    <td>
	                        <p class="bv-table-text-colorBlue">{{doc.code}}</p>
	                    </td>
	                    <td>
	                        <p class="">{{doc.name}}</p>
	                    </td>
	                    <td>
	                        <p class="">{{doc.usernameUpload}}</p>
	                    </td>
	                    <td>
	                        <p class="">{{doc.numberDownload | number}}</p>
	                    </td>
	                    <td>
	                        <p class="">{{doc.note}}</p>
	                    </td>
	                    <td>
	                    	<button class="md-btn md-fab m-b-sm blue-600 bv-btn" ng-click="vm.downloadDocument(doc)">
	                    		<i class="fas fa-download"></i>
	                    	</button>
	                    </td>
	                </tr>
		      	</tbody>
	    </table>
    </div>
</div>