<div style="min-height: 100vh">
	<!-- Cart payment -->
	<div ng-include="'apps/cart/cart-payment.html'" ng-show="vm.showPayment"></div>

	<!-- Cart search -->	
	<div ng-include="'apps/cart/cart-search.html'" ng-hide="vm.showPayment"></div>
	
	<div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top30" style="float: right;" ng-show="vm.showPayment">
        <button class="bv-btn-step2" ng-click="vm.processPayment()" button-spinner="vm.isLoading" ng-disabled="vm.isLoading">
        	Thanh toán
        </button>
    </div>
	<div class="table-responsive col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10" ng-show="vm.showPayment">
		<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-cart-text-header margin-top-10">
	        <p>Danh sách đơn hàng thanh toán</p>
	    </div>
		<table class="table bv-home-block-left-table bv-table-kh" id="tableOrder">
			<col width="3%">
			<col width="18%">
			<col width="15%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
	        <thead>
	            <tr>
	                <th>STT</th>
	                <th>Mã đơn hàng</th>
					<th>Tên khách hàng</th>
					<th>Sản phẩm</th>
					<th>Số điện thoại</th>
					<th>Trạng thái</th>
					<th>Hiệu lực từ</th>
					<th>Hiệu lực đến</th>
					<th>Phí bảo hiểm</th>
					<th>Ngày tạo</th>
	            </tr>
	        </thead>
	        <tbody>
		        <tr ng-repeat="order in vm.agreementOrder track by $index">
		            <td>
		                <p class="margin-0">{{$order + 1}}</p>
		            </td>
		            <td>
	                     <p class="bv-table-text-colorBlue">{{order.gycbhNumber}}</p>
	                 </td>
	                 <td>
	                     <p style="width: 200px">{{order.contactName}}</p>
	                 </td>
	                 <td>
	                 	<span uib-tooltip="{{order.lineName}}">
	                 		<i class="icon-{{order.lineId}} bv-table-text-colorBlue txt-{{order.createType}}"></i>
	                 	</span>
	                 </td>
	                 <td>
	                     <p style="width: 80px">{{order.contactPhone}}</p>
	                 </td>
	                 <td>
	                     <p style="width: 100px"><span data-translate="global.policy.status.{{order.statusPolicyId}}">Đã thanh toán</span></p>
	                </td>
	                <td>
	                    <p style="width: 80px">{{order.inceptionDate}}</p>
	                </td>
	                <td>
	                    <p style="width: 80px">{{order.expiredDate}}</p>
	                </td>
	                <td>
	                    <p style="width: 80px">{{order.totalPremium | number:0}}</p>
	                </td>
	                <td>
	                	<p style="width: 80px">{{order.agreementSysdate}}</p>
		            </td>
		        </tr>
		        <tr>
		        <td colspan="8"><p class="bv-gh-text-sum" style="font-size: 20px">Tổng tiền</p></td>
		        <td colspan="2"><p class="bv-gh-number-sum" style="font-size: 25px">{{vm.sumMoney | number:0 }} VNĐ</p></td>
		        </tr>
	        </tbody>
	   </table>
	</div>
</div>

