    <div style="min-height: 100vh">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-cart-text-header margin-top-10">
            <p >Qúy khách vui lòng chọn phương thức thanh toán</p>
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 text-center">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding0 ">
                <label for="cbx13" class="label-cbx margin-right-5">
                    <input id="cbx13" type="radio" class="invisible" ng-model="vm.policy.planId" value="2" ng-change="vm.onchangePlan()">
                    <div class="checkbox">
                        <svg width="18px" height="18px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                        </svg>
                    </div>
                    <span>Thẻ nội địa 123pay</span>
                    <p class="margin-top-10 bv-img-pay"><img  src="../../content/assets/images/123pay.png"></p>
                </label>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding0">
                <label for="cbx15" class="label-cbx margin-right-5">
                    <input id="cbx15" type="radio" class="invisible" ng-model="vm.policy.planId" value="2" ng-change="vm.onchangePlan()">
                    <div class="checkbox">
                        <svg width="18px" height="18px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                        </svg>
                    </div>
                    <span>Ví điện tử MoMo</span>
                    <p class="margin-top-10 bv-img-pay"><img  src="../../content/assets/images/momo.png"></p>
                </label>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding0">
                <label for="cbx16" class="label-cbx margin-right-5">
                    <input id="cbx16" type="radio" class="invisible" ng-model="vm.policy.planId" value="2" ng-change="vm.onchangePlan()">
                    <div class="checkbox">
                        <svg width="18px" height="18px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                        </svg>
                    </div>
                    <span>VnPayment</span>
                    <p class="margin-top-10 bv-img-pay"><img   src="../../content/assets/images/viettelpay.jpg"></p>
                </label>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 padding0">
                <label for="cbx17" class="label-cbx margin-right-5">
                    <input id="cbx17" type="radio" class="invisible" ng-model="vm.policy.planId" value="2" ng-change="vm.onchangePlan()">
                    <div class="checkbox">
                        <svg width="18px" height="18px" viewBox="0 0 20 20">
                            <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                            <polyline points="4 11 8 15 16 6"></polyline>
                        </svg>
                    </div>
                    <span>Viettel Payment</span>
                    <p class="margin-top-10 bv-img-pay"><img src="../../content/assets/images/vnpay.jpg"></p>
                </label>
            </div>

        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-cart-text-header margin-top-10">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
               <p class="bv-title-from">
                   Danh sách ngân hàng hỗ trợ:
               </p>
           </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                <select class="bv-select-box form-control" ng-model="vm.policy.travelWithId"
                        required-message="'Chưa chọn gói bảo hiểm!'"
                        required
                >
                    <option value="1">Cá nhân</option>
                    <option value="3">Khách đoàn</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
            <p class="bv-title-from">
                Lưu ý:
            </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <p class="bv-title-from bv-color-a">
               (*)Các ngân hàng phát hành thẻ được hoàn tiền 15% phí bảo hiểm
            </p>
        </div>
        <div class="table-responsive col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
            <table class="table bv-home-block-left-table bv-table-kh" >
                <col width="5%">
                <col width="3%">
                <col width="18%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Sản phẩm</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th>Hiệu lực từ</th>
                    <th>Hiệu lực đến</th>
                    <th>Phí bảo hiểm</th>
                </tr>
                </thead>
                <tr ng-repeat="order in vm.allOrder">
                    <td>
                        <div class="bv-gh-checkbox">
                            <i class="far fa-check-square"></i>
                        </div>
                    </td>
                    <td>
                        <p class="bv-home-table-stt margin-0">{{index}}</p>
                    </td>
                    <td>
                        <p class="bv-table-text-colorBlue">{{order.policyNumber}}</p>
                    </td>
                    <td>
                        <p class="">{{order.receiverName}}</p>
                    </td>
                    <td>
                        <p class="" style="width: 170px;">{{order.lineName}}</p>
                    </td>
                    <td>
                        <p class="">{{order.receiverMoible}}</p>
                    </td>
                    <td>
                        <p class="">{{order.statusPolicyName}}</p>
                    </td>
                    <td>
                        <p class="">{{order.expiredDate}}</p>
                    </td>
                    <td>
                        <p class="">{{order.inceptionDate}}</p>
                    </td>
                    <td>
                        <p class="">{{order.totalPremium}}</p>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td>-->
                        <!--<div class="bv-gh-warning">-->
                            <!--<i class="fas fa-exclamation-triangle"></i>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-home-table-stt margin-0">2</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-table-text-colorBlue">BVP.HN.01</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Vũ Hoàng Chiến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Bảo hiểm oto</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">059484948</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Đã thanh toán</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực từ</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực đến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Phí bảo hiểm</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<div class="bv-gh-clock">-->
                            <!--<i class="far fa-clock"></i>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-home-table-stt margin-0">3</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-table-text-colorBlue">BVP.HN.01</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Vũ Hoàng Chiến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Bảo hiểm oto</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">059484948</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Đã thanh toán</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực từ</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực đến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Phí bảo hiểm</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<div class="bv-gh-warning">-->
                            <!--<i class="fas fa-exclamation-triangle"></i>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-home-table-stt margin-0">2</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="bv-table-text-colorBlue">BVP.HN.01</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Vũ Hoàng Chiến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Bảo hiểm oto</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">059484948</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Đã thanh toán</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực từ</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Hiệu lực đến</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p class="">Phí bảo hiểm</p>-->
                    <!--</td>-->
                <!--</tr>-->
            </table>

        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
            <div  class="col-lg-8 padding0" >
                <p class="bv-gh-text-sum">Áp dụng mã khuyến mãi:</p>
            </div>
            <div class="col-lg-4 padding0 text-right" >
                <input type="text" class="bv-input"   placeholder="Nhập mã giảm giá!"
                />
            </div>
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
            <div  class="col-lg-8 padding0" >
                <p class="bv-gh-text-sum">Tổng tiền</p>
            </div>
            <div class="col-lg-4 padding0 text-right" >
                <p class="bv-gh-number-sum">1480.00 VND</p>
                <button class="bv-gh-tt">
                    Thanh toán
                </button>
            </div>
        </div>
    </div>
