<div style="min-height: 100vh">
	<!-- Cart payment -->
	<div ng-include="'apps/cart/cart-payment.html'"></div>
	
	<!-- Table content -->
	<div ng-include="'apps/cart/cart-data-content.html'"></div>

	<!-- Promotion -->
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
		<div class="col-lg-8 padding0">
			<p class="bv-gh-text-sum">Áp dụng mã khuyến mãi:</p>
		</div>
		<div class="col-lg-4 padding0 text-right">
			<input type="text" class="bv-input" placeholder="Nhập mã giảm giá!"
				ng-model="vm.couponCode" />
		</div>
	</div>
	<div
		class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
		<div class="col-lg-8 padding0">
			<p class="bv-gh-text-sum">Tổng tiền</p>
		</div>
		<div class="col-lg-4 padding0 text-right">
			<p class="bv-gh-number-sum">{{vm.sumMoney | number:0 }} VNĐ</p>
			<button class="bv-gh-tt" ng-click="vm.processPayment()">
				Thanh toán</button>
		</div>
	</div>
</div>

