    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-display-step margin-top-10">
        <div class="hidden-md hidden-lg text-center ">
            <div class="text-center display-inline-block bv-step-mobile" ng-click="vm.closeOpenStepMobile('step1')" id="mobile-step-1">
                <p class="display-inline-block">{{vm.typeNameOne}}</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step2')" id="mobile-step-2">
                <p class="display-inline-block">{{vm.typeNameTwo}}</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStepMobile('step3')" id="mobile-step-3">
                <p class="display-inline-block">{{vm.typeNameThree}}</p>
            </div>
        </div>
        <div class="bv-step-1 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex widthStep98" id="bv-step-1">
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step1')">
                <p class="fas {{vm.typeArrowOne}}"></p>
                <p>1</p>
                <span>Tính phí</span>
                <span>,thông tin bảo hiểm</span>
            </div>
            <form class="bv-from" angular-validator-submit="vm.closeOpenStep('step2', true)" name="myForm" novalidate angular-validator>
                <div class="bv-step-content" id="bv-step-1-content"  >
                    <div class="text-header-sp">
                        <p>Thông tin gói</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Thời hạn bảo hiểm</p>
                    </div>
                    <div class=" display-flex margin-top-10">
                        <div class="margin-right-5 width-100">
                            <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <div class="width-100">
                                    <input type="text" class="bv-input" placeholder="Từ ngày" ng-model="vm.product.thoihanbhTu" ng-change="vm.getPremium()">
                                </div>
                                <div class="input-group-addon bv-date-icon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="width-100">
                            <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <div class="width-100">
                                    <input type="text" class="bv-input" placeholder="Đến ngày" ng-model="vm.product.thoihanbhDen" ng-disabled="true">
                                </div>
                                <div class="input-group-addon bv-date-icon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" display-flex margin-top-10">
                        <div class="margin-right-5 width-100">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <input type="text" class="bv-input" placeholder="Ngày sinh" ng-model="vm.product.ngaySinh" ng-change="vm.getPremium()">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <div class="width-100">
                            <input type="number" min="0" class="bv-input" placeholder="Tuổi" ng-model="vm.product.tuoi" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Đối tượng đượng bảo hiểm</p>
                    </div>
                    <div class=" display-flex">
                        <div class="cntr margin-right-5">
                            <label for="cbx" class="label-cbx">
                                <input id="cbx" name="insuranceTarget" type="radio" class="invisible" ng-model="vm.product.insuranceTarget" value="New">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Mới</span>
                            </label>
                        </div>
                        <div class="cntr">
                            <label for="cbx1" class="label-cbx">
                                <input id="cbx1" name="insuranceTarget" type="radio" class="invisible" ng-model="vm.product.insuranceTarget" value="Reuse">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Tái tục</span>
                            </label>
                        </div>
                    </div>
                    <div class="margin-top-5" ng-show="vm.product.insuranceTarget == 'Reuse'">
                        <input type="text" class="bv-input" placeholder="Nhập số hợp đồng bảo hiểm cũ" ng-model="vm.policy.policyNumber"/>
                    </div>
                    <div class="margin-top-10">
                        <relation-combo type="bvp-insurance-type" ng-model="vm.product.chuongTrinh" options="vm.insuranceTypeOptions" onfinished="vm.processComboResult(data, type)"/>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Quyền lợi bổ sung</p>
                    </div>
                    <div class="cntr margin-top-5">
                        <div>
                            <label for="cbx2" class="label-cbx">
                                <input id="cbx2" type="checkbox" class="invisible" ng-model="vm.product.ngoaitruChk" ng-change="vm.getPremium()">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Điều trị ngoại trú do ốm bệnh, tai nạn</span>
                            </label>
                        </div>
                        <div>
                            <label for="cbx3" class="label-cbx">
                                <input id="cbx3" type="checkbox" class="invisible" ng-model="vm.product.tncnChk">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Bảo hiểm tai nạn cá nhân</span>
                            </label>
                            <div class="margin-top-5" ng-show="vm.product.chuongTrinh && vm.product.tncnChk">
                                <relation-combo type="bvp-tncn" ng-model="vm.product.tncnSi" options="vm.siOptions" onfinished="vm.processComboResult(data, type)"/>
                            </div>
                        </div>
                        <div>
                            <label for="cbx4" class="label-cbx">
                                <input id="cbx4" type="checkbox" class="invisible" ng-model="vm.product.smcnChk">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Bảo hiểm sinh mạng cá nhân</span>
                            </label>
                            <div class="margin-top-5" ng-show="vm.product.chuongTrinh && vm.product.smcnChk">
                                <relation-combo type="bvp-smcn" ng-model="vm.product.smcnSi" options="vm.siOptions" onfinished="vm.processComboResult(data, type)"/>
                            </div>
                        </div>
                        <div>
                            <label for="cbx5" class="label-cbx">
                                <input id="cbx5" type="checkbox" class="invisible" ng-model="vm.product.nhakhoaChk" ng-change="vm.getPremium()">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Bảo hiểm nha khoa</span>
                            </label>
                        </div>
                        <div ng-show="vm.product.chuongTrinh == 4 || vm.product.chuongTrinh == 5">
                            <label for="cbx6" class="label-cbx">
                                <input id="cbx6" type="checkbox" class="invisible" ng-model="vm.product.thaisanChk" ng-change="vm.getPremium()">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Bảo hiểm thai sản</span>
                            </label>
                        </div>
                    </div>
                    <div class="bv-title-from" ng-show="vm.isShowPremium">
                        <p>Tổng phí bảo hiểm (đã bao gồm VAT):</p>
                    </div>
                    <div ng-show="vm.isShowPremium">
                        <p class="bv-tile-templateSummary">{{vm.product.premiumNet}}</p>
                    </div>
                    <div class="bv-title-from" ng-show="vm.isShowTotalPremium">
                        <p>Tổng phí thanh toán (đã bao gồm VAT):</p>
                    </div>
                    <div ng-show="vm.isShowTotalPremium">
                        <p class="bv-tile-templateSummary">{{vm.product.phiBH}}</p>
                    </div>
                </div>
                <div id="contact-info" class="bv-step-content disable-all" disable-all="vm.product.phiBH == 0">
                	<div class="lock-all" ng-show="vm.product.phiBH == 0"></div>
                    <!-- Thông tin người yêu cầu bảo hiểm - Contact -->
                    <contact-section
                        isShowExtendInfo="false"
                        title="1. Thông tin người yêu cầu bảo hiểm"
                        contact-name="vm.policy.nguoiycName" contact-dob="vm.policy.nguoiycNgaysinh"
                        contact-id-number="vm.policy.nguoiycCmnd" contact-relation="vm.policy.nguoiycQuanhe"
                        open-search-contact="vm.openSearchContactForPanel('contact')"></contact-section>

                    <div class="margin-top-20"/>

                    <contact-section
                        isShowExtendInfo="true"
                        title="2. Thông tin người được bảo hiểm"
                        contact-name="vm.policy.nguoidbhName" contact-dob="vm.policy.nguoidbhNgaysinh"
                        contact-id-number="vm.policy.nguoidbhCmnd" contact-relation="vm.policy.nguoidbhQuanhe"
                        open-search-contact="vm.openSearchContactForPanel('insured')"></contact-section>

                    <div class="margin-top-20 text-header-sp">
                        <p>3. Thông tin tình trạng sức khỏe</p>
                    </div>
                    <div class="cntr margin-top-5">
                        <label for="cbx7" class="label-cbx">
                            <input id="cbx7" type="checkbox" class="invisible" ng-model="vm.isHealthyPerson" ng-change="vm.isHealthyPersonChange()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Người được bảo hiểm hoàn toàn khỏe mạnh</span>
                        </label>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">1) Người được bảo hiểm kê khai trên đã từng phải điều trị, nằm viện hay phẫu thuật trong một bệnh viện, viện điều dưỡng, phòng khám hoặc các tổ chức y tế khác trong vòng 3 năm gần đây không? (*)</p>
                    </div>
                    <div class=" display-flex">
                        <div class="cntr margin-right-5">
                            <label for="cbx8" class="label-cbx">
                                <input id="cbx8" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="1" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Có</span>
                            </label>
                        </div>
                        <div class="cntr">
                            <label for="cbx9" class="label-cbx">
                                <input id="cbx9" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="0" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Không</span>
                            </label>
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">2) Người được bảo hiểm có đang được theo dõi hoặc điều trị thương tật, bệnh hoặc có triệu chứng sức khỏe không ổn định hoặc cần phải điều trị bệnh viện trong vòng 12 tháng tới không? (*)</p>
                    </div>
                    <div class=" display-flex">
                        <div class="cntr margin-right-5">
                            <label for="cbx10" class="label-cbx">
                                <input id="cbx10" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="1" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Có</span>
                            </label>
                        </div>
                        <div class="cntr">
                            <label for="cbx11" class="label-cbx">
                                <input id="cbx11" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="0" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Không</span>
                            </label>
                        </div>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">3) Trong 3 năm qua, Người được bảo hiểm có mắc hay điều trị một hay nhiều triệu chứng các bệnh sau: ung thư, u các loại, huyết áp, tim mạch, loét dạ dày, viêm đa khớp mãn tính, loét ruột, viêm gan, viêm màng trong dạ con, trĩ, sỏi trong các hệ thống tiết niệu và đường mật, lao, đục nhân mắt, viêm xoang, tiểu đường, thoát vị đĩa đệm hay các bệnh khác không? (*)</p>
                    </div>
                    <div class=" display-flex">
                        <div class="cntr margin-right-5">
                            <label for="cbx12" class="label-cbx">
                                <input id="cbx12" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="1" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Có</span>
                            </label>
                        </div>
                        <div class="cntr">
                            <label for="cbx13" class="label-cbx">
                                <input id="cbx13" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="0" ng-disabled="vm.isHealthyPerson">
                                <div class="checkbox">
                                    <svg width="18px" height="18px" viewBox="0 0 20 20">
                                        <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                        <polyline points="4 11 8 15 16 6"></polyline>
                                    </svg>
                                </div>
                                <span>Không</span>
                            </label>
                        </div>
                    </div>
                    <table class="table table-bordered margin-top-10" ng-show="vm.policy.q3 == 1">
                        <thead>
                        <tr>
                            <th style="width: 195px">Ngày khám/điều trị</th>
                            <th>Chuẩn đoán</th>
                            <th>Chi tiết điều trị</th>
                            <th>Kết quả</th>
                            <th>Tên, địa chỉ bác sĩ/bệnh viện</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.policy.lstAdd">
                                <td>
                                    <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                        <div class="width-100">
                                            <input type="text" class="bv-input" placeholder="dd/MM/yyyy" ng-model="item.ngaydieutri">
                                        </div>
                                        <div class="input-group-addon bv-date-icon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="text" class="form-control" ng-model="item.chuandoan" /></td>
                                <td><input type="text" class="form-control" ng-model="item.chitietdieutri" /></td>
                                <td><input type="text" class="form-control" ng-model="item.ketqua" /></td>
                                <td><input type="text" class="form-control" ng-model="item.benhvienorbacsy" /></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="margin-top-20"/>

                    <contact-section
                        isShowExtendInfo="true"
                        title="4. Thông tin người thụ hưởng bảo hiểm"
                        contact-name="vm.policy.nguoithName" contact-dob="vm.policy.nguoithNgaysinh"
                        contact-id-number="vm.policy.nguoithCmnd" contact-relation="vm.policy.nguoithQuanhe"
                        open-search-contact="vm.openSearchContactForPanel('requirement')"></contact-section>

                    <div class="margin-top-5">
                        <button type="submit" class="bv-btn-step3">Tiếp theo</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="bv-step-2 closeStepTwo padding0 display-flex " id="bv-step-2" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step2')">
                <p class="fas {{ vm.typeArrowTwo }}"></p>
                <p>2</p>
                <span>Thông tin giao hàng</span>
            </div>
            <form class="display-flex" angular-validator-submit="vm.closeOpenStep('step3', true)" name="myForm1" novalidate angular-validator>
                <div class="bv-step-content" id="bv-step-2-content">
                    <!-- THÔNG TIN HÓA ĐƠN GIÁ TRỊ GIA TĂNG - THÔNG TIN NHẬN ĐƠN BẢO HIỂM -->
                    <div ng-include="'apps/product/partial/partial.invoice-receiverUser.html'"></div>

                    <div class="margin-top-10">
                        <p class="bv-tile-templateSummary display-inline-block"></p>
                        <button type="submit" class="bv-btn-step3">Tiếp theo</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
                <p class="fas {{ vm.typeArrowThree }}"></p>
                <p>3</p>
                <span>Tóm tắt đơn hàng</span>
            </div>
            <div class="bv-step-content">
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>1. Thông tin người yêu cầu bảo hiểm</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Họ tên người yêu cầu bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoiycName}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Ngày sinh</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoiycNgaysinh}}</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>2. Thông tin người được bảo hiểm</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Họ tên người được bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhName}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Ngày sinh</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhNgaysinh}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Số CMT/Hộ chiếu</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhCmnd}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Quan hệ với người yêu cầu bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.getName(vm.policy.nguoidbhQuanhe, vm.relationOptions)}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Hình thức tham gia</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.getName(vm.product.insuranceTarget, vm.relationOptions)}}</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>3. Thời hạn bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">Từ {{vm.product.thoihanbhTu}} Đến {{vm.product.thoihanbhDeb}}</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>4. Thông tin bảo hiểm</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Chương trình bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.getName(vm.product.chuongTrinh, vm.insuranceTypeOptions)}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Tổng phí bảo hiểm (đã bao gồm VAT)</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.product.premiumNet}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Tổng phí thanh toán (đã bao gồm VAT)</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.product.phiBH}}</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>5. Thông tin tình trạng sức khỏe</p>
                    </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">1) Người được bảo hiểm kê khai trên đã từng phải điều trị, nằm viện hay phẫu thuật trong một bệnh viện, viện điều dưỡng, phòng khám hoặc các tổ chức y tế khác trong vòng 3 năm gần đây không? (*)</p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbx8" class="label-cbx">
	                            <input id="cbx8" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="1" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbx9" class="label-cbx">
	                            <input id="cbx9" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="0" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">2) Người được bảo hiểm có đang được theo dõi hoặc điều trị thương tật, bệnh hoặc có triệu chứng sức khỏe không ổn định hoặc cần phải điều trị bệnh viện trong vòng 12 tháng tới không? (*)</p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbx10" class="label-cbx">
	                            <input id="cbx10" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="1" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbx11" class="label-cbx">
	                            <input id="cbx11" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="0" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
	                <div class="margin-top-10">
	                    <p class="bv-title-from">3) Trong 3 năm qua, Người được bảo hiểm có mắc hay điều trị một hay nhiều triệu chứng các bệnh sau: ung thư, u các loại, huyết áp, tim mạch, loét dạ dày, viêm đa khớp mãn tính, loét ruột, viêm gan, viêm màng trong dạ con, trĩ, sỏi trong các hệ thống tiết niệu và đường mật, lao, đục nhân mắt, viêm xoang, tiểu đường, thoát vị đĩa đệm hay các bệnh khác không? (*)</p>
	                </div>
	                <div class=" display-flex">
	                    <div class="cntr margin-right-5">
	                        <label for="cbx12" class="label-cbx">
	                            <input id="cbx12" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="1" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox">
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Có</span>
	                        </label>
	                    </div>
	                    <div class="cntr">
	                        <label for="cbx13" class="label-cbx">
	                            <input id="cbx13" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="0" ng-disabled="vm.isHealthyPerson">
	                            <div class="checkbox"> 
	                                <svg width="18px" height="18px" viewBox="0 0 20 20">
	                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
	                                    <polyline points="4 11 8 15 16 6"></polyline>
	                                </svg>
	                            </div>
	                            <span>Không</span>
	                        </label>
	                    </div>
	                </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>6. Thông tin người thụ hưởng bảo hiểm</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Họ tên người được bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoithName}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Ngày sinh</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoithNgaysinh}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Số CMT/Hộ chiếu</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.nguoithCmnd}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Quan hệ với người yêu cầu bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.getName(vm.policy.nguoithQuanhe, vm.relationOptions)}}</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>7. Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
                    </div>
                    <div class="display-flex">
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Họ tên người nhận</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.name}}</p>
                            </div>
                        </div>
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Số điện thoại</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.mobile}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Email</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bv-title-from">
                        <p>Địa chỉ người nhận</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.address}}, {{vm.policy.receiverUser.addressDistrict}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Hình thức giao nhận</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary display-inline-block">Gửi tới địa chỉ người nhận</p>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>8. Thông tin hóa đơn giá trị gia tăng</p>
                    </div>
                    <div class="display-flex">
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Họ tên người mua</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.name}}</p>
                            </div>
                        </div>
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Tên công ty</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.company}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Mã số thuế</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.taxNo}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bv-title-from">
                        <p>Địa chỉ công ty</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.address}}</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Số tài khoản</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary display-inline-block">{{vm.policy.invoiceInfo.accountNo}}</p>
                        <button class="bv-btn-step3" ng-click="vm.createNewPolicy()">
                            Tạo đơn hàng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
