<!-- <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 padding0">
    <p class="bv-text-header-home" ng-init="vm.isCollapsedOrderSummary = false" ng-click="vm.isCollapsedOrderSummary = !vm.isCollapsedOrderSummary">
    	Đơn hàng <i class="fas" ng-class="vm.isCollapsedOrderSummary ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
    </p>
</div>
<div class="col-lg-6  col-md-6 col-sm-12 col-xs-12 padding0">
    <p class="bv-text-header-home" ng-init="vm.isCollapsedOrderSummary = false" ng-click="vm.isCollapsedOrderSummary = !vm.isCollapsedOrderSummary">
    	Giỏ hàng <i class="fas" ng-class="vm.isCollapsedOrderSummary ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
    </p>
</div> -->

<div  ng-init="vm.isCollapsedOrderSummary = false" >
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 bv-home-block-three padding0">
        <div class=" padding0 bv-home-block-left-order">
            <div class=""  ng-click="vm.isCollapsedOrderSummary = !vm.isCollapsedOrderSummary">
                <p class="bv-text-header-home">Đơn hàng <i class="fas" ng-class="vm.isCollapsedOrderSummary ? 'fa-chevron-right' : 'fa-chevron-down'"></i></p>
            </div>
            <div uib-collapse="vm.isCollapsedOrderSummary">
                <table class="table" style="width: 100%">
                    <tr class="bv-block-three">
                        <td class="bv-icon-order">
                            <i class="fas fa-file-alt"></i>
                        </td>
                        <td class="bv-icon-order-blockOne">
                            <p class="bv-icon-order-blockOne-number">{{vm.report.numberOrderPaid | number:0}}</p>
                            <p>Đơn hàng <span data-translate="global.time.{{vm.filterDate}}">trong tuần</span></p>
                        </td>
                    </tr>
                    <tr class="bv-block-three">
                        <td class="bv-icon-order">
                            <i class="fas fa-dollar-sign"></i>
                        </td>
                        <td class="bv-icon-order-blockOne">
                            <p class="bv-icon-order-blockOne-number">{{vm.report.premiumPaid | number:0}}</p>
                            <p>Tổng số phí bảo hiểm  <span data-translate="global.time.{{vm.filterDate}}"> trong tuần</span></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class=" padding0 bv-home-block-right-order" >
            <div class=""  ng-click="vm.isCollapsedOrderSummary = !vm.isCollapsedOrderSummary">
                <p class="bv-text-header-home">Giỏ hàng <i class="fas" ng-class="vm.isCollapsedOrderSummary ? 'fa-chevron-right' : 'fa-chevron-down'"></i></p>
            </div>
            <div uib-collapse="vm.isCollapsedOrderSummary">
                <table class="table" style="width: 100%">
                    <tr class="bv-block-three">
                        <td class="bv-icon-order">
                            <i class="icon-cart"></i>
                        </td>
                        <td class="bv-icon-order-blockOne">
                            <p class="bv-icon-order-blockOne-number">{{vm.report.numberOrderNotPaid | number:0}}</p>
                            <p>Đơn hàng chưa thanh toán</p>
                        </td>
                    </tr>
                    <tr class="bv-block-three">
                        <td class="bv-icon-order">
                            <i class="fas fa-dollar-sign"></i>
                        </td>
                        <td class="bv-icon-order-blockOne bv-color-ff0000">
                            <p class="bv-icon-order-blockOne-number">{{vm.report.premiumNotPaid | number:0}}</p>
                            <p>Đơn hàng chưa thanh toán</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
