<div class="bv-context-menu">
	<div class="" ng-click="vm.confirmViewAgreement(order)">
		<div class="bv-detail-icon-table">
			<i class="icon-eye"></i>
		</div>
        <span class="bv-detail-text-table">Xem</span>
	</div>
	<div ng-click="vm.confirmEditAgreement(order)">
        <div class="bv-detail-icon-table">
            <i class="icon-pencil"></i>
        </div>
        <span class="bv-detail-text-table">Sửa</span>
    </div>
    <div ng-click="vm.confirmResendOTP(order.gycbhNumber)" ng-show="order.statusPolicyId == 81">
        <div class="bv-detail-icon-table">
            <i class="fas fa-sync-alt"></i>
        </div>
        <span class="bv-detail-text-table">Gửi lại OTP</span>
    </div>
    <div ng-click="vm.confirmOTP(order.gycbhNumber)" ng-show="order.statusPolicyId == 81">
        <div class="bv-detail-icon-table">
            <i class="fas fa-key"></i>
        </div>
        <span class="bv-detail-text-table">Nhập OTP</span>
    </div>
    <div ng-click="vm.confirmCommunication(order)" ng-show="order.statusPolicyId == 83">
        <div class="bv-detail-icon-table">
            <i class="fas fa-comments"></i>
        </div>
        <span class="bv-detail-text-table">Trao đổi</span>
    </div>
</div>
