<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10" >
        <div class="table-responsive col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
            <!-- Table content -->
	        <table st-table="vm.remindersInit" st-safe-src="vm.reminders" class="table table-striped bv-home-block-left-table bv-table-kh">
			      	<thead>
				      	<tr>
				      		<th colspan="7">
					      		<div class="bv-input-icon-wrap">
					                <span class="bv-input-icon"><span class="fas fa-search"></span></span>
					                <input st-search="" type="text" placeholder="Tìm kiếm" class="bv-input-with-icon" id="form-name">
					            </div>
				            </th>
						</tr>
				        <tr>
				          	<th st-sort="id">#</th>
				          	<th st-sort="contactName">Khách hàng</th>
				          	<th st-sort="productCode">Mã sản phẩm bảo hiểm</th>
				          	<th st-sort="remindeDate">Ngày thông báo</th>
				          	<th st-sort="content">Nội dung</th>
				          	<th st-sort="active">Trạng thái</th>
				          	<th st-sort="note">Ghi chú</th>
				          	<th></th>
				        </tr>
					</thead>
			      	<tbody>
				        <tr ng-repeat="reminder in vm.remindersInit track by $index">
		                    <td>
		                        <p class="bv-home-table-stt margin-0">{{$index + 1}}</p>
		                    </td>
		                    <td>
		                        <p class="bv-table-text-colorBlue">{{reminder.contactName}}</p>
		                    </td>
		                    <td>
		                        <p class="">{{reminder.productCode}}</p>
		                    </td>
		                    <td>
		                        <p class="">{{reminder.remindeDate}}</p>
		                    </td>
		                    <td>
		                        <p class="">{{reminder.content}}</p>
		                    </td>
		                    <td>
		                        <label class="ui-switch m-t-xs m-r">
		                        	<input type="checkbox" ng-model="reminder.active" ng-true-value="'1'" ng-false-value="'0'" ng-change="vm.updateReminderStatus(reminder)"> <i></i>
		                        </label>
		                    </td>
		                    <td>
		                        <p class="">{{reminder.note}}</p>
		                    </td>
		                    <td>
		                    	<button class="md-btn md-fab m-b-sm red bv-btn" ng-click="vm.deleteReminder(reminder.id)">
		                    		<i class="far fa-trash-alt"></i>
		                    	</button>
		                    </td>
		                </tr>
			      	</tbody>
		    </table>
        </div>
</div>
