<div class="dropdown pull-left open">
    <button class="dropdown-toggle btn-dropdown-bars-contact" type="button" data-toggle="dropdown" aria-expanded="true">
        <div class="">
            <i class="icon-suitcase"></i>
        </div>
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-car"></i> Bảo hiểm ô tô</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-insurance2"></i> Bảo hiểm An gia</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-cardiogram"></i> Bảo hiểm bệnh ung thư</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-airplane"></i> Bảo hiểm du lịch quốc tế</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-vn"></i> Bảo hiểm du lịch VIệt Nam</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-motorbike"></i> Bảo hiểm xe máy</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-mortgage"></i> Bảo hiểm nhà tư nhân</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-insurance"></i> Bảo hiểm kết hợp con người</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-broken-arm"></i> Bảo hiểm tai nạn con người</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" href="#">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
    </ul>
</div>