<div class="dropdown pull-left open">
    <button class="dropdown-toggle btn-dropdown-bars-contact" type="button" data-toggle="dropdown" aria-expanded="true">
        <div class="">
            <i class="icon-suitcase"></i>
        </div>
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-car"></i> Bảo hiểm ô tô</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.car({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'CAR', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'CAR', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-insurance2"></i> Bảo hiểm An gia</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.bvp({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'BVP', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'BVP', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-cardiogram"></i> Bảo hiểm bệnh ung thư</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.kcare({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'KCR', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'KCR', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-airplane"></i> Bảo hiểm du lịch quốc tế</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.tvc({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'TVC', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'TVC', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-vn"></i> Bảo hiểm du lịch VIệt Nam</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.tvi({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'TVI', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'TVI', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-motorbike"></i> Bảo hiểm xe máy</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.moto({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'MOT', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'MOT', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-mortgage"></i> Bảo hiểm nhà tư nhân</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.home({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'HOM', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'HOM', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-insurance"></i> Bảo hiểm kết hợp con người</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.khc({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'KHC', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'KHC', selContactId: vm.selectedContact.contactId})"">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle"><i class="icon-broken-arm"></i> Bảo hiểm tai nạn con người</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" ui-sref="product.tnc({selContactId: vm.selectedContact.contactId})">Cấp đơn Online</a></li>
                <li><a class="dropdown-item" ui-sref="product.ycbh-offline({productCode:'TNC', selContactId: vm.selectedContact.contactId})">Cấp đơn Offline</a></li>
                <li><a class="dropdown-item" ui-sref="product.printed-paper({productCode:'TNC', selContactId: vm.selectedContact.contactId})">Cấp đơn Ấn chỉ</a></li>
            </ul>
        </li>
    </ul>
</div>