    <div class="display-flex">
        <div class="border-right-ccc bv-pading-30 width-100">
            <div class="text-header-sp" style="margin-bottom: 10px">
                <p>Thông tin chủ xe</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Tên chủ xe</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredName}}</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Địa chỉ</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredAddress}}</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Điện thoại</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.mobile}}</p>
            </div>
        </div>
        <div class="border-right-ccc bv-pading-30 width-100">
            <div class="text-header-sp" style="margin-bottom: 10px">
                <p>Thông tin về xe tham gia bảo hiểm</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Loại xe</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.getName(vm.product.typeOfMoto, vm.typeOfMotoOptions)}}</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Biển số</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.registrationNumber}}</p>
            </div>
            <div class="display-flex">
                <div class="margin-right-30">
                    <div class="">
                        <p class="bv-title-from">Số khung</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.sokhung}}</p>
                    </div>
                </div>
                <div>
                    <div class="-10">
                        <p class="bv-title-from">Số máy</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.somay}}</p>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="bv-title-from">Nhãn hiệu xe</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.hieuxe}}</p>
            </div>
            <div class="">
                <p class="bv-title-from">Giá trị bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.product.chaynoStbh}}</p>
            </div>
        </div>
        <div class="width-100 bv-pading-30">
            <div class="text-header-sp">
                <p>Thời gian bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">Từ ngày {{vm.policy.thoihantu}} đến ngày {{vm.policy.thoihanden}}</p>
            </div>
        </div>
    </div>
    <div>
        <div class="bv-pading-30 margin-top-20 text-header-sp" style="margin-bottom: 10px">
            <p>Mức trách nhiệm và phí bảo hiểm</p>
        </div>
        <div style="background: #fafafa">
            <div class="bv-pading-table-templateSummary">
                <table class="width-100 ">
                    <thead>
                    <tr>
                        <th class="bv-title-from">Phạm vi bảo hiểm</th>
                        <th class="bv-title-from">Mức trách nhiệm</th>
                        <th class="bv-title-from">Phí bảo hiểm(Đã bao gồm VAT)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="vm.isShowTndsbbPhi">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm trách nhiệm dân sự bắt buộc</p></td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <p class="margin-bottom-0">
                                    Mức trách nhiệm đối với người thứ 3
                                </p>
                                <p class="margin-bottom-0">
                                    - Về người: 100,000,000 VND/người/vụ
                                </p>
                                <p class="margin-bottom-0">
                                    - Về tài sản: 50,000,000 VND/vụ
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.product.tndsbbPhi | number:0 }}</span><span>VND</span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="vm.isShowTndstnPhi">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Trách nhiệm dân sự tự nguyện</p></td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <p class="margin-bottom-0">
                                    Mức trách nhiệm đối với người thứ 3
                                </p>
                                <p class="margin-bottom-0">
                                    - Về người: 50,000,000 VND/người/vụ
                                </p>
                                <p class="margin-bottom-0">
                                    - Về tài sản: 50,000,000 VND/vụ
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.product.tndstnPhi | number:0 }}</span><span>VND</span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="vm.isShowNntxPhi">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm tai nạn người ngồi trên xe</p></td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <p class="margin-bottom-0">
                                    - Số người: {{vm.product.nntxSoNguoi}} người
                                </p>
                                <p class="margin-bottom-0">
                                    - Số tiền bảo hiểm: {{vm.product.nntxStbh | number:0 }} VND/người/vụ
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.product.nntxPhi | number:0 }}</span><span>VND</span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="vm.isShowChaynoPhi">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Cháy nổ xe máy</p></td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <p class="margin-bottom-0">
                                    - Số tiền bảo hiểm: {{vm.product.chaynoStbh | number:0 }} VND
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.product.chaynoPhi | number:0 }}</span><span>VND</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            <p class="bv-title-from">Tổng phí bảo hiểm</p>
                        </td>
                        <td>
                            <p class="bv-tile-templateSummary"><span>{{vm.product.tongPhi | number:0 }}</span><span>VND</span></p></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
        </div>
        <div class="display-flex">
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người nhận</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.name}}</p>
                </div>
            </div>
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Số điện thoại</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.mobile}}</p>
                </div>
            </div>
            <div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Email</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.email}}</p>
                </div>
            </div>
        </div>
        <div class="bv-title-from">
            <p>Địa chỉ người nhận</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.address}}, {{vm.policy.receiverUser.addressDistrict}}</p>
        </div>
        <div class="bv-title-from">
            <p>Hình thức giao nhận</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary display-inline-block">Gửi tới địa chỉ người nhận</p>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>Thông tin hóa đơn giá trị gia tăng</p>
        </div>
        <div class="display-flex">
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người mua</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.name}}</p>
                </div>
            </div>
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Tên công ty</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.company}}</p>
                </div>
            </div>
            <div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Mã số thuế</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.taxNo}}</p>
                </div>
            </div>
        </div>
        <div class="bv-title-from">
            <p>Địa chỉ công ty</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.address}}</p>
        </div>
        <div class="bv-title-from">
            <p>Số tài khoản</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary display-inline-block">{{vm.policy.invoiceInfo.accountNo}}</p>
        </div>
    </div>
