<!-- BVP -->
<div ng-if="vm.policy.lineId == 'BVP'" ng-include="'apps/product/summary_detail/bvp_summary.html'"></div>

<!-- CAR -->
<div ng-if="vm.policy.lineId == 'CAR'" ng-include="'apps/product/summary_detail/car_summary.html'"></div>

<!-- HHVC -->
<div ng-if="vm.policy.lineId == 'HHV'" ng-include="'apps/product/summary_detail/hhvc_summary.html'"></div>

<!-- HOME -->
<div ng-if="vm.policy.lineId == 'HOM'" ng-include="'apps/product/summary_detail/home_summary.html'"></div>

<!-- KCARE -->
<div ng-if="vm.policy.lineId == 'KCR'" ng-include="'apps/product/summary_detail/kcare_summary.html'"></div>

<!-- KHC -->
<div ng-if="vm.policy.lineId == 'KHC'" ng-include="'apps/product/summary_detail/khc_summary.html'"></div>

<!-- MOTO -->
<div ng-if="vm.policy.lineId == 'MOT'" ng-include="'apps/product/summary_detail/moto_summary.html'"></div>

<!-- Honda -->
<div ng-if="vm.policy.lineId == 'MOH'" ng-include="'apps/product/summary_detail/honda_summary.html'"></div>

<!-- TNC -->
<div ng-if="vm.policy.lineId == 'TNC'" ng-include="'apps/product/summary_detail/tnc_summary.html'"></div>

<!-- TVC -->
<div ng-if="vm.policy.lineId == 'TVC'" ng-include="'apps/product/summary_detail/tvc_summary.html'"></div>

<!-- TVI -->
<div ng-if="vm.policy.lineId == 'TVI'" ng-include="'apps/product/summary_detail/tvi_summary.html'"></div>

<div class="margin-top-20">
    <button class="bv-btn-step3" ng-click="vm.gotoBack()" >
        Quay lại
    </button>
</div>