<div class="margin-top-10">
	<p class="bv-title-from">{{$ctrl.label}}<span ng-show="$ctrl.isRequired" class="bv-req-red">&nbsp(*)</span></p>
</div>
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
    <div class="width-100 padding0 margin-right-5">
    	<div class="input-group display-flex">
         	<div class="width-100">
             	<ui-select ng-model="$ctrl.connectionModel" theme="bootstrap" on-select="$ctrl.onChange($item)" required required-message="'Chưa nhập tên phường xã!'">
					<ui-select-match class="ui-select-match" placeholder="{{$ctrl.placeholder}}">{{$select.selected.pkDistrict}}</ui-select-match>
					<ui-select-choices class="ui-select-choices" repeat="item in $ctrl.lstAddress | filter: $select.search | limitTo: 20">
						<div ng-bind-html="item.pkDistrict | highlight: $select.search"></div>
						<small ng-bind-html="item.pkProvince | highlight: $select.search"></small>
					</ui-select-choices>
				</ui-select>
         	</div>
         	<div class="input-group-addon bv-date-icon">
             	<button ng-click="$ctrl.addressSelected = undefined" class="btn blue">
					<span class="fa fa-remove"></span>
				</button>
         	</div>
        </div>
    </div>
</div>
	    
<!-- <div class="margin-top-5">
	<input type="text" name="receiverUserData.addressDistrict" class="bv-input" placeholder="Tên phường xã" ng-model="$ctrl.connectionModel"
	/>
</div> -->