<div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
    <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
        <p class="fas {{ vm.typeArrowThree }}"></p>
        <p>3</p>
        <span>Tóm tắt đơn hàng</span>
    </div>
    <div class="bv-step-content">
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>1. Thông tin người yêu cầu bảo hiểm</p>
            </div>
            <div class="bv-title-from">
                <p>Họ tên người yêu cầu bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.contactName}}</p>
            </div>
            <div class="bv-title-from">
                <p>Ngày sinh</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.contactDob}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số điện thoại</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.contactPhone}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mã số thuế</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.contactTaxNo}}</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>2. Thông tin người được bảo hiểm</p>
            </div>
            <div class="bv-title-from">
                <p>Họ tên người được bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredName}}</p>
            </div>
            <div class="bv-title-from">
                <p>Ngày sinh</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredDob}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số điện thoại</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredPhone}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mã số thuế</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.insuredTaxNo}}</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>3. Thông tin người thụ hưởng bảo hiểm</p>
            </div>
            <div class="bv-title-from">
                <p>Họ tên người thụ hưởng bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementName}}</p>
            </div>
            <div class="bv-title-from">
                <p>Ngày sinh</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementDob}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số điện thoại</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementPhone}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mã số thuế</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>4. Thông tin hàng hóa đối tượng bảo hiểm</p>
            </div>
            <div class="bv-title-from">
                <p>Tên hàng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementName}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mô tả chi tiết</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementDob}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mã kí hiệu</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementPhone}}</p>
            </div>
            <div class="bv-title-from">
                <p>Phương thức đóng gói bao bì</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Trọng lượng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số lượng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số container và số Seal</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Tên tàu hoặc phương tiện vận chuyển</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Chuyến hành trình/ Đăng kí số</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Mô tả hành trình</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>B/L &/or AWB số hoặc HĐVC số</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Nơi khởi hành</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Nơi đến cuối cùng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số Hợp đồng/ Hóa đơn số</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Cảng xếp hàng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Cảng dỡ hàng</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>L/C số</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Ngày khởi hành</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
            <div class="bv-title-from">
                <p>Chuyển tải</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.requirementTaxNo}}</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>5. Thông tin phí bảo hiểm</p>
            </div>
            <div class="bv-title-from">
                <p>Phí NET</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.product.premiumNet}}</p>
            </div>
            <div class="bv-title-from">
                <p>VAT</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.totalVat}}</p>
            </div>
            <div class="bv-title-from">
                <p>Tổng phí phải thanh toán</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.product.premiumHHVC}}</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>6. Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
            </div>
            <div class="display-flex">
                <div class="margin-right-70">
                    <div class="margin-top-10">
                        <p class="bv-title-from">Họ tên người nhận</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.name}}</p>
                    </div>
                </div>
                <div class="margin-right-70">
                    <div class="margin-top-10">
                        <p class="bv-title-from">Số điện thoại</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.mobile}}</p>
                    </div>
                </div>
                <div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Email</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.email}}</p>
                    </div>
                </div>
            </div>
            <div class="bv-title-from">
                <p>Địa chỉ người nhận</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.receiverUser.address}}, {{vm.policy.receiverUser.addressDistrict}}</p>
            </div>
            <div class="bv-title-from">
                <p>Hình thức giao nhận</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary display-inline-block">Gửi tới địa chỉ người nhận</p>
            </div>
        </div>
        <div class="bv-pading-30">
            <div class="text-header-sp">
                <p>6. Thông tin hóa đơn giá trị gia tăng</p>
            </div>
            <div class="display-flex">
                <div class="margin-right-70">
                    <div class="margin-top-10">
                        <p class="bv-title-from">Họ tên người mua</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.name}}</p>
                    </div>
                </div>
                <div class="margin-right-70">
                    <div class="margin-top-10">
                        <p class="bv-title-from">Tên công ty</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.company}}</p>
                    </div>
                </div>
                <div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Mã số thuế</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.taxNo}}</p>
                    </div>
                </div>
            </div>
            <div class="bv-title-from">
                <p>Địa chỉ công ty</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">{{vm.policy.invoiceInfo.address}}</p>
            </div>
            <div class="bv-title-from">
                <p>Số tài khoản</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary display-inline-block">{{vm.policy.invoiceInfo.accountNo}}</p>
                <button class="bv-btn-step3" ng-click="vm.createNewPolicy()">
                    Tạo đơn hàng
                </button>
            </div>
        </div>
    </div>
</div>