<div class="bv-step-content">
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>1. Thông tin người yêu cầu bảo hiểm</p>
        </div>
        <div class="bv-title-from">
            <p>Họ tên người yêu cầu bảo hiểm</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.contactName}}</p>
        </div>
        <div class="bv-title-from">
            <p>Ngày sinh</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.contactDob}}</p>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>2. Thông tin người được bảo hiểm</p>
        </div>
        <div class="margin-top-10">
            <div class="table-responsive bv-home-block-left-table-responsive ">
                <table class="table table-bordered " ng-show="vm.isShowPersonList">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và tên</th>
                        <th>Số Hộ chiếu/CMND</th>
                        <th>Ngày sinh (dd/MM/yyyy)</th>
                        <th>Số tiền bảo hiểm(VND)</th>
                        <th>Phí bảo hiểm(VND</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in vm.product.premiumKhcList">
                        <td>{{$index + 1}}</td>
                        <td style="width: 150px"><input type="text" name="insuredName" class="form-control" ng-model="person.insuredName" ng-disabled="true"/></td>
                        <td style="width: 150px"><input type="text" name="idPasswport" class="form-control" ng-model="person.idPasswport" ng-disabled="true"/></td>
                        <td style="width: 150px">
                            <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <div class="width-100">
                                    <input type="text" name="dob" class="bv-input" placeholder="dd/MM/yyyy" ng-model="person.dob" ng-change="vm.onDobChange()" ng-disabled="true">
                                </div>
                                <div class="input-group-addon bv-date-icon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </td>
                        <td style="width: 150px"><input type="text" name="premiumPackage" class="form-control" ng-model="vm.product.premiumPackage" ng-disabled="true"/></td>
                        <td style="width: 150px"><input type="text" name="premium" class="form-control" ng-model="person.premium" ng-disabled="true"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>3. Thông tin bảo hiểm</p>
        </div>
        <div class="bv-title-from">
            <p>Số tiền bảo hiểm</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.product.premiumPackage | number:0 }}</p>
        </div>
        <div class="bv-title-from">
            <p>Thời hạn bảo hiểm</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">Từ {{vm.product.insuranceStartDate}} Đến {{vm.product.insuranceEndDate}}</p>
        </div>
        <div class="bv-title-from">
            <p>Quyền lợi bảo hiểm</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">Điều kiện bảo hiểm A - Tử vong không phải do nguyên nhân tai nạn</p>
        </div>
        <div class="bv-title-from">
            <p>Điều khoản, điều kiện</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">Theo điều khoản bảo hiểm kết hợp con người của Bảo Hiểm Bảo Việt. Quý khách vui lòng xem <a href="#">Điều khoản, điều kiện</a></p>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>4. Thông tin phí bảo hiểm</p>
        </div>
        <div class="bv-title-from">
            <p>Tổng phí phải thanh toán</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.product.premiumKhc | number:0 }}</p>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>5. Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
        </div>
        <div class="display-flex">
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người nhận</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.receiverUserData.name}}</p>
                </div>
            </div>
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Số điện thoại</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.receiverUserData.mobile}}</p>
                </div>
            </div>
            <div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Email</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.receiverUserData.email}}</p>
                </div>
            </div>
        </div>
        <div class="bv-title-from">
            <p>Địa chỉ người nhận</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.receiverUserData.address}}, {{vm.receiverUserData.addressDistrict}}</p>
        </div>
        <div class="bv-title-from">
            <p>Hình thức giao nhận</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary display-inline-block">Gửi tới địa chỉ người nhận</p>
        </div>
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp">
            <p>6. Thông tin hóa đơn giá trị gia tăng</p>
        </div>
        <div class="display-flex">
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ tên người mua</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.invoiceInfoData.name}}</p>
                </div>
            </div>
            <div class="margin-right-70">
                <div class="margin-top-10">
                    <p class="bv-title-from">Tên công ty</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.invoiceInfoData.company}}</p>
                </div>
            </div>
            <div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Mã số thuế</p>
                </div>
                <div>
                    <p class="bv-tile-templateSummary">{{vm.invoiceInfoData.taxNo}}</p>
                </div>
            </div>
        </div>
        <div class="bv-title-from">
            <p>Địa chỉ công ty</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.invoiceInfoData.address}}</p>
        </div>
        <div class="bv-title-from">
            <p>Số tài khoản</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary display-inline-block">{{vm.invoiceInfoData.accountNo}}</p>
        </div>
    </div>
</div>