<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 bv-background-sp">
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 ">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0">
            <p class="bv-title-home">Sản phẩm bảo hiểm du lịch quốc tế</p>
        </div>
        <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 padding0">
            <div class="bv-btn-groud-header">
                <div class="bv-btn-header-title">
                    <i class="fas fa-file-alt"></i>
                    <span>Tạo đơn hàng mới</span>
                </div>
                <div class="bv-btn-header-title">
                    <i class="fas fa-user"></i>
                    <span>Tạo khách hàng mới</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-display-step">
        <div class="hidden-md hidden-lg text-center">
            <div class=" text-center display-inline-block bv-step-mobile" ng-click="vm.closeOpenStep('step1')">
                <p class="display-inline-block">1</p>
                <p class="display-inline-block">Tính phí</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStep('step2')">
                <p class="display-inline-block">2</p>
                <p class="display-inline-block">Thông tin bảo hiểm</p>
            </div>
            <div class="display-inline-block text-center bv-step-mobile" ng-click="vm.closeOpenStep('step3')">
                <p>3</p>
            </div>
        </div>
        <div class="bv-step-1 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex widthStep98" id="bv-step-1">
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step1')">
                <p class="fas {{vm.typeArrowOne}}"></p>
                <p>1</p>
                <span>Tính phí</span>
            </div>
            <div class="bv-step-content" id="bv-step-1-content"  >
                <div class="text-header-sp">
                    <p>Thông tin gói</p>
                </div>
                <div class="bv-margin-botton-10">
                    <p class="bv-title-from margin-bottom-0">Nơi quý khách dự định đi đến<span class="bv-req-red">&nbsp(*)</span></p>
                    <span class="bv-title-from-des">(Phạm vi lãnh thổ được bảo hiểm)</span>
                </div>
                <div>
                    <select class="bv-select-box form-control" ng-model="vm.tvcBaseVM.destinationId">
                        <option >Chọn nơi đến</option>
                        <option value="2">Toàn cầu</option>
                        <option value="3">Châu Á - Thái Bình Dương</option>
                        <option value="4">ASEAN</option>
                    </select>
                </div>

                <div class="margin-top-10">
                    <p class="bv-title-from">Chọn gói bảo hiểm cho<span class="bv-req-red">&nbsp(*)</span></p>
                </div>
                <div>
                    <select class="bv-select-box form-control" ng-model="vm.tvcBaseVM.travelWithId">
                        <option value="1">Cá nhân</option>
                        <option value="2">Gia đình</option>
                        <option value="3">Khách đoàn</option>
                    </select>
                </div>
                <div class="bv-margin-botton-10 margin-top-10">
                    <p class="bv-title-from margin-bottom-0">Ngày khởi hành từ Việt Nam<span class="bv-req-red">&nbsp(*)</span></p>
                    <span class="bv-title-from-des">(Thời gian bảo hiểm từ)</span>
                </div>
                <div class="margin-right-5 width-100">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                        <input type="text" class="bv-input" placeholder="Từ ngày" ng-model="vm.tvcBaseVM.ngayDi">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="bv-margin-botton-10 margin-top-10">
                    <p class="bv-title-from margin-bottom-0">Ngày trở về<span class="bv-req-red">&nbsp(*)</span></p>
                    <span class="bv-title-from-des">(Thời hạn bảo hiểm đến)</span>
                </div>
                <div class="margin-right-5 width-100">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                        <input type="text" class="bv-input" placeholder="Đến ngày" ng-model="vm.tvcBaseVM.ngayVe">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Loại tiền trong bảng quyền lợi<span class="bv-req-red">&nbsp(*)</span></p>
                </div>
                <div>
                    <select class="bv-select-box form-control" ng-model ="vm.tvcBaseVM.loaitien">
                        <option value="1">VND/USD</option>
                        <option value="2">VND/EUR</option>
                    </select>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Bảng quyền lợi bảo hiểm<span class="bv-req-red">&nbsp(*)</span></p>
                </div>
                <div class="margin-top-10">
                    <!--<select class="bv-select-box form-control" ng-model="vm.tvcBaseVM.planId">-->
                        <!--<option value="1">Bạc</option>-->
                        <!--<option value="2">Vàng</option>-->
                        <!--<option value="3">Kim cương</option>-->
                    <!--</select>-->
                    <div class="cntr text-center">
                        <label for="cbx13" class="label-cbx margin-right-5">
                            <input id="cbx13" type="radio" class="invisible" ng-model="vm.tvcBaseVM.planId" value="2" ng-change="vm.onchangePlan()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Bạc</span>
                        </label>
                        <label for="cbx12" class="label-cbx margin-right-5">
                            <input id="cbx12" type="radio" class="invisible" ng-model="vm.tvcBaseVM.planId" value="3" ng-change="vm.onchangePlan()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Vàng</span>
                        </label>
                        <label for="cbx11" class="label-cbx margin-right-5">
                            <input id="cbx11" type="radio" class="invisible" ng-model="vm.tvcBaseVM.planId" value="4" ng-change="vm.onchangePlan()">
                            <div class="checkbox">
                                <svg width="18px" height="18px" viewBox="0 0 20 20">
                                    <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                    <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                            </div>
                            <span>Kim cương</span>
                        </label>
                    </div>
                </div>
                <div class="margin-top-10 table-responsive">
                    <!--<table class="table">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th class="col-md-3 padding0">-->
                                    <!--<p>Chương trình bảo hiểm</p>-->
                                <!--</th>-->
                                <!--<th class="col-md-3 padding0">-->
                                    <!--<button>-->
                                        <!--<div>-->

                                        <!--</div>-->
                                        <!--<p>Bạc</p>-->
                                    <!--</button>-->
                                <!--</th>-->
                                <!--<th class="col-md-3 padding0">-->
                                    <!--<button>-->
                                        <!--<div>-->

                                        <!--</div>-->
                                        <!--<p>Vàng</p>-->
                                    <!--</button>-->
                                <!--</th>-->
                                <!--<th class="col-md-3 padding0">-->
                                    <!--<button>-->
                                        <!--<div>-->

                                        <!--</div>-->
                                        <!--<p>Kim cương</p>-->
                                    <!--</button>-->
                                <!--</th>-->
                            <!--</tr>-->

                        <!--</thead>-->
                        <!--<tbody>-->

                        <!--</tbody>-->
                    <!--</table>-->
                </div>
                <div class="margin-top-10">
                    <div class="table-responsive">
                        <table class="table table-sum-product" >
                            <col width="60%">
                            <col width="40%">
                            <tr>
                                <td>
                                    <p class="bv-gh-text-sum-product">Tổng phí bảo hiểm:</p>
                                </td>
                                <td class="text-right">
                                    <p class="">{{vm.tvcBaseVM.premiumTvc}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="bv-gh-text-sum-product">Tổng phí thanh toán:</p>
                                </td>
                                <td class="text-right">
                                    <p class="bv-gh-number-sum-product">{{vm.tvcBaseVM.premiumTvc}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="bv-step-content">
                <div class="text-header-sp">
                    <p>Thông tin người yêu cầu bảo hiểm</p>
                </div>
                <div class="cntr margin-top-5">
                    <label for="cbx7" class="label-cbx">
                        <input id="cbx7" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Điền thông tin cho tài khoản đăng nhập</span>
                        <p class="bv-title-from-des margin-top-10">(Bỏ chọn ô này để xóa thông tin)</p>
                    </label>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ và tên người yêu cầu bảo hiểm</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.tvcBaseVM.name "/>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Ngày sinh</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Địa chỉ theo đăng ký xe" ng-model="vm.tvcBaseVM.propserNgaysinh"  />
                </div>
                <div class="margin-top-20 text-header-sp">
                    <p>Thông tin người được bảo hiểm</p>
                </div>
                <div class="cntr margin-top-5">
                    <label for="cbx8" class="label-cbx">
                        <input id="cbx8" type="checkbox" class="invisible">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Người yêu cầu bảo hiểm có đi cùng và có tham gia bảo hiểm</span>
                        <p class="bv-title-from-des margin-top-10">(Bỏ chọn ô này để xóa thông tin người yêu cầu bảo hiểm đã được điền sẵn bên dưới)</p>
                    </label>
                </div>
                <div class="margin-top-10">
                    <div class="table-responsive bv-home-block-left-table-responsive">
                        <table class="table bv-home-block-left-table" >
                            <thead>
                            <tr>
                                <th ><p>Họ và tên</p></th>
                                <th><p>Số hộ chiếu/CMND</p></th>
                                <th><p>Ngày sinh</p></th>
                                <th><p>Tuổi</p></th>
                                <th><p class="bv-table-th-db">Quan hệ người yêu cầu bảo hiểm</p></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="">Vũ Hoàng Chiến</p>
                                    </td>
                                    <td>
                                        <p class="">013327400</p>
                                    </td>
                                    <td>
                                        <p class="">24/7/1994</p>
                                    </td>
                                    <td>
                                        <p class="">25</p>
                                    </td>
                                    <td>
                                        <p class="">Con</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bv-step-2 closeStepTwo padding0 display-flex " id="bv-step-2" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step2')">
                <p class="fas {{ vm.typeArrowTwo }}"></p>
                <p>2</p>
                <p>Thông tin bảo hiểm</p>
            </div>
            <div class="bv-step-content">
                <div class="text-header-sp">
                    <p>Phương thức nhận đơn bảo hiểm</p>
                </div>
                <div class="cntr margin-top-5">
                    <label for="cbx9" class="label-cbx">
                        <input id="cbx9" type="checkbox" class="invisible" ng-model="vm.tvcBaseVM.receiveMethod">
                        <div class="checkbox">
                            <svg width="18px" height="18px" viewBox="0 0 20 20">
                                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                <polyline points="4 11 8 15 16 6"></polyline>
                            </svg>
                        </div>
                        <span>Nhận giấy chứng nhận bảo hiểm qua đường bưu điện</span>
                        <p class="margin-top-10 bv-title-from-des">Bảo Việt sẽ giao bản cứng Giấy chứng nhận bảo hiểm cho Qúy khách trong khoảng thời gian sau kể từ thời điểm quý khách thanh toán đầy đủ phí bảo hiểm</p>
                        <p class="bv-title-from-des">- Hà Nội và Trung tâm tỉnh/Thành phố khác: 2-4 ngày</p>
                        <p class="bv-title-from-des">- Khu vực còn lại: 4-5 ngày</p>
                    </label>
                </div>
                <div class="text-header-sp margin-top-10">
                    <p>Thông tin hóa đơn giá trị gia tăng</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ và tên người mua</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Nhập Họ và tên"  ng-model="vm.tvcBaseVM.invoiceInfoDTO.receiveMethod" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from"  >Tên đơn vị</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Nhập Tên đơn vị" ng-model="vm.tvcBaseVM.invoiceInfoDTO.company" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Mã số thuế</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Nhập Mã số thuế" ng-model="vm.tvcBaseVM.invoiceInfoDTO.taxNo" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Địa chỉ đơn vị</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.invoiceInfoDTO.address" placeholder="Nhập Địa chỉ đơn vị" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Số tài khoản</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.invoiceInfoDTO.accountNo" placeholder="Nhập Số tài khoản" />
                </div>
            </div>
            <div class="bv-step-content">
                <div class="text-header-sp">
                    <p>Thông tin Nhận đơn bảo hiểm</p>
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Họ và tên người nhận</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.receiverUserInfoDTO.name"  placeholder="Nhập Họ và tên" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Địa chỉ người nhận</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.receiverUserInfoDTO.address"  placeholder="Nhập Địa chỉ người nhận" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Tên phường xã</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.receiverUserInfoDTO.addressDistrict" placeholder="Nhập tên phường xã" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Số điện thoại</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.receiverUserInfoDTO.mobile" placeholder="Nhập Số điện thoại" />
                </div>
                <div class="margin-top-10">
                    <p class="bv-title-from">Email</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" ng-model="vm.tvcBaseVM.receiverUserInfoDTO.email" placeholder="Nhập Email" />
                </div>
            </div>
        </div>
        <div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
            <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
                <p class="fas {{ vm.typeArrowThree }}"></p>
                <p>3</p>
                <p>Thông tin đơn hàng</p>
            </div>
            <div class="bv-step-content">
                <div class="bv-pading-30">
                    <div class="display-flex">
                        <div class="border-right-ccc width-100">
                            <div class="text-header-sp" style="margin-bottom: 10px">
                                <p>Thông tin người yêu cầu bảo hiểm</p>
                            </div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Họ tên người yêu cầu bảo hiểm</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">Tạ Minh Anh</p>
                            </div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Ngày sinh</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">24/07/1994</p>
                            </div>
                        </div>
                        <div class="bv-pading-30 width-100">
                            <div class="text-header-sp" style="margin-bottom: 10px">
                                <p>Thông tin phí bảo hiểm</p>
                            </div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Tổng phí bảo hiểm</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">370.000đ</p>
                            </div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Tổng phí cân thanh toán</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">370.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-header-sp" style="margin-bottom: 10px">
                        <p>Thông tin người được bảo hiểm</p>
                    </div>
                    <div class="margin-top-10">
                        <div class="table-responsive bv-home-block-left-table-responsive">
                            <table class="table bv-home-block-left-table" >
                                <thead>
                                <tr>
                                    <th ><p>Họ và tên</p></th>
                                    <th><p>Số hộ chiếu/CMND</p></th>
                                    <th><p>Ngày sinh</p></th>
                                    <th><p>Tuổi</p></th>
                                    <th><p class="bv-table-th-db">Quan hệ người yêu cầu bảo hiểm</p></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p class="">Vũ Hoàng Chiến</p>
                                    </td>
                                    <td>
                                        <p class="">013327400</p>
                                    </td>
                                    <td>
                                        <p class="">24/7/1994</p>
                                    </td>
                                    <td>
                                        <p class="">25</p>
                                    </td>
                                    <td>
                                        <p class="">Con</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-header-sp">
                        <p>Thông tin báo hiểm</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Thời gian bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">Từ 08/5/2018 đến 03/03/2018</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Phạm vi lãnh thổ được bảo hiểm</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">Chương trình bảo hiểm bạc</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Quyền lợi bảo hiểm tóm tắt:</p>
                    </div>
                    <div class="margin-top-10">
                        <p class="bv-title-from">Quyền lợi bảo hiểm:</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">1.Tai nạn cá nhân: 2.000.000.000 VND</p>
                        <p class="bv-tile-templateSummary">2.Chi phí y tế: 1.000.000.000 VND</p>
                        <p class="bv-tile-templateSummary">3.Vân chuyển y tế cấp cứu: Chi trả toàn bộ</p>
                        <p class="bv-tile-templateSummary">4.Chi phí khác từ mục 3 đến 12 trong bảng quyền lợi không áp dụng</p>
                        <p class="bv-title-from">(Chi tiết hơn và riêng vơi trẻ em dưới 17 tuổi,người 76 tuổi trở lên quyền lợi bảo hiểm có quy đinh riêng. Qúy khách vui lòng xem tại bảng <a>Bảng quyền lợi bảo hiểm</a>)</p>
                        <p class="bv-title-from">Điều khoản điều kiện : Qúy khách vui lòng xem <a>Điều khoản,điều kiện</a></p>
                    </div>
                </div>
                <div>
                    <div class="bv-pading-30 margin-top-20 text-header-sp" style="margin-bottom: 10px">
                        <p>Mức trách nhiệm và phí bảo hiểm</p>
                    </div>
                    <div style="background: #fafafa">
                        <div class="bv-pading-table-templateSummary">
                            <table class="width-100 ">
                                <thead>
                                <tr>
                                    <th class="bv-title-from">Phạm vi bảo hiểm</th>
                                    <th class="bv-title-from">Mức trách nhiệm</th>
                                    <th class="bv-title-from">Phí bảo hiểm(Đã bao gồm VAT)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <p class="bv-tile-templateSummary">Bảo hiểm trách nhiệm dân sự bắt buộc</p></td>
                                    <td>
                                        <div class="bv-tile-templateSummary">
                                            <p class="margin-bottom-0">
                                                Mức trách nhiệm đối với người thứ 3
                                            </p>
                                            <p class="margin-bottom-0">
                                                - Về người:100,000,000 VND/người/vụ
                                            </p>
                                            <p class="margin-bottom-0">
                                                - Về tài sản:100,000,000 VND/vụ
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="bv-tile-templateSummary">
                                            <span>480,700</span><span>VND</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="bv-tile-templateSummary">Bảo hiểm tai nạn người ngồi trên xe</p></td>
                                    <td>
                                        <div class="bv-tile-templateSummary">
                                            <p class="margin-bottom-0">
                                                Số người: 5 người
                                            </p>
                                            <p class="margin-bottom-0">
                                                - Về người:100,000,000 VND/người/vụ
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="bv-tile-templateSummary">
                                            <span>480,700</span><span>VND</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <td>
                                        <p class="bv-title-from">Tổng phí bảo hiểm</p>
                                    </td>
                                    <td>
                                        <p class="bv-tile-templateSummary"><span>530,700</span><span>VND</span></p></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bv-pading-30">
                    <div class="text-header-sp">
                        <p>Thông tin giao nhận giấy chứng nhận bảo hiểm</p>
                    </div>
                    <div class="display-flex">
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Loại bảo hiểm</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">Tạ Minh Anh</p>
                            </div>
                        </div>
                        <div class="margin-right-70">
                            <div class="margin-top-10">
                                <p class="bv-title-from">Số điện thoại</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">0964564644</p>
                            </div>
                        </div>
                        <div>
                            <div class="margin-top-10">
                                <p class="bv-title-from">Email</p>
                            </div>
                            <div>
                                <p class="bv-tile-templateSummary">minhta@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="bv-title-from">
                        <p>Địa chỉ người nhận</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary">386 Lý Thường Kiệt,Phường Tràng Tiền,Quận Hoàn Kiếm,Thành phố Hà Nội</p>
                    </div>
                    <div class="bv-title-from">
                        <p>Hình thức giao nhận</p>
                    </div>
                    <div>
                        <p class="bv-tile-templateSummary display-inline-block">Gửi tới địa chỉ người nhận</p>
                        <button class="bv-btn-step3">
                            Tạo đơn hàng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
