    <div class="display-flex">
        <div class="border-right-ccc bv-pading-30 width-100">
            <div class="text-header-sp" style="margin-bottom: 10px">
                <p>1. Thông tin người yêu cầu bảo hiểm</p>
            </div>
            <div class="margin-top-10">
	            <p class="bv-title-from">Họ tên</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoiycName}}</p>
	        </div>
	        <div class="bv-title-from" ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">
	            <p>Ngày sinh</p>
	        </div>
	        <div ng-show="vm.policy.contactCategoryType != 'ORGANIZATION'">
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoiycNgaysinh}}</p>
	        </div>
	        <div class="margin-top-10">
	            <p class="bv-title-from">Số CMT/Hộ chiếu</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoiycCmnd}}</p>
	        </div>
        </div>
        <div class="border-right-ccc bv-pading-30 width-100">
            <div class="text-header-sp" style="margin-bottom: 10px">
                <p>2. Thông tin người được bảo hiểm</p>
            </div>
            <div class="margin-top-10">
                <p class="bv-title-from">Họ tên</p>
            </div>
            <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhName}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Ngày sinh</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhNgaysinh}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Số CMT/Hộ chiếu</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoidbhCmnd}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Quan hệ với người yêu cầu bảo hiểm</p>
	        </div>
	        <div>
	            <div ng-switch="vm.policy.nguoidbhQuanhe">
	                <div ng-switch-when="30">
	                    <p class="bv-tile-templateSummary">Bản thân</p>
	                </div>
	                <div ng-switch-when="31">
	                    <p class="bv-tile-templateSummary">Vợ/Chồng</p>
	                </div>
	                <div ng-switch-when="32">
	                    <p class="bv-tile-templateSummary">Con</p>
	                </div>
	                <div ng-switch-when="33">
	                    <p class="bv-tile-templateSummary">Bố/Mẹ</p>
	                </div>
	                <div ng-switch-when="34">
	                    <p class="bv-tile-templateSummary">Bố mẹ của vợ/chồng</p>
	                </div>
	                <div ng-switch-when="99">
	                    <p class="bv-tile-templateSummary">Khác</p>
	                </div>
	            </div>
	        </div>
	        <div class="bv-title-from" ng-show="vm.isShowPolicyParent">
	            <p>Số HĐBH/GCNBH/Thẻ/Mã đơn hàng Bố(Mẹ)</p>
	        </div>
	        <div ng-show="vm.isShowPolicyParent">
	        	<p class="bv-tile-templateSummary">{{vm.policy.policyParent}}</p>
	        </div>
	        <div class="bv-title-from" ng-show="vm.isShowPolicyParent">
	            <p>Giấy khai sinh</p>
	        </div>
	        <div ng-show="vm.isShowPolicyParent">
	        	<a ng-click="vm.downloadAttachment(vm.policy.imgGks)" ng-show="!vm.isImageFile(vm.policy.imgGks)">
					<span>{{vm.policy.imgGks.filename}}</span> <i class="fas fa-paperclip"></i>		                	
	           	</a>
	            <a ng-click="vm.downloadAttachment(vm.policy.imgGks)" ng-show="vm.isImageFile(vm.policy.imgGks)">
					<img src="data:image/*;base64,{{vm.policy.imgGks.content}}" height="150px" ng-show="vm.isImageFile(vm.policy.imgGks)">		                	
	            </a>
	        </div>
        </div>
        <div class="width-100 bv-pading-30">
            <div class="text-header-sp" style="margin-bottom: 10px">
                <p>Thời gian bảo hiểm</p>
            </div>
            <div>
                <p class="bv-tile-templateSummary">Từ {{vm.policy.inceptionDate}} Đến {{vm.policy.expiredDate}}</p>
            </div>
        </div>
    </div>
    
    <div class="bv-pading-30">
        <div class="text-header-sp" style="margin-bottom: 10px">
            <p>4. Thông tin bảo hiểm</p>
        </div>
        <div class="margin-top-10">
            <p class="bv-title-from">Chương trình bảo hiểm</p>
        </div>
        <div>
            <div ng-switch="vm.policy.chuongtrinhBh">
                <div ng-switch-when="1">
                    <p class="bv-tile-templateSummary">Chương trình bảo hiểm Đồng</p>
                </div>
                <div ng-switch-when="2">
                    <p class="bv-tile-templateSummary">Chương trình bảo hiểm Bạc</p>
                </div>
                <div ng-switch-when="3">
                    <p class="bv-tile-templateSummary">Chương trình bảo hiểm Vàng</p>
                </div>
                <div ng-switch-when="4">
                    <p class="bv-tile-templateSummary">Chương trình bảo hiểm Bạch Kim</p>
                </div>
                <div ng-switch-when="5">
                    <p class="bv-tile-templateSummary">Chương trình bảo hiểm Kim cương</p>
                </div>
            </div>
        </div>
        
        
        <div>
        <div class="bv-pading-30 margin-top-20 text-header-sp">
            <p>Mức trách nhiệm và phí bảo hiểm</p>
        </div>
        <div style="background: #fafafa">
            <div class="bv-pading-table-templateSummary">
                <table class="width-100">
                    <thead>
                    <tr>
                        <th class="text-header-sp" style="text-align: center; font-weight: bold; width: 60%">PHẠM VI BẢO HIỂM</th>
                        <th class="text-header-sp" style="text-align: center; font-weight: bold; width: 20%">HẠN MỨC TRÁCH NHIỆM</th>
                        <th class="text-header-sp" style="text-align: center; font-weight: bold; width: 20%">PHÍ BẢO HIỂM</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                        <td>
                            <p class="bv-tile-templateSummary">QUYỀN LỢI CHÍNH - Điều trị nội trú do ốm bệnh,tai nạn</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">93,8 triệu/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">137,6 triệu/người/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">230 triệu/người/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">342 triệu/người/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">454 triệu/người/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.policy.chuongtrinhPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr ng-show="vm.policy.ngoaitruPhi > 0">
                        <td>
                            <p class="bv-tile-templateSummary">Điều trị ngoại trú do ốm bệnh, tai nạn</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">6,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">6,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">6,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">10,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">15,000,000 VND/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.policy.ngoaitruPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr ng-show="vm.policy.tncnPhi > 0">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Tai nạn cá nhân</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">1,000,000,000 VND/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.policy.tncnPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr ng-show="vm.policy.sinhmangPhi > 0">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Sinh mạng cá nhân</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">1,000,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">1,000,000,000 VND/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                            	<span>{{vm.policy.sinhmangPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr ng-show="vm.policy.nhakhoaPhi > 0">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Nha khoa</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">2,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">2,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">5,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">10,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">15,000,000 VND/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.policy.nhakhoaPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr ng-show="vm.policy.thaisanPhi > 0">
                        <td>
                            <p class="bv-tile-templateSummary">Bảo hiểm Thai sản</p></td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <p ng-show="vm.policy.chuongtrinhBh == 1">0 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 2">0 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 3">0 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 4">21,000,000 VND/năm</p>
					            <p ng-show="vm.policy.chuongtrinhBh == 5">31,500,000 VND/năm</p>
                            </div>
                        </td>
                        <td style="text-align: right;">
                            <div class="bv-tile-templateSummary">
                                <span>{{vm.policy.thaisanPhi | number:0 }}</span><span> VND</span>
                            </div>
                        </td>
                    </tr>
                    
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-header-sp" style="text-align: right;">
                            <p class="bv-title-from">Tổng phí bảo hiểm</p>
                        </td>
                        <td style="text-align: right;">
                            <p class="bv-tile-templateSummary"><span>{{vm.policy.phiBH | number:0 }}</span><span> VND</span></p></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
        
        
        <!-- <div class="bv-title-from">
            <p>Tổng phí bảo hiểm (đã bao gồm VAT)</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.policy.premiumNet | number:0 }}</p>
        </div>
        <div class="bv-title-from">
            <p>Tổng phí thanh toán (đã bao gồm VAT)</p>
        </div>
        <div>
            <p class="bv-tile-templateSummary">{{vm.policy.phiBH | number:0 }}</p>
        </div> -->
    </div>
    <div class="bv-pading-30">
        <div class="text-header-sp" style="margin-bottom: 10px">
            <p>5. Thông tin tình trạng sức khỏe</p>
        </div>
     <div class="margin-top-10">
         <p class="bv-title-from">1. Trong 03 năm qua, bạn hoặc bất kỳ thành viên nào trong gia đình đã từng phải điều trị, nằm viện, hay phẫu thuật trong một bệnh viện, viện điều dưỡng, phòng khám hoặc các tổ chức y tế khác không? Hoặc ở trong tình trạng cần phải điều trị trong bệnh viện trong vòng 12 tháng tới? (*)</p>
     </div>
     <div class=" display-flex">
         <div class="cntr margin-right-5">
             <label for="cbx55" class="label-cbx">
                 <input id="cbx55" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="1" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox">
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Có</span>
             </label>
         </div>
         <div class="cntr">
             <label for="cbx56" class="label-cbx">
                 <input id="cbx56" name="q1" type="radio" class="invisible" ng-model="vm.policy.q1" value="0" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox">
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Không</span>
             </label>
         </div>
     </div>
     <div class="margin-top-10">
                <p class="bv-title-from">2. Trong 03 năm qua, bạn hoặc bất kỳ thành viên nào trong gia đình đã mắc hoặc điều trị một hay nhiều trong các chứng bệnh sau: viêm hệ thần kinh trung ương (não); Parkinson; thoái hóa khác của hệ thần kinh; mất trí nhớ, hôn mê, bại não, bại liệt; suy phổi, tràn khí phổi, suy hô hấp mãn tính; mạch máu não, đột quỵ (xuất huyết não/ xơ cứng động mạch); nhồi máu cơ tim; xơ gan; suy thận, teo thận, sỏi thận cả 2 bên; chạy thận nhân tạo; u ác, u xơ tiền liệt; u thượng thận trái (cắt hoặc chưa cắt); ghép tủy; Lupus ban đỏ; lao các loại; phong; ung thư các loại; suy tủy; bạch cầu; các bệnh lây qua đường sinh dục, giang mai, lậu, hội chứng suy giảm miễn dịch; bệnh bẩm sinh, di truyền, dị dạng về gen; Down?
Nếu bất kỳ câu hỏi nào ở trên được trả lời là CÓ, xin hãy nêu chi tiết (họ và tên Người được bảo hiểm, tên bệnh, thời điểm chẩn đoán bệnh, phương pháp điều trị, tình trạng hiện tại, cơ sở điều trị) (*)</p>
     </div>
     <div class=" display-flex">
         <div class="cntr margin-right-5">
             <label for="cbx57" class="label-cbx">
                 <input id="cbx57" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="1" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox">
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Có</span>
             </label>
         </div>
         <div class="cntr">
             <label for="cbx58" class="label-cbx">
                 <input id="cbx58" name="q2" type="radio" class="invisible" ng-model="vm.policy.q2" value="0" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox">
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Không</span>
             </label>
         </div>
     </div>
     <div class="margin-top-10">
                <p class="bv-title-from">3. Bạn hoặc bất kỳ thành viên nào trong gia đình đã từng được Bảo Việt giải quyết bồi thường theo một Hợp đồng bảo hiểm y tế tương tự; hoặc bị Bảo Việt/Công ty bảo hiểm khác từ chối bảo hiểm/ từ chối tái tục Hợp đồng bảo hiểm y tế tương tự; hoặc được chấp nhận nhưng với điều kiện áp dụng các điều khoản bổ sung đặc biệt?
Nếu câu trả lời là CÓ, xin hãy nêu chi tiết (Công ty bảo hiểm, từ chối/chấp nhận bảo hiểm với điều khoản bổ sung đặc biệt, lý do...) (*)</p>
     </div>
     <div class=" display-flex">
         <div class="cntr margin-right-5">
             <label for="cbx59" class="label-cbx">
                 <input id="cbx59" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="1" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox">
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Có</span>
             </label>
         </div>
         <div class="cntr">
             <label for="cbx60" class="label-cbx">
                 <input id="cbx60" name="q3" type="radio" class="invisible" ng-model="vm.policy.q3" value="0" ng-disabled="vm.isHealthyPerson">
                 <div class="checkbox"> 
                     <svg width="18px" height="18px" viewBox="0 0 20 20">
                         <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                         <polyline points="4 11 8 15 16 6"></polyline>
                     </svg>
                 </div>
                 <span>Không</span>
             </label>
         </div>
     </div>
     <div class=" display-flex">
     	<table class="table table-bordered margin-top-10" ng-show="vm.policy.q3 == 1 || vm.policy.q2 == 1 || vm.policy.q1 == 1">
                <thead>
                <tr>
                    <th style="width: 195px">Ngày khám/điều trị</th>
                    <th>Chuẩn đoán</th>
                    <th>Chi tiết điều trị</th>
                    <th>Kết quả</th>
                    <th>Tên, địa chỉ bác sĩ/bệnh viện</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.policy.lstAdd">
                        <td>
                            <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <div class="width-100">
                                    <input type="text" name="ngaydieutri" class="bv-input" placeholder="dd/MM/yyyy" ng-model="item.ngaydieutri" disabled="disabled">
                                </div>
                                <div class="input-group-addon bv-date-icon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </td>
                        <td><input type="text" name="chuandoan" class="form-control" ng-model="item.chuandoan" disabled="disabled"/></td>
                        <td><input type="text" name="chitietdieutri" class="form-control" ng-model="item.chitietdieutri" disabled="disabled"/></td>
                        <td><input type="text" name="ketqua" class="form-control" ng-model="item.ketqua" disabled="disabled"/></td>
                        <td><input type="text" name="benhvienorbacsy" class="form-control" ng-model="item.benhvienorbacsy" disabled="disabled"/></td>
                    </tr>
                </tbody>
     	</table>
     </div>
    </div>
    
    <div class="display-flex margin-top-20">
	    <div class="border-right-ccc bv-pading-30 width-100" ng-show="vm.policy.nguoithName != '' && vm.policy.nguoithName != null">
	        <div class="text-header-sp" style="margin-bottom: 10px">
	            <p>6. Thông tin người thụ hưởng bảo hiểm</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Họ tên</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoithName}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Ngày sinh</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoithNgaysinh}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Số CMT/Hộ chiếu</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoithCmnd}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Quan hệ với người yêu cầu bảo hiểm</p>
	        </div>
	        <div>
	        	<div ng-switch="vm.policy.nguoithQuanhe">
	                <div ng-switch-when="30">
	                    <p class="bv-tile-templateSummary">Bản thân</p>
	                </div>
	                <div ng-switch-when="31">
	                    <p class="bv-tile-templateSummary">Vợ/Chồng</p>
	                </div>
	                <div ng-switch-when="32">
	                    <p class="bv-tile-templateSummary">Con</p>
	                </div>
	                <div ng-switch-when="33">
	                    <p class="bv-tile-templateSummary">Bố/Mẹ</p>
	                </div>
	                <div ng-switch-when="34">
	                    <p class="bv-tile-templateSummary">Bố mẹ của vợ/chồng</p>
	                </div>
	                <div ng-switch-when="99">
	                    <p class="bv-tile-templateSummary">Khác</p>
	                </div>
	            </div>
	        </div>
	    </div>
    
    	<div class="border-right-ccc bv-pading-30 width-100" ng-show="vm.policy.nguoinhanName != '' && vm.policy.nguoinhanName != null">
	        <div class="text-header-sp" style="margin-bottom: 10px">
	            <p>7. Thông tin người nhận tiền bảo hiểm</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Họ tên</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoinhanName}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Ngày sinh</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguointNgaysinh}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Số CMT/Hộ chiếu</p>
	        </div>
	        <div>
	            <p class="bv-tile-templateSummary">{{vm.policy.nguoinhanCmnd}}</p>
	        </div>
	        <div class="bv-title-from">
	            <p>Quan hệ với người yêu cầu bảo hiểm</p>
	        </div>
	        <div>
	        	<div ng-switch="vm.policy.nguoinhanQuanhe">
	                <div ng-switch-when="30">
	                    <p class="bv-tile-templateSummary">Bản thân</p>
	                </div>
	                <div ng-switch-when="31">
	                    <p class="bv-tile-templateSummary">Vợ/Chồng</p>
	                </div>
	                <div ng-switch-when="32">
	                    <p class="bv-tile-templateSummary">Con</p>
	                </div>
	                <div ng-switch-when="33">
	                    <p class="bv-tile-templateSummary">Bố/Mẹ</p>
	                </div>
	                <div ng-switch-when="34">
	                    <p class="bv-tile-templateSummary">Bố mẹ của vợ/chồng</p>
	                </div>
	                <div ng-switch-when="99">
	                    <p class="bv-tile-templateSummary">Khác</p>
	                </div>
	            </div>
	        </div>
    	</div>
    </div>
<!-- Include Thông tin giao nhận giấy chứng nhận bảo hiểm và Thông tin hóa đơn giá trị gia tăng -->
<div ng-include="'apps/product/summary_detail/partial/step2_summary.html'"></div>

<div class="bv-pading-30">
	<label for="checkDongY" class="label-cbx">
    	<input id="checkDongY" name="checkDongY" type="checkbox" class="invisible" ng-model="vm.checkDongYHD" ng-true-value="false" ng-false-value="true">
        <div class="checkbox">
            <svg width="18px" height="18px" viewBox="0 0 20 20">
                <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                <polyline points="4 11 8 15 16 6"></polyline>
            </svg>
        </div>
        <span><b>Đại lý/Cán bộ tư vấn bảo hiểm đồng ý và cam kết rằng:</b></span>
    </label>
    <div style="margin-top: 10px">
	    <p class="bv-tile-templateSummary display-inline-block">1. Thông tin yêu cầu bảo hiểm trên là đúng và đầy đủ theo kê khai của bên yêu cầu bảo hiểm.</p>
	    <p class="bv-tile-templateSummary display-inline-block">2. Bên yêu cầu bảo hiểm đã được tư vấn đầy đủ, hiểu và chấp nhận quy tắc, điều kiện điều khoản của sản phẩm bảo hiểm tham gia.</p></br>
	    <p class="bv-tile-templateSummary display-inline-block">2. Bên yêu cầu bảo hiểm đã cam kết và đồng ý rằng:</p>
	    <p class="bv-tile-templateSummary display-inline-block">&nbsp&nbsp&nbsp - Hiện tại, Người yêu cầu bảo hiểm và tất cả những Người được bảo hiểm trong danh sách hoàn toàn khỏe mạnh; không bị bệnh thần kinh, tâm thần, phong; không trong thời gian điều trị bệnh tật, thương tật; không bị thương tật vĩnh viễn từ 50% trở lên.</p>
	    <p class="bv-tile-templateSummary display-inline-block">&nbsp&nbsp&nbsp - Các thông tin nêu trên là đầy đủ và xác thực theo sự hiểu biết cao nhất của Người yêu cầu bảo hiểm/Người được bảo hiểm, và Người yêu cầu bảo hiểm/Người được bảo hiểm sẽ thông báo ngay cho Bảo Việt về bất kỳ sự thay đổi nào có liên quan. Người yêu cầu bảo hiểm/Người được bảo hiểm đồng ý rằng Yêu cầu bảo hiểm này cùng với việc cung cấp mã OTP cho cán bộ tư vấn và đóng đầy đủ phí bảo hiểm sẽ làm cơ sở cho Hợp đồng bảo hiểm giữa Người yêu cầu bảo hiểm/Người được bảo hiểm và Bảo Việt và chấp nhận các điều kiện bảo hiểm quy định tại Hợp đồng bảo hiểm/Quy tắc bảo hiểm.</p>
	    <p class="bv-tile-templateSummary display-inline-block">&nbsp&nbsp&nbsp - Trường hợp Người yêu cầu bảo hiểm/Người được bảo hiểm không thực hiện đầy đủ trách nhiệm khai báo mọi thông tin, Bảo Việt có toàn quyền giảm trách nhiệm một phần hoặc toàn bộ đối với khiếu nại Hợp đồng này. Nếu việc không khai báo nhằm mục đích trục lợi bảo hiểm, Bảo Việt có quyền hủy/vô hiệu hóa Hợp đồng bảo hiểm ngay từ ngày bắt đầu có hiệu lực.</p>
    </div>
</div>