<nav class="navbar navbar-fixed-top  navbar-default background-fff" role="navigation">
    <div class="container">
        <div class="pull-left bv-logo">
            <img src="../../../content/images/logo.png">
        </div>
        <div class="navbar-collapse margin-top-20" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <div class="dropdown pull-right" ng-switch="vm.isAuthenticated()">
                <div ng-switch-when="true">
                    <button class="btn dropdown-toggle bv-dropdown-header" type="button" data-toggle="dropdown"> Bạn đang đăng nhâp dưới tên <strong>{{vm.user.ten}}</strong>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu bv-drop-menu-header">
                        <li><a href="#"><i class="fas fa-sign-out-alt margin-right-5"></i>Logout</a></li>
                    </ul>
                </div>
                <div ng-switch-when="false">
                    <button class="btn dropdown-toggle bv-dropdown-header" type="button" ng-click="vm.login()">Đăng nhập</button>
                    <button class="btn dropdown-toggle bv-dropdown-header" type="button" ng-click="vm.register()">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom-2ea4ee"></div>
    <div class="container margin-top-50">
        <div class="display-flex">
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Khách hàng</p>
                    <p class="bv-subtext-nav-step">Danh bạ khách hàng</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Sản phẩm</p>
                    <p class="bv-subtext-nav-step">Các sản phẩm bảo hiểm</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Đơn hàng</p>
                    <p class="bv-subtext-nav-step">Theo dõi đơn hàng</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="far fa-file-alt"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Giỏ hàng</p>
                    <p class="bv-subtext-nav-step">Đơn hàng chờ thanh toán</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Tính phí</p>
                    <p class="bv-subtext-nav-step">Tính nhanh phí bảo hiểm</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-calculator"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Tài liệu</p>
                    <p class="bv-subtext-nav-step">Các tài liệu tham khảo</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-calculator"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Tin tức</p>
                    <p class="bv-subtext-nav-step">Cập nhật hàng ngày</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-bullhorn"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Ấn chỉ</p>
                    <p class="bv-subtext-nav-step">Danh sách ấn chỉ</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-chess-pawn"></i>
                </div>
            </div>
            <div class="bv-block-header">
                <div>
                    <p class="bv-text-nav-step">Báo cáo</p>
                    <p class="bv-subtext-nav-step">Doanh thu $ hoa hồng</p>
                </div>
                <div class="bv-block-header-icon">
                    <i class="fas fa-ship"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="bv-border-ccc"></div>
    <div class="margin-top-10" ng-if="vm.isAuthenticated()">
        <div class="container">
            <div class="display-flex">
                <p class="bv-margin-right-15">Bảo hiểm oto</p>
                <p class="bv-margin-right-15">Bảo hiểm bảo việt an gia</p>
                <p class="bv-margin-right-15">Bảo hiểm bệnh ung thư</p>
                <p class="bv-margin-right-15">Bảo hiểm du lịch</p>
                <p class="bv-margin-right-15">Bảo hiểm xe máy</p>
                <p class="bv-margin-right-15">Bảo hiểm bệnh ung thư</p>
                <p class="bv-margin-right-15">Bảo hiểm tư nhân</p>
                <p class="bv-margin-right-15">Bảo hiểm kết hợp con người</p>
            </div>
        </div>
    </div>
</nav>


