<!-- Loading -->
<div class="bv-loading" ng-show="vm.loading">
</div>

<!-- Layout -->
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-display-step margin-top-10">
	<!-- Step title -->
    <div ng-include="'apps/product/partial/partial.step-title.html'"></div>
        
    <!-- Step 1 -->
    <div ng-include="'apps/product/bvp/view/bvp_step1.html'"></div>
    
    <!-- Step 2 -->
    <div ng-include="'apps/product/bvp/view/bvp_step2.html'"></div>
    
    <!-- Step 3 -->
    <div ng-include="'apps/product/bvp/view/bvp_step3.html'"></div>
</div>
