
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #0371b6;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #0371b6;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #0371b6;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
    pointer-events: none;
    vertical-align: middle;
    position: relative;
    top: 11px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
}
.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}
.cntr{
    width: 100%;
    padding: 10px 17px;
    border: 1px solid #dfe2e7;
    border-radius: 5px;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-top-20{
    margin-top: 20px;
}
.label-cbx input:checked + .checkbox + span {
    color: #0371b6;
}