@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-BlackItalic.woff2') format('woff2'),
    url('../font/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-MediumItalic.woff2') format('woff2'),
    url('../font/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.woff2') format('woff2'),
    url('../font/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.woff2') format('woff2'),
    url('../font/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.woff2') format('woff2'),
    url('../font/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.woff2') format('woff2'),
    url('../font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-ThinItalic.woff2') format('woff2'),
    url('../font/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-BoldItalic.woff2') format('woff2'),
    url('../font/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-LightItalic.woff2') format('woff2'),
    url('../font/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.woff2') format('woff2'),
    url('../font/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.woff2') format('woff2'),
    url('../font/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Italic.woff2') format('woff2'),
    url('../font/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
body {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    color: #000;
}
.display-flex{
    display: flex;
}
.bv-step-title{
    background: #b4cfe4;
    min-height: 100vh;
    padding: 15px;
    outline: none;
}
.bv-step-title>p:nth-child(1){
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.bv-step-title>p:nth-child(2){
    font-size: 60px;
    color: #fff;
    margin-top: 85px;
    text-align: left;
}
.bv-step-title>p:nth-child(3){
    font-size: 20px;
    color: #fff;
    width: 40px;
    text-align: left;
}
.bv-step-2 .bv-step-title>p:nth-child(3){
    font-size: 20px;
    color: #fff;
    width: 55px;
    text-align: left;
}
.bv-step-content{
    min-width: 450px;
    padding: 30px;
    border: 1px solid #dfdfe0;
    background: #fff;
    box-shadow: 1px 0px 5px 0px #dfdfe0;
}
.bv-step-3-default>.bv-step-title{
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #dfdfe0;
    box-shadow: 1px 0px 5px 0px #dfdfe0;
    background: #fff;
}
.bv-step-3>.bv-step-content{
    min-width: 900px;
    padding: 25px 0px;
    border: 1px solid #dfdfe0;
    background: #fff;
    box-shadow: 1px 0px 5px 0px #dfdfe0;

}
.bv-step-3-default>.bv-step-content{
    display: none;
}
.bv-step-3-default>.bv-step-title>p:nth-child(1){
    font-size: 45px;
    color: #dfdfdf;
}
.bv-step-3-default>.bv-step-title>p:nth-child(2){
    font-size: 60px;
    margin-top: 85px;
    color: #dfdfdf;
}
.closeStepOne>.bv-step-content{
    width: 0;
    min-width: 0;
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);;
    padding: 0px;
    border: 0px solid #dfdfe0;
    background: #fff;
    box-shadow: 1px 0px 5px 0px #fff;
}
.OpenStepTwo>.bv-step-content{
    min-width: 900px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    -webkit-transition: width 2s; /* Safari */
    transition: width 10s;
}
.display-none{
    display: none;
}
.closeStepOne>.bv-step-title{
     padding: 15px 20px;
     text-align: center;
     border: 1px solid #dfdfe0;
     box-shadow: 1px 0px 5px 0px #dfdfe0;
     color: #ebebeb;
     background:#fff;
 }
.closeStepOne>.bv-step-title>p:nth-child(1){
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    color: #ebebeb;
}
.closeStepOne>.bv-step-title>p:nth-child(2){
    font-size: 60px;
    color: #ebebeb;
    margin-top: 85px;
    text-align: left;
}
.closeStepOne>.bv-step-title>p:nth-child(3){
    font-size: 20px;
    color: #ebebeb;
    width: 40px;
    text-align: left;
}
.OpenStepTwo>.bv-step-title>p:nth-child(3){
    font-size: 20px;
    color: #fff;
    width: 55px;
    text-align: left;
}
.closeStepTwo>.bv-step-title{
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #dfdfe0;
    box-shadow: 1px 0px 5px 0px #dfdfe0;
    color: #ebebeb;
    background:#fff;
    outline: none;
}
.closeStepTwo>.bv-step-title>p:nth-child(1){
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    color: #ebebeb;
}
.closeStepTwo>.bv-step-title>p:nth-child(2){
    font-size: 60px;
    color: #ebebeb;
    margin-top: 85px;
    text-align: left;
}
.closeStepTwo>.bv-step-title>p:nth-child(3){
    font-size: 20px;
    color: #ebebeb;
    width: 40px;
    text-align: left;
}
.closeStepTwo>.bv-step-content{
    width: 0;
    min-width: 0;
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);;
    padding: 0px;
    border: 0px solid #dfdfe0;
    background: #fff;
    box-shadow: 1px 0px 5px 0px #fff;
}
.OpenStepOne>.bv-step-content{
    min-width: 900px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    -webkit-transition: width 2s; /* Safari */
    transition: width 10s;
}
.text-header-sp>p{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}
.text-header-sp{
    margin-bottom: 25px;
}
.bv-title-from{
    font-size: 12px;
    font-family: Roboto;
    font-weight: normal;
}
.bv-select-box{
    padding: 6px 15px;
    height: 45px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
    color: #689cca;
    border: 1px solid #e0e1e5;
    box-shadow: inset 0 1px 1px #fff;
}
.margin-top-10{
    margin-top: 10px;
}
.bv-input{
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #e0e1e5;
    border-radius: 5px;
    color: #9c9c9c;
}
.margin-top-5{
    margin-top: 5px;
}
.bv-tile-templateSummary{
    color: #0371b6;
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
}
.margin-right-30{
    margin-right: 30px;
}
.border-right-ccc{
    border-right: 1px solid #ccc;
}
.width-100{
    width: 100%;
}
.bv-pading-30{
    padding: 0 30px;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.bv-pading-table-templateSummary{
    padding: 15px 30px;
}
.bv-pading-table-templateSummary table tr{
    border-bottom: 1px solid #d7d7d7;
}
.bv-pading-table-templateSummary table tr td{
    padding: 10px 25px;
}
.bv-pading-table-templateSummary table tfoot tr{
    border-bottom: 0px solid #fff;
}
.bv-dropdown-header{
    background: #fff;
    color: #0371b6;
    font-size: 14px;
    font-weight: normal;
    font-family: Roboto;
    outline: none;
}
.background-fff{
    background: #fff;
}
.margin-right-70{
    margin-right: 70px;
}
.margin-top-195{
    margin-top: 195px;
}
.bv-text-nav-step{
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    color: #0371b6;
    margin-bottom: 5px;
    white-space: nowrap;
}
.bv-subtext-nav-step{
    font-size: 10px;
    font-family: Roboto;
    font-weight: normal;
    color: #292929;
    white-space: nowrap;
}
.bv-block-header{
    border-left: 1px solid #ccc;
    padding: 8px 12px;
    width: 100%;
}
.bv-block-header:last-child{
    border-right: 1px solid #ccc;
    padding: 8px 12px;
    width: 100%;
}

.bv-block-header-icon{
    text-align: right;
    color: #b4cfe4;
}
.bv-block-header-icon>i{
    font-size: 30px;
}
.border-bottom-2ea4ee{
    border-bottom: 5px solid #2ea4ee;
}
.padding0{
    padding: 0;
}
.bv-home-block-left{
    padding: 30px 0;
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 100%;
}
.bv-home-block-right{
    padding: 30px 0;
    border: 1px solid #ccc;
    margin-left: 5px;
    width: 100%;
}
.padding030{
    padding: 0 30px;
}
.bv-home-block-left-title{
    font-size: 18px;
    font-weight: 300;
    font-family: Roboto;
    margin: 0;
}
.bv-home-block-left-number{
    font-size: 90px;
    font-weight: 300;
    font-family: Roboto;
    margin: 0;
}
.bv-home-block-left-table tr:nth-child(odd){
    background-color: #f9f9f9;
}
.bv-home-table-stt{
    font-size: 30px;
    font-family: Roboto;
    font-weight: 600;
    color: #ededed;
    text-align: center;
    padding: 13px 10px;
}
.bv-table-text-colorBlue{
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    color: #0567b2;
    margin: 0;
}
.bv-table-text-colorBlack{
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    color: #000;
    margin: 0;
}
.bv-table-icon{
    font-size: 28px;
    color: #bdbdbd;
}
.margin-0{
    margin: 0;
}
.bv-table-arrow-icon{
    float: right;
    font-size: 65px;
    color: #ccc;
    margin-top: 25px;
}
.bv-blockTwo-left{
    width: 100%;
    margin-right: 5px;
}
.bv-blockTwo-right{
    margin-left: 5px;
    width: 100%;
}
.bv-blockTwo-right img{
    width: 100%;
    min-height: 345px;
}
.bv-blockTwo-right-img{
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}
.bv-logo>img{
    width: auto;
    height: 60px;
    margin-left: 10px;
}
.bv-margin-right-15{
    margin-right: 15px;
}
.bv-border-ccc{
    border-bottom: 1px solid #ccc;
}
/*login*/
.card-container.card {
    max-width: 350px;
    padding: 20px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 0px;
    margin-top: 0px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
/*end login*/

/*not login*/
.main-post {
    position: relative;
    padding: 0;
    height: 470px;
}
.caption {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0px;
    color: #ffffff;
    background: #000;
    opacity: 0.5;
}
.recent-post-panel {
    padding: 0;
    height: 470px;
    width: 375px;
}
.widget-sidebar {
    background-color: #fff;
    padding: 10px;
}
.title-widget-sidebar {
    font-size: 14pt;
    border-bottom: 2px solid #e5ebef;
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.content-widget-sidebar {
    margin: 0;
}
.recent-post {
    width: 100%;
    height: 70px;
    list-style-type: none;
}
.post-img, .recent-post a:hover {
    color: #2980b9;
}
.recent-post a {
    text-decoration: none;
    color: #34495E;
    transition: 0.5s;
}
.post-img img {
    width: 100px;
    height: 70px;
    float: left;
    margin-right: 15px;
    transition: 0.5s;
    border-radius: 0;
    padding: 2px;
}
/*end notlogin*/
.bv-drop-menu-header{
    right: 0;
    left: inherit;
    top: 25px;
}
.bv-menu-tab{
    padding: 18px 15px !important;
    border-left: 1px solid #ccc;
}
.bv-menu-tab>span{
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    color: #000;
    margin-right: 10px;
}
.bv-menu-tab>i{
    font-size: 22px;
    position: relative;
    top: 4px;
    color: #0371b6;
}
.bv-menu-tab-user>span>i{
    font-size: 25px;
    position: relative;
    top: 4px;
}
.bv-menu-tab-user{
    padding: 13px 15px !important;
    color: #000;
}
.bv-menu-tab-user>span{
     font-size: 14px;
     font-family: Roboto;
     font-weight: normal;
 }
.bv-menu-tab-user>div{
    border: 3px solid #9ac6e2;
    display: inline-block;
    border-radius: 100%;
    background: #0371b6;
    padding: 0px 3px;
    justify-content: center;
    vertical-align: middle;
}
.bv-menu-tab-user>div>i{
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
}
.bv-icon-button-header{
    margin-left: 180px;
    font-size: 20px;
}
.sidebar-collapse .bv-icon-button-header{
    margin-left: 0px;
    font-size: 20px;
}
.sidebar-collapse.bv-left-menu{
    padding: 18px 35px !important;
    border-bottom: 1px solid #ccc;
}
.bv-left-menu{
    padding: 18px 15px !important;
    border-bottom: 1px solid #ccc;
}
.bv-left-menu>i{
    font-size: 20px;
    margin-right: 10px;
    color: #b4cfe4;
}
.bv-left-menu>span{
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    position: relative;
    top: -3px;
    color: #292929;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 18px 35px;
    background-color: #fff;
    color: #0371b6;
}
.bv-left-menu:hover, .sidebar-menu > li:hover, .bv-left-menu>i:hover {
    color: #0371b6;
}
.treeview-menu > li > a{
    padding: 15px 0 15px 35px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    color: #000;
}
@media (min-width:1200px) and (max-width:1300px) {
    .bv-menu-tab-user {
        padding: 10px 10px !important;
        border-left: 1px solid #ccc;
        color: #000;
    }
    .bv-menu-tab-user>div {
        border: 3px solid #9ac6e2;
        display: inline-block;
        border-radius: 100%;
        background: #0371b6;
        padding: 0px 3px;
        justify-content: center;
        vertical-align: middle;
    }
    .bv-menu-tab-user>div>i {
        color: #fff;
        font-size: 17px;
        margin-top: 5px;
    }
    .bv-menu-tab {
        padding: 15px 10px !important;
        border-left: 1px solid #ccc;
    }
    .bv-menu-tab>i {
        font-size: 18px;
        position: relative;
        top: 2px;
    }
    .bv-logo>img {
        width: auto;
        height: 52px;
        margin-left: 0px;
    }
    .main-header .sidebar-toggle {
        float: left;
        background-color: transparent;
        background-image: none;
        padding: 12px 15px;
        font-family: fontAwesome;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .bv-menu-tab>span {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        color: #000;
        margin-right: 10px;
        display: none;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .bv-menu-tab>span {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        color: #000;
        margin-right: 10px;
        display: none;
    }
    .bv-menu-tab-user>span:first-child {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        display: none;
    }
}
@media (min-width:480px) and (max-width:767px) {
    .bv-menu-tab>span {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        color: #000;
        margin-right: 10px;
        display: none;
    }
    .bv-menu-tab-user>span:first-child {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        display: none;
    }
    .bv-icon-button-header {
        margin-left: 0px;
        font-size: 20px;
        position: absolute;
        z-index: 9999;
    }
    .bv-logo{
        margin-left: 10px;
    }

    .sidebar-mini.bv-check-menu .sidebar-menu > li > a > span{
        display: none;
    }

    .sidebar-mini.bv-check-menu .sidebar-menu > li > .treeview-menu{
        display: none;
    }
    .sidebar-mini.sidebar-open .sidebar-menu > li > a > span{
        display: inline-block !important;
    }

    .sidebar-mini.sidebar-open  .sidebar-menu > li > .treeview-menu{
        display: inline-block;
    }
    .main-sidebar {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
    .main-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 61px;
        min-height: 100%;
        width: 50px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    .bv-left-menu {
        padding: 13px 15px !important;
        border-bottom: 1px solid #ccc;
    }
    .content-wrapper, .main-footer {
        margin-left: 50px;
    }
    .sidebar-open .content-wrapper, .main-footer {
        margin-left: 0px;
    }
    .sidebar-open .main-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 61px;
        min-height: 100%;
        width: 230px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    .navbar{
        margin-left: 50px !important;
        width: auto  !important;
    }
    .main-header .sidebar-toggle {
        border-bottom: 1px solid #ccc;
    }
}
@media (min-width:320px) and (max-width:480px){
    .bv-menu-tab>span {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        color: #000;
        margin-right: 10px;
        display: none;
    }
    .bv-menu-tab-user>span:first-child {
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        display: none;
    }
    .bv-icon-button-header {
        margin-left: 0px;
        font-size: 20px;
        position: absolute;
        z-index: 9999;
    }
    .bv-logo{
        margin-left: 10px;
    }

    .sidebar-mini.bv-check-menu .sidebar-menu > li > a > span{
        display: none;
    }

    .sidebar-mini.bv-check-menu .sidebar-menu > li > .treeview-menu{
        display: none;
    }
    .sidebar-mini.sidebar-open .sidebar-menu > li > a > span{
        display: inline-block !important;
    }

    .sidebar-mini.sidebar-open  .sidebar-menu > li > .treeview-menu{
        display: inline-block;
    }
    .main-sidebar {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
    .main-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 61px;
        min-height: 100%;
        width: 50px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    .bv-left-menu {
        padding: 13px 15px !important;
        border-bottom: 1px solid #ccc;
    }
    .content-wrapper, .main-footer {
        margin-left: 50px;
    }
    .sidebar-open .content-wrapper, .main-footer {
        margin-left: 0px;
    }
    .sidebar-open .main-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 61px;
        min-height: 100%;
        width: 230px;
        z-index: 810;
        -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    .navbar{
        margin-left: 50px !important;
        width: auto  !important;
    }
    .main-header .sidebar-toggle {
        border-bottom: 1px solid #ccc;
    }
}