@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-BlackItalic.woff2') format('woff2'),
    url('../font/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-MediumItalic.woff2') format('woff2'),
    url('../font/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.woff2') format('woff2'),
    url('../font/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Bold.woff2') format('woff2'),
    url('../font/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.woff2') format('woff2'),
    url('../font/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.woff2') format('woff2'),
    url('../font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-ThinItalic.woff2') format('woff2'),
    url('../font/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-BoldItalic.woff2') format('woff2'),
    url('../font/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-LightItalic.woff2') format('woff2'),
    url('../font/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.woff2') format('woff2'),
    url('../font/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.woff2') format('woff2'),
    url('../font/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Italic.woff2') format('woff2'),
    url('../font/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
    background-color: #f8fafc;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #444;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 10px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: center;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

.pte-text-email-header{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    color: #7e7e7e;
    font-size: 13px;
}
.pte-text-numberPhone-header{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    color: #939393;
}
.pte-header-one{
    text-align: right;
    padding-top: 16px;
    padding-bottom: 13px;
    background: #2d2d2d;
}
.pte-header-two{
    background: linear-gradient(to bottom, #2095d2, #135eab);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.navbar-default .navbar-nav > .active > a>span{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-nav > li {
    float: left;
}
.pte-logo-desktop{
    position: fixed;
    top: 0;
    z-index: 99;
}
.position-relative{
    position: relative;
}
.pte-join-free{
    padding: 9px 25px;
    border: 1px solid #727272;
    background: #000000;
    margin: 13px 0 0 0;
}
.pte-join-free:hover{
    background: #727272;
}
.pte-text-join{
    font-size: 15px;
    color: #9a9a9a;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}
.pte-text-free{
    font-size: 15px;
    color: #f9db01;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
}
.padding0{
    padding: 0 !important;
}
.pte-body{
    background: url(../images/body.png) no-repeat left top;
    height: 100vh;
    width: auto;
    background-size: cover;
    position: relative;
    min-height: 850px;
}
.pte-background-admin{
    background: url(../images/body.png) no-repeat left top;
    height: 100vh;
    width: auto;
    background-size: cover;
    position: relative;
}
.pte-body-content{
    background: url(../images/bodyContent.png) no-repeat left top;
    background-size: cover;
    height: 295px;
    width: auto;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.pte-pree-question{
    background-color: #393939;
    color: #fff;
    width: auto;
    height: 120px;
    cursor: pointer;
}
.pte-pree-question:hover{
    background-color: #f9db01;
    color:#181818;
}
.pte-pree-question-text{
    text-align: right;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    top: 45px;
    right: 30px;
}
.pte-block-content{
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
}

.pte-color-fff{
    color: #fff;
}
.pte-connect{
    float: right;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.dropdown-menu > li:hover, .dropdown-menu > li:focus {
    background-color: #ffbd00 !important;
}
.dropdown-menu > li > a {
    padding: 5px 10px !important;
    display: block;
    color: #333 !important;
    text-transform: none;
    font-size: 15px;
}
.dropdown-menu>li{
    list-style: none;
    padding: 5px 0;
    color: #000;
    border-bottom: 1px solid #eee;
}
.navbar-right .dropdown-menu {
    right: auto;
    left: -21px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f9db01;
}

.bv-user-from{
    float: right !important;
    position: absolute !important;
    right: 0;
}
.fa-phone-square{
    font-size: 27px;
    float: left;
    color: #ffbd00;
}
.number>a{
    font-size: 22px;
    font-weight: bold;
    color: #ffbd00;
}
.dropdown.name p {
    border-right: none;
}
.dropdown.name p {
    margin: 0px;
    margin-top: 10px;
    border-right: 1px solid #7ac9fb;
}
.dropdown.name p .fa-caret-down {
    margin-right: 10px;
    margin-left: 5px;
}
.cart-online {
    border-right: 1px solid #7ac9fb;
}
.cart-online .number-product {
    margin-right: -12px;
    position: relative;
    font-size: 10px;
    background-color: #ffbd00;
    padding: 0px 5px;
    margin-left: 12px;
    color: #fff;
    top: -10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #ffbd00;
}
.cart-online .fa-shopping-cart {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    margin-right: 15px;
}
.dropdown.name {
    color: #fff;
    float: left;
    opacity: 1;
    z-index: 999999;
}
.block-step-wizard>ul>li{
    float: left;
    position: relative;
    padding: 12px;
    list-style: none;
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.block-step-wizard{
    background-color: #bb8d09;
}
.block-step-wizard>ul{
    display: flex;
    margin: 0;
    padding: 0 20px;
}
.block-step-wizard>ul>li>i{
    margin-right: 10px;
}
.block-step-wizard>ul>li>span{
    margin-right: 10px;
}
.bv-text-header-step{
    font-size: 24px;
    text-transform: uppercase;
    color: #135eac;
    padding: 15px;
    padding-left: 0px;
    font-weight: 600;
    margin-top: 10px;
}
.bv-background-left{
    background-color: #fff;
    border-top: 1px solid #bb8d09;
    padding: 15px 15px;
}
.bv-start-red{
    color: red;
}
.bv-label{
    font-size: 20px;
    font-weight: 400;
}
.bv-from-have-note{
    position: relative;
    padding-right: 15px;
}
.fa-question-circle{
    font-size: 22px;
    color: #1964af;
    margin-top: 12px;
    margin-left: 0px;
    position: absolute;
    right: -12px;
    top: -7px;
}
.bv-label-date{
    font-size: 16px;
    position: relative;
    top: 7px;
    font-weight: 400;
}
.bv-radio-car{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
}
.bv-header-order {
    background-color: #bb8d09;
    /* margin-bottom: 15px; */
}
.bv-header-order>.bv-title-order{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
    padding: 5px 15px;
}
.bv-des-order{
    font-size: 16px;
    font-family: 'Open Sans Regular';
    line-height: 30px;
    color: #fff;
    text-transform: none;
}
.fa-file-alt{
    float: right;
    margin-top: -48px;
    font-size: 35px;
    padding-right: 15px;
}
.bv-content-order{
    background: linear-gradient(to bottom, #3185da, #1964af);
    padding: 18px;
}
.bv-content-order>p{
    color: #fff;
    font-family: 'Open Sans Regular';
    font-size: 15px;
}
.bv-content-order>p>i{
    color: #fff;
    margin-right: 10px;
}
.bv-info-suca{
    background: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}
.bv-info-suca>ul{
    display: flex;
}
.bv-info-suca>ul>li{
    list-style: none;
    float: left;
    font-size: 15px;
    padding: 0 45px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border: none;
}
.bv-info-suca>ul>li>a {
    color: #606060;
    text-decoration: none;
}
.bv-info-suca>ul>li>a>img {
    background-color: #1964af;
    padding: 14.5px;
    border-radius: 9px;
    margin-bottom: 8px;
    transition: all 1s ease-in-out;
}
.bv-info-suca ul li:nth-child(2) img {
    padding: 10.5px 13px;
}
.bv-info-suca ul li:nth-child(3) img {
    padding: 11px 14px;
}
.bv-info-suca ul li:nth-child(4) img {
    padding: 11px 14px;
}
.bv-info-suca ul li:nth-child(5) img {
    padding: 15.5px;
}
.footer .bottom-footer .address-phone .tel {
    color: #025a95;
    font-weight: bold;
}
.footer .bottom-footer .dmca {
    text-align: center;
    font-size: 15px;
    color: #282828;
}
.footer .bottom-footer .company {
    text-align: center;
    font-size: 15px;
}
@media (min-width:1200px) and (max-width:1300px) {
    .pte-button-next-postion{
        position: absolute;
        right: 0px;
        bottom: 0px;
        left: 0;
        text-align: right;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .col-md-12>div>div>#override {
        width: 78%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    #override {
        width: 50%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }

    .pte-mock-test-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 2px 10px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 30px;
        line-height: 30px;
        font-size: 10px;
        float: none;
    }
    .pte-free-sample-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 1px 25px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 25px;
        line-height: 30px;
        float: none;
    }
    .pte-free-listquestion-mobile{
        margin-top: 0;
    }
    .pte-free-mock-mobile {
        margin-top: 0px;
    }
    .pte-pree-question-text-only{
        font-size: 11px;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        position: relative;
        top: 40px;
        right: 55px;
    }
    .pte-pree-question-text {
        text-align: right;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        position: relative;
        top: 45px;
        right: 15px;
    }

    .footer {
        background-color: #000;
        padding: 14px 0;
        text-align: left;
    }
    .pte-connect{
        float: right;
    }
    .pte-logo-desktop {
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .navbar-nav > li > a {
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-nav > li {
        float: left;
        margin-left: 5px;
    }
    .navbar-default .navbar-nav > li > a {
        color: #9a9a9a;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        text-transform: uppercase;
    }
    .pte-logo-desktop>img{
        height: 119px;
    }
    .pte-text-free {
        font-size: 13px;
        color: #f9db01;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
    }
    .pte-text-join {
        font-size: 13px;
        color: #9a9a9a;
        font-family: 'Roboto';
        font-weight: normal;
        font-style: normal;
    }
    .pte-join-free {
        padding: 5px 20px;
        border: 1px solid #727272;
        background: #000000;
        margin: 15px 0 0 0;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .col-md-12>div>div>#override {
        width: 75%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .pte-margin-top100{
        margin-top:100px;
    }
    .pte-icon-sign{
        position: relative;
        font-size: 11px;
        color: #9a9a9a;
        top: 1px;
    }
    #override {
        width: 75%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .pte-body-content-text {
        position: absolute;
        top: 220px;
        left: 15px;
        right: 0;
    }
    .footer {
        background-color: #000;
        padding: 15px 15px;
        line-height: 5px;
        vertical-align: bottom;
    }
    .pte-mock-test-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 2px 45px;
        border-radius: 5px;
        display: inline-block;
        /* margin-left: 53px; */
        line-height: 30px;
        position: absolute;
        right: 30px;
    }
    .pte-free-sample-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 2px 45px;
        border-radius: 5px;
        display: inline-block;
        /* margin-left: 53px; */
        line-height: 30px;
        position: absolute;
        right: 30px;
    }
    .pte-free-listquestion-mobile {
        margin-top: 113px;
    }
    .pte-free-mock-mobile {
        margin-top: 174px;
    }
    .pte-mockTest-block-text {
        padding: 20px 0;
        text-align: center;
    }
    .pte-mockTest-block-text-header {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        margin: 0;
    }
    .pte-mockTest-block-sum-questions {
        color: #fff;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 11px;
        margin: 0 auto;
        padding: 18px 0;
    }
    .pte-width-block-question{
        margin-top: 10px;
    }
    .footer {
        background-color: #000;
        padding: 14px 0;
        text-align: left;
    }
    .pte-connect{
        float: right;
    }
    .container {
        width: auto;
    }
    .pte-logo-desktop {
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pte-logo-desktop>img{
        height: 102px;
    }
    .navbar-nav > li {
        float: left;
        margin-left: 5px;
    }
    .pte-join-free {
        padding: 5px 15px;
        border: 1px solid #727272;
        background: #000000;
        margin: 9px 0 0 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: #9a9a9a;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
    }
    .navbar-default .navbar-nav > .active > a>span {
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 13px;
        text-transform: uppercase;
    }
    .pte-text-join {
        font-size: 12px;
        color: #9a9a9a;
        font-family: 'Roboto';
        font-weight: normal;
        font-style: normal;
    }
    .pte-text-free {
        font-size: 12px;
        color: #f9db01;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
    }
}
@media (min-width:480px) and (max-width:767px) {
    .col-md-12>div>div>#override {
        width: 69%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .pte-margin-top100{
        margin-top:130px;
    }
    .pte-margin-left-user{
        margin-left: 0px !important;
    }
    #override {
        width: 66%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f9db01;
        text-decoration: none;
        background-color: transparent;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #f9db01;
        text-decoration: none;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
        color: #f9db01;
        text-decoration: none;
        background-color: transparent;
    }
    .pte-body-content-text {
        position: absolute;
        top: 200px;
        left: 15px;
        right: 0;
    }
    .pte-body-content-text-title {
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: normal;
        font-style: normal;
    }
    .pte-body-content-text-des {
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
    }
    .footer {
        background-color: #000;
        padding: 15px 15px;
        line-height: 20px;
        vertical-align: bottom;
    }
    .pte-mock-test-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 2px 45px;
        border-radius: 5px;
        display: inline-block;
        /* margin-left: 53px; */
        line-height: 30px;
        position: absolute;
        right: 30px;
    }
    .pte-free-sample-item-footer-btn {
        background: #393939;
        color: #f9db01;
        border: 1px solid #393939;
        padding: 1px 25px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 25px;
        line-height: 30px;
        position: absolute;
        right: 30px;
    }
    .pte-free-listquestion-mobile {
        margin-top: 113px;
    }
    .pte-free-mock-mobile {
        margin-top: 163px;
    }
    .pte-mockTest-block-text {
        padding: 18px 0;
        text-align: center;
    }
    .pte-mockTest-block-sum-questions {
        color: #fff;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 8px;
        margin: 0 auto;
        padding: 18px 0;
    }
    .pte-mockTest-block-text-header {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
        font-size: 13px;
        margin: 0;
    }
    .pte-width-block-question{
        margin-top: 10px;
    }
    .footer {
        background-color: #000;
        padding: 14px 0;
        text-align: center;
    }
    .pte-connect{
        float: none;
        text-align: center;
    }
    .navbar-nav > li {
        float: none;
        margin-left: 0;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand.logo {
        padding: 3px 15px;
    }
}



@media (min-width:320px) and (max-width:380px){
    .col-md-12>div>div>#override {
        width: 69%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .col-md-12>div>div>#override {
        width: 70%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
    .pte-block-record{
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 5px;
        background: #fff;
    }
    #dragInput label{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .pte-margin-left-user{
        margin-left: 0px !important;
    }
    #override {
        width: 55%;
        height: 35px;
        background: transparent;
        position: absolute;
        z-index: 99;
        top: 48px;
        left: 18px;
    }
}

