<div class="bv-context-menu">
	<div class="" ng-click="vm.viewDetail()">
		<div class="bv-detail-icon-table">
			<i class="icon-eye"></i>
		</div>
        <span class="bv-detail-text-table">Xem</span>
	</div>

	<div class="" ng-click="vm.confirmCancelOrder()">
        <div  class="bv-detail-icon-table">
            <i class="icon-cancel"></i>
        </div>
		<span class="bv-detail-text-table" >Hủy</span>
	</div>
    <div>
        <div class="bv-detail-icon-table">
            <i class="icon-pencil"></i>
        </div>
        <span class="bv-detail-text-table">Sửa</span>
    </div>
    <div>
        <div class="bv-detail-icon-table">
            <i class="icon-mail"></i>
        </div>
        <span class="bv-detail-text-table">Gửi lại email xác nhận</span>
    </div>
    <div>
        <div class="bv-detail-icon-table">
            <i class="icon-reload-arrow"></i>
        </div>
        <span class="bv-detail-text-table">Tái túc</span>
    </div>
    <div>
        <div class="bv-detail-icon-table">
            <i class="icon-money"></i>
        </div>
        <span class="bv-detail-text-table">Khách hàng nợ phí</span>
    </div>
</div>
	            