    <form class="bv-from" style="height: 100vh" angular-validator-submit="vm.closeOpenStep('step2', true)" name="myForm" novalidate angular-validator>
        <div class="bv-step-content" id="bv-step-1-content">
            <div class="text-header-sp">
                <p>Thông tin gói</p>
            </div>
            <div class="margin-top-10 required">
                <p class="bv-title-from">Số người tham gia</p>
            </div>
            <div class="margin-top-5">
                <input type="number" min="0" class="bv-input" placeholder="Số người tham gia" ng-model="vm.product.numberperson" ng-blur="vm.addOrRemovePerson()"
                       name="numberperson"
                       required-message="'Chưa nhâp số người tham gia!'"
                       required/>
            </div>
            <div class="margin-top-10 required">
                <p class="bv-title-from">Số tiền bảo hiểm</p>
            </div>
            <div class="margin-top-5">
                <relation-combo name="premiumPackage" type="tnc-money" ng-model="vm.product.premiumPackage" options="vm.premiumPackageOptions" onfinished="vm.processComboResult(data, type)"/>
            </div>
            <div class="margin-top-10 required">
                <p class="bv-title-from">Thời hạn bảo hiểm</p>
            </div>
            <div class=" display-flex margin-top-5">
                <div class="margin-right-5 width-100">
                    <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                        <div class="width-100">
                            <input name="insurancestartdate" type="text" class="bv-input" placeholder="Từ ngày" ng-model="vm.product.insurancestartdate"
                                   ng-change="vm.getPremium()"
                                   required-message="'Chưa chọn thời gian từ ngày!'"
                                   required>
                        </div>
                        <div class="input-group-addon bv-date-icon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="width-100">
                    <div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                        <div class="width-100">
                            <input name="insuranceexpireddate" type="text" class="bv-input" placeholder="Đến ngày" ng-model="vm.product.insuranceexpireddate" ng-disabled="true">
                        </div>
                        <div class="input-group-addon bv-date-icon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bv-title-from margin-top-10" ng-show="vm.isShowPremium">
                <p>Tổng phí bảo hiểm (đã bao gồm VAT):</p>
            </div>
            <div ng-show="vm.isShowPremium">
                <p class="bv-tile-templateSummary">{{vm.product.premiumnet | number:0 }}</p>
            </div>
            <div class="bv-title-from" ng-show="vm.isShowTotalPremium">
                <p>Tổng phí thanh toán (đã bao gồm VAT):</p>
            </div>
            <div ng-show="vm.isShowTotalPremium">
                <p class="bv-tile-templateSummary">{{vm.product.premiumtnc | number:0 }}</p>
            </div>
        </div>
        <div id="contact-info" class="bv-step-content disable-all" disable-all="vm.product.premiumtnc == 0">
            <div class="lock-all" ng-show="vm.product.premiumtnc == 0"></div>
            <!-- Thông tin người yêu cầu bảo hiểm - Contact -->
            <div ng-include="'apps/product/partial/partial.contact.html'"></div>

            <div class="text-header-sp margin-top-20" ng-show="vm.isShowPersonList">
                <p>2. Thông tin người được bảo hiểm</p>
            </div>
            <div class="table-responsive bv-home-block-left-table-responsive margin-top-10">
                <table class="table table-bordered " ng-show="vm.isShowPersonList">
                    <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Số Hộ chiếu/CMND</th>
                        <th>Ngày sinh (dd/MM/yyyy)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="person in vm.policy.listTncAdd">
                        <td><input style="width: 150px" name="insuredName{{$index}}" type="text" class="form-control" ng-model="person.insuredName"
                                   required-message="'Chưa nhập Họ và Tên!'"
                                   required></td>
                        <td><input style="width: 150px"  name="idPasswport{{$index}}" type="text" class="form-control" ng-model="person.idPasswport"
                                   required-message="'Chưa nhập số hộ chiếu/CMND!'"
                                   required/></td>
                        <td>
                            <div style="width: 150px"  class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
                                <div class="width-100">
                                    <input name="dob{{$index}}" type="text" class="bv-input" placeholder="dd/MM/yyyy" ng-model="person.dob"
                                           required-message="'Chưa chọn ngày sinh!'"
                                           required>
                                </div>
                                <div class="input-group-addon bv-date-icon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="margin-top-5 padding-bottom-35">
                <button type="submit" class="bv-btn-step3">Tiếp theo</button>
            </div>
        </div>
    </form>
