<div class="bv-context-menu">
	<div ng-click="vm.gotoDetail(order.agreementId)"> 
		<div class="bv-detail-icon-table">
			<i class="icon-eye"></i>
		</div>
        <span class="bv-detail-text-table">Xem</span>
	</div>

    <div ng-click="vm.confirmKhachhangnophi(order)">
        <div class="bv-detail-icon-table">
            <i class="icon-money"></i>
        </div>
        <span class="bv-detail-text-table">Cập nhật nợ phí</span>
    </div>
    
    <div class="" ng-click="vm.confirmDeleteOrder(order.id)">
        <div  class="bv-detail-icon-table">
            <i class="icon-cancel"></i>
        </div>
		<span class="bv-detail-text-table">Xóa nợ</span>
	</div>

    <div class="pull-right">
        <div class="display-inline-block" ng-click="vm.confirmDeleteOrder(order.id)">
            <div  class="bv-detail-icon-table">
                <i class="icon-cancel"></i>
            </div>
            <span class="bv-detail-text-table">Xóa tiep</span>
        </div>
        <div class="display-inline-block" ng-click="vm.confirmDeleteOrder(order.id)">
            <div  class="bv-detail-icon-table">
                <i class="icon-cancel"></i>
            </div>
            <span class="bv-detail-text-table">Xóa tiep</span>
        </div>
        <div class="display-inline-block" ng-click="vm.confirmDeleteOrder(order.id)">
            <div  class="bv-detail-icon-table">
                <i class="icon-cancel"></i>
            </div>
            <span class="bv-detail-text-table">Xóa tiep</span>
        </div>
    </div>

</div>
