<div class="modal-header">
	<i class="fas fa-times-circle pte-icon-close-dialog pull-right" ng-click="vm.cancel()"></i>
    <h5 class="modal-title">Thêm mới khách hàng</h5>
</div>
<div class="row modal-body">
<form name="form" role="form" ng-submit="vm.saveContact()" show-validation>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Họ và tên</p>
	        </div>
	        <div class="margin-top-5">
	            <input type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.contact.contactName" required/>
	        </div>
	    </div>
	    <div class="col-lg-4 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from required">
	            <p>Ngày sinh</p>
	        </div>
	        <div class="margin-top-5">
	        	<div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-end-date="0d" data-before-show="vm.dateBeforeShowDate(date)">
	                <div class="width-100">
	                    <input type="text" name="ngaySinh" class="bv-input" placeholder="Ngày sinh" ng-model="vm.contact.dateOfBirth" format-date required>
	                </div>
	                <div class="input-group-addon bv-date-icon">
	                    <span class="glyphicon glyphicon-th"></span>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-4 bv-kh-padding-left  col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from required">
	            <p>Số CMT/MST</p>
	        </div>
	        <div class="margin-top-5">
	            <div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="text" name="idNumber" class="bv-input" placeholder="Số CMT/MST" 
	                 		ng-model="vm.contact.idNumber" required>
	             	</div>
		             <div class="input-group-addon bv-date-icon">
		                 <span class="glyphicon glyphicon-credit-card"></span>
		             </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-4  col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Số điện thoại</p>
	        </div>
	        <div class="margin-top-5">
	        	<div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="text" name="phone" class="bv-input" placeholder="Số điện thoại" 
	                 		ng-model="vm.contact.phone" maxlength="12" numeric-only required>
	             	</div>
		             <div class="input-group-addon bv-date-icon">
		                 <span class="glyphicon glyphicon-earphone"></span>
		             </div>
	            </div>
	        </div>
	    </div>
	   
	    <div class="col-lg-4 bv-kh-padding-left  col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from required">
	            <p>Email</p>
	        </div>
	        <div class="margin-top-5">
	            <div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="email" name="email" class="bv-input" placeholder="Email"
	                 		ng-model="vm.contact.email" required>
	            	</div>
	            	<div class="input-group-addon bv-date-icon">
	                	<span class="glyphicon glyphicon-envelope"></span>
	            	</div>
	            </div>
	        </div>
	    </div>
	    
	</div>
	
	<!-- Địa chỉ -->
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12   col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Địa chỉ</p>
	        </div>
	        <div class="margin-top-5">
	        	<input type="text" name="address" class="bv-input" placeholder="Địa chỉ người nhận" ng-model="vm.contact.address" required/>
	        </div>
	    </div>
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12   col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Tên phường xã</p>
	        </div>
	        <div class="margin-top-5">
	        	<!-- auto completed list -->
				<bv-ward-input isRequired="true" placeholder="Phường/Xã" connection-model="vm.contact.addressDistrict"></bv-ward-input>
			    <input type="hidden" name="addressDistrict" class="bv-input" placeholder="Tên phường xã" ng-model="vm.contact.addressDistrict"
				 	required/>
	        </div>
	    </div>
	</div>

	
	<!-- Button -->
    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 text-center">
    	<button type="submit" class="btn primary" ng-disabled="form.$invalid" ng-click="vm.saveContact()">
        	<span>Tạo khách hàng mới</span>
        </button>
        <button type="button" class="bv-btn-default" ng-click="vm.cancel()">
            Hủy bỏ
        </button>
    </div>
	    
</form></div>