<!-- column detail -->
    <div class="row-col">
        <div class="p-a-sm">
            <div>
                <a class="pull-right" ng-hide="item.editing" ng-click="editItem(item)"><i class="fas edit-pen-title fa-pencil-alt"></i></a>
                <a class="btn btn-sm white" ng-show="item.editing" ng-click="doneEditing(item)">Done</a>
            </div>
        </div>
        <div class="row-row">
            <div class="row-body">
                <div class="row-inner">
                    <div class="padding" ng-show="vm.selectedContact">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 h-auto m-b-lg">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 v-m h2 _300 text-center">
                                <div class="inline">{{vm.selectedContact.contactName}}</div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center padding-bottom-35 padding-bottom-ccc">
                            <div class="bv-icon-contact-detail display-inline-block">
                                <i class="icon-telephone"></i>
                                <p class="bv-text-icon-contact-detail">Gọi điện</p>
                            </div>
                            <div class="bv-icon-contact-detail display-inline-block" >
                                <i class="icon-mail-black-envelope-symbol"></i>
                                <p class="bv-text-icon-contact-detail">Gửi thư</p>
                            </div>
                            <div class="bv-icon-contact-detail display-inline-block">
                                <i class="icon-signs"></i>
                                <p class="bv-text-icon-contact-detail">Tìm đường</p>
                            </div>
                            <div class="bv-icon-contact-detail display-inline-block">
                                <i class="icon-facebook-logo"></i>
                                <p class="bv-text-icon-contact-detail">Chat</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div  class="bv-detail-contact">
                                <p>Cấp đơn<i class="fas {{vm.arrowContact}}"></i></p>
                            </div>
                            <div class="bv-detail-contact">
                                <p ng-init="vm.isCollapsedRelationship = false" ng-click="vm.isCollapsedRelationship = !vm.isCollapsedRelationship">
                                	Quan hệ <i class="fas" ng-class="vm.isCollapsedRelationship ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                                </p>
                                <div uib-collapse="vm.isCollapsedRelationship">
	                                <div class="display-flex">
	                                    <div class="width-100 margin-right-5">
	                                        <select class="form-control">
	                                            <option>Lái xe</option>
	                                            <option>2</option>
	                                            <option>3</option>
	                                            <option>4</option>
	                                        </select>
	                                    </div>
	                                    <div class="width-100">
	                                        <select class="form-control">
	                                            <option>Bảo hiểm mô tô</option>
	                                            <option>2</option>
	                                            <option>3</option>
	                                            <option>4</option>
	                                        </select>
	                                    </div>
	                                </div>
                                </div>
                            </div>
                            <div class="bv-detail-contact">
                                <p ng-init="vm.isCollapsedContact = false" ng-click="vm.isCollapsedContact = !vm.isCollapsedContact">
                                	Liên hệ <i class="fas" ng-class="vm.isCollapsedContact ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                                </p>
                                <div uib-collapse="vm.isCollapsedContact">
                                	<div class="margin-top-20">
	                                    <p class="bv-title-from">Mobile</p>
	                                </div>
	                                <div>
	                                    <p class="bv-tile-templateSummary">{{vm.selectedContact.phone}}</p>
	                                </div>
	                                <div class="margin-top-10">
	                                    <p class="bv-title-from">Email</p>
	                                </div>
	                                <div>
	                                    <p class="bv-tile-templateSummary">{{vm.selectedContact.email}}</p>
	                                </div>
	                                <div class="margin-top-10">
	                                    <p class="bv-title-from">Điạ chỉ</p>
	                                </div>
	                                <div>
	                                    <p class="bv-tile-templateSummary">{{vm.selectedContact.homeAddress}}</p>
	                                </div>
	                                <div class="margin-top-10">
	                                    <p class="bv-title-from">Facebook message</p>
	                                </div>
	                                <div>
	                                    <p class="bv-tile-templateSummary"></p>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pos-abt w-full" style="top:50%;" ng-hide="vm.selectedContact">
                    	<i class="material-icons md-96"></i>
                    	<p>Không chọn khách hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
