<form name="form" role="form" ng-submit="vm.createNewContact()" show-validation>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-3   col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Họ và tên</p>
	        </div>
	        <div class="margin-top-5">
	            <input type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.contact.contactName" required/>
	        </div>
	    </div>
	    <div class="col-lg-3   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from required">
	            <p>Số điện thoại</p>
	        </div>
	        <div class="margin-top-5">
	        	<div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="text" name="thoihanbhTu" class="bv-input" placeholder="Số điện thoại" 
	                 		ng-model="vm.contact.phone" maxlength="12" numeric-only required>
	             	</div>
		             <div class="input-group-addon bv-date-icon">
		                 <span class="glyphicon glyphicon-earphone"></span>
		             </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3 bv-kh-padding-left  col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from">
	            <p>Số CMT/MST</p>
	        </div>
	        <div class="margin-top-5">
	            <div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="text" name="thoihanbhTu" class="bv-input" placeholder="Số CMT/MST" 
	                 		ng-model="vm.contact.idNumber">
	             	</div>
		             <div class="input-group-addon bv-date-icon">
		                 <span class="glyphicon glyphicon-credit-card"></span>
		             </div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3 bv-kh-padding-left  col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from">
	            <p>Ngày sinh</p>
	        </div>
	        <div class="margin-top-5">
	        	<div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-end-date="0d">
	                <div class="width-100">
	                    <input type="text" name="ngaySinh" class="bv-input" placeholder="Ngày sinh" ng-model="vm.contact.dateOfBirth">
	                </div>
	                <div class="input-group-addon bv-date-icon">
	                    <span class="glyphicon glyphicon-th"></span>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-3   col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from required">
	            <p>Email</p>
	        </div>
	        <div class="margin-top-5">
	            <div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="email" name="email" class="bv-input" placeholder="Email" 
	                 		ng-model="vm.contact.email" required>
	            	</div>
	            	<div class="input-group-addon bv-date-icon">
	                	<span class="glyphicon glyphicon-envelope"></span>
	            	</div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-3   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	        <div class="bv-title-from">
	            <p>Nghề nghiệp</p>
	        </div>
	        <div class="margin-top-5">
	            <input type="text" class="bv-input" placeholder="Nghề nghiệp" ng-model="vm.contact.occupation" />
	        </div>
	    </div>
	
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12   col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from">
	            <p>Địa chỉ</p>
	        </div>
	        <div class="margin-top-5">
	            <textarea rows="5" type="text" class="bv-input" placeholder="Địa chỉ nhà riêng" ng-model="vm.contact.homeAddress" />
	        </div>
	    </div>
	</div>
	
	<!-- Mối quan hệ -->
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from">
	            <p>Mối quan hệ</p>
	        </div>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5">
	        <div class="col-lg-4  bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <select class="bv-select-box form-control" ng-options="selected.relationName for selected in vm.relationships" ng-model="vm.selRelationship"></select>
	        </div>
	        <div class="col-lg-4   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <div class="input-group " >
	                <input name="contactName" type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.contactRelationName" readonly="readonly"/>
	                <div class="input-group-addon" ng-click="vm.openSearchContact()">
	                    <i class="fa fa-search-plus"></i>
	                </div>
	            </div>
	        </div>
	        <div class="col-lg-4 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
	        	<button class="btn btn-info" type="button" ng-click="vm.addRelationship()"><i class="fa fa-plus"></i> Thêm</button>
	        </div>
	    </div>
	</div>
	<div>
		<ul>
		  <li ng-repeat="item in vm.contact.listRelationship">
		      <span>{{item.relationName}} - {{item.contactRelationName}} <button ng-click="vm.deleteRelationship($index)">Xóa</button></span>
		  </li>
		</ul>
	</div>
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from">
	            <p>Mục khai thác</p>
	        </div>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5">
	        <div class="col-lg-4  bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <select class="bv-select-box form-control"  ng-options="selected.productName for selected in vm.products" ng-model="vm.selProduct"></select>
	        </div>
	        <div class="col-lg-4   bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
	            <button class="btn btn-info" type="button" ng-click="vm.addProduct()"><i class="fa fa-plus"></i> Thêm</button>
	        </div>
	    </div>
	</div>
	<div>
		<ul>
		  <li ng-repeat="item in vm.contact.listContactProduct">
		      <span>{{item.productName}} <button ng-click="vm.deleteContactProduct($index)">Xóa</button></span>
		  </li>
		</ul>
	</div>
	<!-- Nhắc nhở -->
	<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 bv-kh-padding-left">
	        <div class="bv-title-from">
	            <p>Nhắc nhở</p>
	        </div>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5">
	        <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <select class="bv-select-box form-control"  ng-options="selected.productName for selected in vm.products" ng-model="vm.selProductReminder"></select>
	        </div>
	        <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <input name="contactName" type="text" class="bv-input" placeholder="Họ và tên" ng-model="vm.content"/>
	        </div>
	        <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
	            <div class="margin-top-5">
		        	<div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-start-date="0d">
		                <div class="width-100">
		                    <input type="text" name="ngaySinh" class="bv-input" placeholder="Ngày nhắc nhở" ng-model="vm.dateReminder">
		                </div>
		                <div class="input-group-addon bv-date-icon">
		                    <span class="glyphicon glyphicon-th"></span>
		                </div>
		            </div>
		        </div>
	        </div>
	        <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10">
	            <button class="btn btn-info" type="button" ng-click="vm.addReminder()"><i class="fa fa-plus"></i> Thêm</button>
	        </div>
	    </div>
	</div>
	<div>
		<ul>
		  <li ng-repeat="item in vm.contact.listContactProduct">
		      <span>{{item.productName}} <button ng-click="vm.deleteContactProduct($index)">Xóa</button></span>
		  </li>
		</ul>
	</div>
	
	<div class="col-md-12 text-right margin-top-10">
		<button type="submit" class="btn primary btn-block p-x-md" ng-disabled="form.$invalid">Tạo khách hàng mới</button>
	</div>
</form>