<div class="modal-header">
	<i class="fas fa-times-circle pte-icon-close-dialog pull-right"  ng-click="vm.cancel()"></i>
    <h5 class="modal-title">Gửi thư</h5>
</div>
<div class="row modal-body">
	<form name="form">
        <div class="col-md-12 padding0">
            <div class="col-sm-3">Từ</div>
            <div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Họ và tên" ng-model="vm.searchCriterial.contactName"/></div>
            <div class="col-sm-3">Đến</div>
            <div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Số điện thoại" ng-model="vm.searchCriterial.phone"/></div>
        </div>
        <div class="col-md-12 padding0 margin-top-5">
            <div class="col-sm-3">C/c</div>
            <div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Số CMT/MST" ng-model="vm.searchCriterial.idNumber"/></div>
            <div class="col-sm-3">Chủ đề</div>
            <div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Ngày sinh" ng-model="vm.searchCriterial.dateOfBirth"/></div>
        </div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 margin-top-5 text-center">
			<textarea rows="5" type="text" class="bv-input" placeholder="Nội dung" />
		</div>
		
		<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-10 text-center">
			<div>
		        <button class="bv-btn-changepassword"  type="submit">
		            Gửi
		        </button>
		    </div>
		</div>
	</form>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.search()">Tìm</button>
    <button class="btn btn-warning" type="button" ng-click="vm.addNewContact()">Thêm mới</button>
</div> -->

