<div class="col-md-12 padding0">
	<div class="col-sm-3">Họ và tên</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Họ và tên" ng-model="vm.contact.contactName"/></div>
	<div class="col-sm-3">Số điện thoại</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Số điện thoại" ng-model="vm.contact.phone"/></div>
</div>
<div class="col-md-12 padding0 margin-top-5">
	<div class="col-sm-3">Số CMT/MST</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Số CMT/MST" ng-model="vm.contact.idNumber"/></div>
	<div class="col-sm-3">Ngày sinh</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Ngày sinh" ng-model="vm.contact.dateOfBirth"/></div>
</div>
<div class="col-md-12 padding0 margin-top-5">
	<div class="col-sm-3">Email</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Email" ng-model="vm.contact.email"/></div>
	<div class="col-sm-3">Nghề nghiệp</div>
	<div class="col-sm-3 padding0"><input type="text"  class="bv-input-contact" placeholder="Nghề nghiệp" ng-model="vm.contact.occupation"/></div>
</div>
<div class="col-md-12 padding0 margin-top-5">
	<div class="col-sm-3">Địa chỉ</div>
	<div class="padding0" ><input type="text"  class="bv-input-contact" placeholder="Địa chỉ nhà riêng" ng-model="vm.contact.homeAddress"/></div>
</div>

<div class="col-md-12 text-right margin-top-10">
    <button class="bv-btn-step3" ng-click="vm.createNewContact()">
        Tạo khách hàng mới
    </button>
</div>
