    <div style="min-height: 100vh">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
            <div class="col-lg-3   col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
                    <p>Tên khách hàng</p>
                </div>
                <div class="margin-top-5">
                    <input type="text" class="bv-input" placeholder="Nhập tên khách hàng" maxlength="50" ng-model="vm.searchCriterial.contactName" />
                </div>
            </div>
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
		            <p>Email</p>
		        </div>
		        <div class="margin-top-5">
		            <div class="input-group display-flex">
		            	<div class="width-100">
		                	<input type="text" name="email" class="bv-input" placeholder="Email"
		                 		ng-model="vm.searchCriterial.email">
		            	</div>
		            	<div class="input-group-addon bv-date-icon">
		                	<span class="glyphicon glyphicon-envelope"></span>
		            	</div>
		            </div>
		        </div>
            </div>
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
                    <p>Số điện thoại</p>
                </div>
                <div class="margin-top-5">
                	<div class="input-group display-flex">
	                    <div class="width-100">
	                        <input type="text" name="phone" class="bv-input" placeholder="Nhập số điện thoại" 
	                        	ng-model="vm.searchCriterial.phone" maxlength="12" numeric-only >
	                    </div>
	                    <div class="input-group-addon bv-date-icon">
	                        <span class="glyphicon glyphicon-earphone"></span>
	                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
	            	<p>Loại khách hàng</p>
		        </div>
		        <div class="margin-top-5">
		            <select class="bv-select-box form-control" name="groupType" ng-model="vm.searchCriterial.groupType">
	                    <option value="">--- Loại khách hàng ---</option>
	                    <option value="POTENTIAL">Khách hàng tiềm năng</option>
	                    <option value="FAMILIAR">Khách hàng thân thiết</option>
	                    <option value="VIP">Khách hàng VIP</option>
	                </select>
		        </div>
            </div>
        </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
            <div class="col-lg-3   col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
	            <p>Số CMT/MST</p>
	        </div>
	        <div class="margin-top-5">
	            <div class="input-group display-flex">
	            	<div class="width-100">
	                	<input type="text" name="idNumber" class="bv-input" placeholder="Số CMT/MST" 
	                 		ng-model="vm.searchCriterial.idNumber">
	             	</div>
		             <div class="input-group-addon bv-date-icon">
		                 <span class="glyphicon glyphicon-credit-card"></span>
		             </div>
	            </div>
	        </div>
            </div>
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
		            <p>Ngày sinh</p>
		        </div>
		        <div class="margin-top-5">
		        	<div class="input-group date display-flex" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true">
		                <div class="width-100">
		                    <input type="text" name="ngaySinh" class="bv-input" placeholder="Ngày sinh" ng-model="vm.searchCriterial.dateOfBirth" format-date>
		                </div>
		                <div class="input-group-addon bv-date-icon">
		                    <span class="glyphicon glyphicon-th"></span>
		                </div>
		            </div>
		        </div>
            </div>
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="bv-title-from">
	            	<p>Nhóm khách hàng</p>
		        </div>
		        <div class="margin-top-5">
		            <select class="bv-select-box form-control" name="groupType" ng-model="vm.searchCriterial.categoryType">
	                    <option value="">--- Nhóm khách hàng ---</option>
	                    <option value="PERSON">Cá nhân</option>
	                    <option value="CATEGORY">Tổ chức</option>
	                </select>
		        </div>
            </div>
        </div>

		<!-- Button -->
		<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 margin-top-20">
            <div class="col-lg-3 bv-kh-padding-left col-md-12 col-sm-12 col-xs-12 padding0 margin-top30" style="float: right;">
                <button class="bv-btn-step2" ng-click="vm.searchContact()" button-spinner="vm.isLoading" button-prepend="fa fa-search">
                    Tìm kiếm
                </button>
            </div>
        </div>
        
        <!-- Table data -->
        <div ng-include="'apps/contact/contact-table.html'"></div>
    </div>
