<div class="display-flex table-responsive">
                                    <table class="table table-striped">
								        <thead>
								            <tr>
								                <th>STT</th>
								                <th>Sản phẩm</th>
								                <th>Số hợp đồng</th>
								                <th>Trạng thái hợp đồng</th>
								            </tr>
								        </thead>
								        <tbody>
									        <tr ng-repeat-start="order in vm.Agreements track by $index" ng-click="order.expand = !order.expand">
									            <td>
									                <p class="margin-0">{{$index + 1}}</p>
									            </td>
									            <td>
									                <p class="">{{order.lineName}}</p>
									            </td>
									            <td>
									                <p class="">{{order.gycbhNumber}}</p>
									            </td>
									            <td>
									                <p class="">{{order.statusPolicyName}}</p>
									            </td>
									        </tr>
									        <tr ng-if="order.expand" ng-repeat-end="">
           										<td colspan="4">
           											<div ng-include="'apps/contact/partial.contact-view-detail-agreement-context-menu.html'"></div>
												</td>
          									</tr>
								        </tbody>
									     <tfoot>
											<tr>
									        	<td colspan="5" class="text-center">
										            <bv-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage" ng-show="vm.totalItems > 0"></bv-item-count>
											        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
											    </td>
									        </tr>
								     	</tfoot>
								   </table>
                                </div>