<!-- aside -->
  <div id="aside" class="app-aside modal fade sm nav-dropdown" ng-class="{'folded': app.setting.folded}">
    <div class="left navside grey dk" layout="column">
      <div class="navbar no-radius">
          <a class="navbar-item pull-right hidden-sm hidden-xs" ng-click="toogleSettingFolded()">
              <i class="fas fa-align-justify"></i>
          </a>
      </div>
      <div flex class="hide-scroll background-fff">
        <nav class="scroll nav-border b-{{app.setting.theme.primary}}">
          <div ui-include="'../views/theme/blocks/nav.html'" ></div>
        </nav>
      </div>
    </div>
  </div>
<!-- / aside -->
  
<!-- content -->
  <div id="content" class="app-content box-shadow-z2 box-radius-1x" role="main">
    <div class="app-header white box-shadow">
        <div ui-include="'../views/theme/blocks/header.html'"></div>
    </div>
    <div class="app-footer">
      <div ui-include="'../views/blocks/footer.html'"></div>
    </div>
    <div ui-view class="app-body" id="view"></div>
  </div>
<!-- / content -->

<!-- theme switcher -->
  <!-- <div id="switcher">
    <div ui-include="'../views/blocks/switcher.html'"></div>
  </div> -->
<!-- / theme switcher -->
