<div class="product-toolbar">
    <div class="product-toolbar-right">
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Import excel" ng-click="vm.showImportExcelPopup()">
            <i class="far fa-file-excel"></i>
        </a>
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Tải xuống dữ liệu" ng-click="vm.exportExcel('TVC')">
            <i class="fas fa-download"></i>
        </a>
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Mở/thu hẹp màn hình" ng-click="vm.toogleSidebar()">
            <i class="fas" ng-class="vm.showLeftSidebar ? 'fa-arrow-left' : 'fa-arrow-right'"></i>
        </a>
    </div>
    <div class="product-toolbar-left">
    	<a class="product-btn-toolbar color-5cb85c" 
        		tooltip-placement="bottom" uib-tooltip="Xóa tất cả dữ liệu" ng-click="vm.blankTableContent()">
            <i class="fas fa-sync-alt"></i>
        </a>
        <a class="product-btn-toolbar color-5cb85c" 
        		tooltip-placement="bottom" uib-tooltip="Thêm dòng dữ liệu" ng-click="vm.addNewRow()"
        		ng-disabled="vm.policy.travelWithId == '1'" ng-show="vm.policy.travelWithId != '1'">
            <i class="fas fa-plus"></i>
        </a>
        <a type="button" class="product-btn-toolbar color-d9534f" tooltip-placement="bottom" uib-tooltip="Xóa nhiều bản ghi" 
        		ng-show="!vm.btnRemoveAllDisabled && vm.policy.travelWithId != '1'" ng-click="vm.removeAllRow()">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>