<div class="product-toolbar">
    <div class="pull-right">
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Import excel" ng-click="vm.showImportExcelPopup()">
            <i class="far fa-file-excel"></i>
        </a>
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Tải xuống dữ liệu">
            <i class="fas fa-download"></i>
        </a>
        <a class="product-btn-toolbar" tooltip-placement="bottom" uib-tooltip="Toàn màn hình">
            <i class="fas fa-arrows-alt"></i>
        </a>
    </div>
    <div class="pull-left">
        <a class="product-btn-toolbar color-5cb85c" tooltip-placement="bottom" uib-tooltip="Thêm dòng dữ liệu">
            <i class="fas fa-plus"></i>
        </a>
        <a class="product-btn-toolbar color-d9534f" tooltip-placement="bottom" uib-tooltip="Xóa bản ghi">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>