<div class="bv-step-3-default  padding0  display-flex " id="bv-step-3" >
    <div class="bv-step-title text-center hidden-xs hidden-sm " ng-click="vm.closeOpenStep('step3')">
        <p class="fas {{ vm.typeArrowThree }}"></p>
        <p>3</p>
        <span>Thông tin đơn hàng</span>
    </div>
    
    <!-- Include summary -->
    <div ng-include="'apps/product/tvc/view/summary.html'" class=" bv-display-step" id="includeStep3"></div>
    
    <div>
        <button class="bv-btn-step3"  ng-click="vm.createNewPolicy()" >
            Tạo đơn hàng
        </button>
    </div>
</div>