<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0  margin-top-10">
	<form name="form">
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Sản phẩm <strong data-translate="global.product.name.{{vm.policy.productCode}}">Bảo hiểm ô tô</strong></p>
	    </div>
	    <!-- Khách hàng -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Khách hàng<span class="bv-req-red">&nbsp(*)</span></p>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	        <div class="width-100 padding0 margin-right-5">
	        	<div class="input-group display-flex">
	             	<div class="width-100">
	                 	<input type="text" name="contactName" class="bv-input" placeholder="Nhập khách hàng" disabled="disabled">
	             	</div>
	             	<div class="input-group-addon bv-date-icon">
	                 	<span class="fa fa-plus"></span>
	             	</div>
	            </div>
	        </div>
	    </div>
	    <!-- Phí bảo hiểm -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Phí bảo hiểm<span class="bv-req-red">&nbsp(*)</span></p>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0" >
	        <input type="number" class="bv-input" placeholder="Nhập phí bảo hiểm" /> <!-- numeric-only -->
	    </div>
	    <!-- Giấy yêu cầu bảo hiểm - Upload -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Giấy yêu cầu bảo hiểm<span class="bv-req-red">&nbsp(*)</span></p>
	    </div>
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 " >
            <div class="box">
                <input type="file" id="file-7" class="inputfile inputfile-6" ngf-select="vm.uploadGycbh($file, $invalidFiles)" 
                		ng-model="gycbhFile" name="gycbhFile" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile"/>
                <label for="file-7">
                    <span ng-show="gycbhFile">{{gycbhFile.name}}</span>
                    <span ng-show="!gycbhFile">Nhập giấy yêu cầu bảo hiểm</span>
                    <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
					</strong>
                </label>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 display-flex">
        	<i class="bv-req-red" ng-show="form.gycbhFile.$error.required">*Bắt buộc</i><br>
	      	<i ng-show="form.gycbhFile.$error.maxSize">File hiện tại {{errorFile.size / 1000000|number:1}}MB: lớn hơn 2M</i>
            <img style="width: 40px" ng-show="form.gycbhFile.$valid" ngf-thumbnail="gycbhFile" class="thumb">
            <button ng-click="gycbhFile = null" ng-show="gycbhFile" style="background: transparent;border: 0;"><i class="fas fa-trash-alt"></i></button>
        </div>
        
	    <!-- Ấn chỉ - Upload -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Ấn chỉ<span class="bv-req-red">&nbsp(*)</span></p>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	        <div class="width-100 padding0 margin-right-5">
	        	<div class="input-group display-flex">
	             	<div class="width-100">
	                 	<input type="text" name="thoihanbhTu" class="bv-input" placeholder="Nhập ấn chỉ">
	             	</div>
	             	<div class="input-group-addon bv-date-icon">
	                 	<span class="fa fa-upload"></span>
	             	</div>
	            </div>
	        </div>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	    	<input type="file" ngf-select="vm.uploadAnchi($file, $invalidFiles)" ng-model="anchiFile" name="anchiFile"    
	             		accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
			<span class="bv-req-red" ng-show="form.anchiFile.$error.required">*Bắt buộc</span><br>
	      	<i ng-show="form.anchiFile.$error.maxSize">File hiện tại {{errorFile.size / 1000000|number:1}}MB: lớn hơn 2M</i>
	      	<img style="width: 40px" ng-show="form.anchiFile.$valid" ngf-thumbnail="anchiFile" class="thumb"> 
	      	<button ng-click="anchiFile = null" ng-show="anchiFile">Remove</button>
	    </div>
	    
	    <!-- Ảnh giám định - Upload -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Ảnh giám định<span class="bv-req-red">&nbsp(*)</span></p>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	        <div class="width-100 padding0 margin-right-5">
	        	<div class="input-group display-flex">
	             	<div class="width-100">
	                 	<input type="text" name="thoihanbhTu" class="bv-input" placeholder="Nhập ảnh giám định">
	             	</div>
	             	<div class="input-group-addon bv-date-icon">
	                 	<span class="fa fa-upload"></span>
	             	</div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	    	<input type="file" ngf-select="vm.uploadImgGiamdinh($file, $invalidFiles)" ng-model="imgGiamdinhFile" name="imgGiamdinhFile"    
	             		accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
			<i ng-show="form.imgGiamdinhFile.$error.required">*Bắt buộc</i><br>
	      	<i ng-show="form.imgGiamdinhFile.$error.maxSize">File hiện tại {{errorFile.size / 1000000|number:1}}MB: lớn hơn 2M</i>
	      	<img style="width: 40px" ng-show="form.imgGiamdinhFile.$valid" ngf-thumbnail="imgGiamdinhFile" class="thumb"> 
	      	<button ng-click="imgGiamdinhFile = null" ng-show="imgGiamdinhFile">Remove</button>
	    </div>
	    <!-- Tài liệu khác -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0">
	        <p class="bv-title-from">Tài liệu khác</p>
	    </div>
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	        <div class="width-100 padding0 margin-right-5">
	        	<div class="input-group display-flex">
	             	<div class="width-100">
	                 	<input type="text" name="thoihanbhTu" class="bv-input" placeholder="Nhập Tài liệu khác">
	             	</div>
	             	<div class="input-group-addon bv-date-icon">
	                 	<span class="fa fa-upload"></span>
	             	</div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 display-flex" >
	    	<input type="file" ngf-select="vm.uploadOtherDoc($file, $invalidFiles)" ng-model="otherDocFile" name="otherDocFile"    
	             		accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
			<i ng-show="form.otherDocFile.$error.required">*Bắt buộc</i><br>
	      	<i ng-show="form.otherDocFile.$error.maxSize">File hiện tại {{errorFile.size / 1000000|number:1}}MB: lớn hơn 2M</i>
	      	<img style="width: 40px" ng-show="form.otherDocFile.$valid" ngf-thumbnail="otherDocFile" class="thumb"> 
	      	<button ng-click="otherDocFile = null" ng-show="otherDocFile">Remove</button>
	    </div>
	    <!-- Button -->
	    <div class="margin-top-10 col-lg-12  col-md-12 col-sm-12 col-xs-12 padding0 text-center">
	        <button class="bv-gh-tt">
	            Thanh toán
	        </button>
	        <button class="bv-btn-default">
	            Hủy bỏ
	        </button>
	    </div>
	</form>
</div>